.glyphicon:before
{
	line-height : 2;
}

.icon-daily-tickets:before
{
	content : @ticket;
}

.icon-season-passes:before
{
	content : @list-alt;
}

.icon-meal-deals:before
{
	content : @food;
}

.icon-the-flash-pass:before
{
	content : @bolt;
}

.icon-parking:before
{
	content : @road;
}

.icon-dining:before
{
	content : @food;
}

.icon-rentals-and-add-ons:before
{
	content : @certificate;
}

// ============================================
//		FONTCUSTOM CUSTOM CHANGES
// ============================================
.icon_cart
{
	font-size : 15px;
}