// ============================================
//        FONT IMPORTS
// ============================================

@font-face
{
	font-family : Arabella;
	src         : url('/fonts/Arabella.ttf');
}

.font-regular (@size: inherit) {
	font-family : font-regular;
	font-weight : normal;
	font-size   : @size;
}

.font-regular-italic (@size: inherit) {
	font-family : font-regular-italic;
	font-weight : normal;
	font-style  : italic;
	font-size   : @size;

}

.font-semi-bold (@size: inherit) {
	font-family : font-semi-bold;
	font-weight : bold;
	font-size   : @size;
}

.font-bold (@size: inherit) {
	font-family : font-bold;
	font-weight : bold;
	font-weight : normal;
	font-size   : @size;
}
