//remove any animation before page completes
.preload
{
	.transition(none);
}

@media only print
{
	.print
	{
		display : none;
	}
}

#main-wrapper
{
	height           : 100%;
	width            : 100%;
	position         : absolute;
	background-color : #ffffff;
	min-height       : 420px;
	overflow-x       : hidden;
	@media only print
	{
		overflow-x : visible;

	}
}

.cards
{
	width     : 100%;
	height    : 100%;
	position  : absolute;
	min-width : 304px;

}

#application-view
{
	z-index             : 3;
	background-color    : @white;
	-webkit-transition  : all 250ms linear;
	transition          : all 250ms linear;
	-webkit-perspective : 1000;
	border-right        : 1px solid @color-border;
	-webkit-box-shadow  : 5px 0px 3px -5px @color-border;
	right               : -1px;
	.toggl
	{
		display        : none;
		pointer-events : none;
	}
}

.navigation-content
{
	min-height    : 100%;
	height        : 100%;
	overflow-x    : hidden;
	padding-right : 60px;
}

#navigation-view,
#application-view
{
	-webkit-transform : translate3d(0, 0, 0);
	::-webkit-scrollbar
	{
		width : 0px;
	}
}

.scrollContent
{
	height           : 100%;
	background-color : @background-color;

	@media only screen
	{
		overflow-y                 : auto;
		overflow-x                 : hidden;
		-webkit-overflow-scrolling : touch;
	}

	.clearfix;
	::-webkit-scrollbar
	{
		width : 0px;
	}
}
