@media (max-width: @screen-tablet)
{
	[class*="tablet-"], [class^=" tablet-"]
	{
		display : none;
	}
}

@media (min-width: 430px)
{

}

@media (min-width: @screen-tablet)
{

	.menu-button, .cart-container
	{
		display : none !important;
	}

	.help-container
	{
		float : right;
	}

	.keywords, .table-navigation-menu
	{
		display : block;
	}

	#application-view
	{
		.application-body-container
		{
			&.paypal-checkout
			{
				margin-top : -68px;
			}
		}
	}

	.package-details-buttons
	{
		display : none;
	}

	.package-details,
	.package-rates,
	.receipt-view,
	.tickets-view
	{
		display : inline-block;
	}

	.row
	{
		.col-6, .col-sm-6
		{
			&:first-child
			{
				.panel
				{
					margin-right : 5px;
				}
			}
			&:last-child
			{
				.panel
				{
					margin-left : 5px;
				}
			}
		}

	}

	.modal
	{
		.icon-modal-close
		{
			top : 38px;
		}

	}
}



