body, html
{
	min-height                  : 100%;
	height                      : 100%;
	width                       : 100%;
	min-width                   : 304px;
	margin                      : 0px;
	padding                     : 0px;
	overflow                    : hidden;
	background-color            : @white;

	.backface-visibility(hidden);
	-webkit-background-clip     : padding-box;
	-webkit-tap-highlight-color : rgba(0, 0, 0, 0);
	-webkit-font-smoothing      : antialiased;

	.select-disabled;

}

body
{
	.font-regular;

	[ng\:cloak],
	[ng-cloak],
	[data-ng-cloak],
	[x-ng-cloak],
	.ng-cloak,
	.x-ng-cloak,
	.hidden,
	i.hidden,
	li.hidden
	{
		display : none;
	}

	#debug-toggle
	{
		position : fixed;
		bottom   : 0px;
		right    : 0px;
		height   : 35px;
		width    : 35px;
		z-index  : (@zindexOutOfScope * 2);
	}

	#debug
	{
		z-index              : @zindexOutOfScope;
		left                 : 0px;
		right                : 0px;
		bottom               : 0px;
		background-color     : @black;
		position             : absolute;
		overflow             : auto;
		-webkit-overflow     : touch;
		-moz-webkit-overflow : touch;
		-ms-webkit-overflow  : touch;
		-o-webkit-overflow   : touch;
		webkit-overflow      : touch;
		width                : 100%;
		height               : 100%;

		nav
		{
			display    : table;
			position   : fixed;
			top        : 0px;
			left       : 0px;
			right      : 0px;
			height     : 40px;
			background : @black;
			width      : 100%;
			z-index    : (@zindexOutOfScope * 2);
			a
			{
				display     : table-cell;
				text-align  : center;
				line-height : 40px;
				border      : 0px;
				margin      : 0px;
				background  : #222222;
				border-left : 1px #666666 solid;
				color       : @white;
				font-weight : bold;
			}
			a.selected
			{
				background : @black;
			}
		}
		ul
		{
			padding : 0px;
			margin  : 50px 0px;
			li
			{
				color           : @white;
				list-style-type : none;
				padding         : 0px 10px;
				margin          : 0px;
				border-top      : 1px #333333 dotted;
				pre
				{
					color       : @white;
					font-weight : 100;
					font-size   : 10px;
					font-family : monospace;
					background  : @black;
					border      : none;
					padding     : 0px;
					border      : 0px;
					margin      : 0px;
				}
			}
		}
	}

	#loading
	{
		position   : fixed;
		top        : 0px;
		left       : 0px;
		right      : 0px;
		bottom     : 0px;
		z-index    : @zindexOutOfScope;
		height     : 100%;
		.opacity(95);
		background : @white;

		.spinner
		{
			position : absolute;
			margin   : 0 auto;
			top      : 50%;
		}

		.loadingMessage
		{
			text-align     : center;
			font-family    : font-semi-bold;
			position       : absolute;
			top            : 50%;
			margin-top     : 50px;
			width          : 100%;
			color          : #353535;
			text-transform : uppercase;
			font-size      : 10px;
			letter-spacing : 2px;
		}

		.ellipse
		{
			font-size  : 14px;
			text-align : center;
			position   : absolute;
			top        : 50%;
			margin-top : 60px;
			width      : 100%;
		}
	}

}

/** ============================================
	THE IPHONE DIMENSIONS
	Status Bar: 20px
	Address Bar: 60px
	Orientation:
	PORTRAIT
	Nav Bar: 44px
	with Status Bar: 356px
	without Status Bar: 416px
	LANDSCAPE
	Nav Bar: 32px
	with Status Bar: 208px
	without Status Bar: 268px
	============================================ **/
#navigation-view
{
	.application-body-container
	{
		min-height : 100%;
		margin-top : -91px;
		.clearfix;
		.body-container-no-padding
		{
			margin-top : 172px;
		}
	}
}

#application-view
{
	.application-body-container
	{
		min-height : 100%;
		.clearfix;
		.body-container-no-padding
		{
			margin-top : 82px;
		}

		.body-container
		{
			margin : 101px 10px 0px;
		}

		&.footer-buttons
		{
			margin-top : -68px;
			.body-container
			{
				margin : 160px 10px 0px;
			}
			.body-container-no-padding
			{
				margin : 150px 0px 0px;

			}
		}
		&.secondary-footer-buttons
		{
			margin-top : -114px;
			.body-container
			{
				margin : 205px 10px 0px;

			}

			.body-container-no-padding
			{
				margin : 196px 0px 0px;
			}
		}
	}
}