body, html
{

	margin                      : 0px;
	padding                     : 0px;
	background-color            : #ffffff;
	overflow-x                  : hidden;

	-webkit-background-clip     : padding-box;
	-webkit-tap-highlight-color : rgba(0, 0, 0, 0);
	-webkit-font-smoothing      : antialiased;

	.select-disabled;
	overflow-x                  : hidden;

	&.navigation-enabled
	{
		overflow : hidden;
	}

}

body
{
	font-size      : 14px;
	min-width      : 100%;
	max-width      : 100%;
	text-rendering : optimizelegibility;

	[ng\:cloak],
	[ng-cloak],
	[data-ng-cloak],
	[x-ng-cloak],
	.ng-cloak,
	.x-ng-cloak,
	.hidden,
	i.hidden,
	li.hidden
	{
		display : none;
	}

	#debug-toggle
	{
		position : fixed;
		bottom   : 0px;
		right    : 0px;
		height   : 35px;
		width    : 35px;
		z-index  : (@zindexOutOfScope * 2);
	}

	#debug
	{
		z-index              : @zindexOutOfScope;
		left                 : 0px;
		right                : 0px;
		bottom               : 0px;
		background-color     : @black;
		position             : absolute;
		overflow             : auto;
		-webkit-overflow     : touch;
		-moz-webkit-overflow : touch;
		-ms-webkit-overflow  : touch;
		-o-webkit-overflow   : touch;
		webkit-overflow      : touch;
		width                : 100%;
		height               : 100%;

		nav
		{
			display    : table;
			position   : fixed;
			top        : 0px;
			left       : 0px;
			right      : 0px;
			height     : 40px;
			background : @black;
			width      : 100%;
			z-index    : (@zindexOutOfScope * 2);
			a
			{
				display     : table-cell;
				text-align  : center;
				line-height : 40px;
				border      : 0px;
				margin      : 0px;
				background  : #222222;
				border-left : 1px #666666 solid;
				color       : @white;
				font-weight : bold;
			}
			a.selected
			{
				background : @black;
			}
		}
		ul
		{
			padding : 0px;
			margin  : 50px 0px;
			li
			{
				color           : @white;
				list-style-type : none;
				padding         : 0px 10px;
				margin          : 0px;
				border-top      : 1px #333333 dotted;
				pre
				{
					color       : @white;
					font-weight : 100;
					font-size   : 10px;
					font-family : monospace;
					background  : @black;
					border      : none;
					padding     : 0px;
					border      : 0px;
					margin      : 0px;
				}
			}
		}
	}

	#loading
	{
		position   : fixed;
		top        : 0px;
		left       : 0px;
		right      : 0px;
		bottom     : 0px;
		z-index    : @zindexOutOfScope;
		height     : 100%;
		.opacity(95);
		background : @white;

		.spinner
		{
			position : absolute;
			margin   : 0 auto;
			top      : 50%;
		}

		.loadingMessage
		{
			text-align     : center;
			font-family    : font-semi-bold;
			position       : absolute;
			top            : 50%;
			margin-top     : 50px;
			width          : 100%;
			color          : #353535;
			text-transform : uppercase;
			font-size      : 10px;
			letter-spacing : 2px;
		}

		.ellipse
		{
			font-size  : 14px;
			text-align : center;
			position   : absolute;
			top        : 50%;
			margin-top : 60px;
			width      : 100%;
		}
	}

}

.preload
{
	transition : none !important;
}

#main-wrapper
{
	min-height       : 100%;
	width            : 100%;
	min-height       : 442px;
	min-width        : 320px;
	background-color : #ffffff;
	margin-top: -1px;
	overflow-x       : hidden;
	@media only print
	{
		overflow-x : visible;
	}

}

.nav-content
{
	padding-right : @navigation-width;
	position      : absolute;
	min-height    : 100%;
	width         : 100%;
}

#navigation-view
{
	z-index    : 1;
	width      : 100%;
	overflow   : hidden;
	box-sizing : border-box;
	min-height : 100%;
	position   : fixed;

	.nav-content
	{
		padding-right              : @navigation-width;
		position                   : absolute;
		height                     : 100%;
		width                      : 100%;
		overflow-y                 : scroll;
		-webkit-overflow-scrolling : touch;
		> *
		{
			-webkit-transform : translateZ(0px);
		}
	}

	::-webkit-scrollbar
	{
		width : 0px;
	}

	.navigation-content
	{
		position   : absolute;
		min-height : 100%;
		overflow   : auto;
		width      : 100%;
	}
}

#application-view
{
	background-color           : #ffffff;
	position                   : absolute;
	-webkit-transition         : 600ms;
	width                      : 100%;
	z-index                    : 2;
	min-height                 : 100%;
	overflow-y                 : auto;
	-webkit-overflow-scrolling : touch;
	border-left                : 1px solid @color-border;
	margin-left                : -1px;
	> *
	{
		-webkit-transform : translateZ(0px);
	}

	.app-content{
		padding-top: 50px;
	}

}

/*************************************
NAVIGATION CONTROL
**************************************/
.navigation-enabled
{
	.application-header
	{
		left        : 100%;
		margin-left : @navigation-width * -1;

	}
	#application-view
	{
		left        : 100%;
		width       : 100%;

		margin-left : (@navigation-width + 1) * -1;
		position    : fixed;
		overflow    : hidden;

	}
	.fix-navigation
	{
		left        : 100%;
		margin-left : @navigation-width * -1;

	}
}

/*************************************
CONTAINER CONTROL
**************************************/

.card-container
{
	overflow : hidden;
}

/*************************************
HEADER
**************************************/
.fix-navigation
{
	position           : fixed;
	z-index            : 1050;
	width              : 100%;
	height             : 50px;
	background-color   : #ffffff;
	border-bottom      : 1px solid @color-border;
	-webkit-transition : @menu-transition-speed all;
	-moz-transition    : @menu-transition-speed all;
	-o-transition      : @menu-transition-speed all;
	transition         : @menu-transition-speed all;

}

.nav-header-content
{
	line-height   : normal;
	height        : 50px;
	border-bottom : 1px solid @color-border;
	border-top : 1px solid @color-border;
}

.menu-btn
{
	margin-left  : -1px;
	position     : absolute;
	width        : @navigation-width + 2;
	height       : 49px;
	top          : 0px;
	cursor       : pointer;
	font-size    : 38px;
	padding      : 5px 7px;
	border-right : 1px solid @color-border;
	border-left  : 1px solid @color-border;
}

.nav-branding
{
	padding-left : 50px;
	width        : 100%;
	height       : 100%;
}



