/** ================================
ERROR MSG
================================ **/
.error-view-image
{
	margin-bottom : 15px;
	img
	{
		display : block;
		margin  : 0px auto;
	}
}

.error-view-panel
{
	.panel-body
	{
		text-align : center;
		p
		{
			font-size : 14px;
		}
	}
}

/** ================================
MISC
================================ **/

.v5-show
{
	display : inline-block;
	&.v5-hide
	{
		display : none;
	}
}

.v5-hide
{
	display : none;
	&.v5-show
	{
		display : inline-block;
	}
}

.text-capitalized
{
	text-transform : capitalize;
}

.padding-top
{
	padding-top : 10px;
}

.padding-top-bottom
{
	padding-top    : 10px;
	padding-bottom : 10px;

}

ul.nostyle
{
	list-style-type       : none;
	-webkit-margin-before : 0px;
	-webkit-margin-after  : 0px;
	-webkit-margin-start  : 0px;
	-webkit-margin-end    : 0px;
	-webkit-padding-start : 0px;
}

b
{
	font-family : font-semi-bold;
	font-size   : 15px;
}

.center
{
	text-align : center;
}

.cursor
{
	cursor : pointer;
}

.limit
{
	color : @color-hover;
}

.text-left
{
	text-align : left;
}

.button-spacers-right
{
	margin-right : 10px;
}

.font-semi-bold
{
	font-size   : 14px;
	font-family : font-semi-bold;
}

.side-padding
{
	padding-left  : 10px;
	padding-right : 10px;
}

.row
{
	.row
	{
		&.no-side-padding
		{
			margin-left  : 0px;
			margin-right : 0px;
		}
	}
}

p
{
	font-size   : 12px;
	line-height : normal;
}

.arrow-up
{

	&:before
	{
		content       : "";
		position      : absolute;
		top           : 100%;
		margin-top    : -6px;
		left          : 50%;
		width         : 0;
		height        : 0;
		border-left   : 7px solid transparent;
		border-right  : 7px solid transparent;
		border-bottom : 7px solid @color-border;
		margin-left   : -7px;
	}
	&:after
	{
		content       : "";
		position      : absolute;
		top           : 100%;
		margin-top    : -5px;
		margin-left   : 1px;
		left          : 50%;
		width         : 0;
		height        : 0;
		border-left   : 6px solid transparent;
		border-right  : 6px solid transparent;
		border-bottom : 6px solid @color-bg;
		margin-left   : -6px;
	}

}

/** ================================
SHADOW
================================ **/
.shadow-bottom
{
	border-bottom      : 1px solid @color-border;
	-webkit-box-shadow : 0px 1px 1px -1px @color-border
}

.shadow-right
{
	border-right       : 1px solid @color-border;
	-webkit-box-shadow : 5px 0px 1px -5px @color-border;
}

/** ================================
BUTTONS
================================ **/
.btn
{
	.border-radius(2px);
	&.large
	{
		padding-left  : 20px;
		padding-right : 20px;
	}
	&.no-margin
	{
		margin-bottom : 0px;
	}
}

/******************************
FIELD LIKE TWITTER.BOOTSTRAP WELL
*******************************/
.fieldset
{
	.border-radius;
	border           : 1px solid @color-border;
	width            : 100%;
	font-size        : 13px;
	background-color : @white;
	.fieldset-header
	{
		min-height       : 10px;
		padding          : 0px 10px;
		.border-radius(5px 5px 0px 0px);
		border           : 1px solid @color-border;
		background-color : @color-header-bg;
		margin           : -1px -1px 0px -1px;
		color            : @color-primary;
		letter-spacing   : 1px;
		text-transform   : uppercase;

	}
	.larger,
	.large
	{
		min-height  : 37.5px;
		line-height : 38px;
		//		font-size: 15px;

	}
	.more-padding
	{
		padding-right : 30px;
		padding-left  : 30px;
	}
	.smaller
	{
		min-height  : 40px;
		line-height : 30px;
		font-size   : 10px;

	}
	.fieldset-body
	{
		min-height : 37.5px;
		padding    : 10px;
		font-size  : 12px;
		color      : @color-default-light;
		ul
		{
			list-style-type : disc;
			margin-left     : 20px;
			li
			{
				padding-bottom : 5px;
			}
		}

		p
		{
			padding-bottom : 5px;
		}

	}

	p
	{
		margin      : 5px 0px;
		font-family : font-semi-bold;
		font-size   : 12px;
	}
}

.no-formatting *,
.no-formatting:hover *
{
	font-size      : inherit;
	font-weight    : inherit;
	color          : inherit;
	background     : inherit;
	font-style     : inherit;
	text-transform : inherit;
}

.sprite,
img[src$=".gif"],
img[src$=".png"]
{
	image-rendering        : -moz-crisp-edges; /* Firefox */
	image-rendering        : -o-crisp-edges; /* Opera */
	image-rendering        : -webkit-optimize-contrast; /* Webkit (non-standard naming) */
	image-rendering        : crisp-edges;
	-ms-interpolation-mode : nearest-neighbor; /* IE (non-standard property) */
}
