@black: #000000;
@white: #ffffff;

@zindexUnderNav: 1020;
@zindexFixedNavbar: 1030;
@zindexModalBackdrop: 1040;
@zindexModal: 1050;
@zindexOutOfScope: 999999;

// ===========================
//  ELEMENTS COLORS
// ============================================
@color-bg: #eaedf1;
//font default color
@color-primary: #444444;
//font subcolor
@color-secondary: #009cff;
// ============================================
//  BUTTONS COLORS
// ============================================
//default button
@btn-default: #f1f1f1;
@btn-default-border: #c6c6c6;
//primary button
@btn-primary: #009cff;
@btn-primary-border: #0066cc;
//secondary button
@btn-secondary: #82ce34;
@btn-secondary-border: #00ac4d;
//warning button
@btn-warning: #d74e4f;
@btn-warning-border: #d74e4f;
//info button
@btn-info: #0080ff;
@btn-info-border: #0080ff;
//paypal
@btn-paypal: #0080ff;
@btn-paypal-border: #0080ff;

// ============================================
//     HEADERS
// ============================================
@color-header-bg: #f1f1f1;
@color-header-border: #dadada;
@color-header-font: #626262;

// ============================================
//     COLORS DEFS
// ============================================
@color-hover: #40a0ff;

//additional color elements
@color-border: #c6c6c6;
@color-border-darker: #aaaaaa;

@color-default: #959595;
@color-default-light: #959595;
@color-default-lighter: #b5b5b5;
@color-default-lightest: #d5d5d5;

// ============================================
//   MISC, SIZES AND SPEED CONTROL
// ============================================
@label-width: 60px;
@navigation-width: 50px;
@menu-transition-speed: 600ms;

// ============================================
//      IMAGE PATHS
// ============================================

.sprite
{
	display : inline-block;
}

// Temporarily disable retina versions of sprite until issues corrected
@media (min--moz-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(-webkit-min-device-pixel-ratio: 2),
(min-device-pixel-ratio: 2)
{
	.sprite
	{
		-moz-background-size    : auto;
		-ie-background-size     : auto;
		-o-background-size      : auto;
		-webkit-background-size : auto;
		background-size         : auto;
	}
}
