<div class="application-body-container footer-buttons" id="flashPass-step-5">
	<div class="body-container-no-padding">

		<div class="row topbar-placement large flash-pass-keyword">
			<div class="col-xs-12">
				<div class="btn-group btn-group-justified">
					<a class="btn btn-default">
						<span data-ng-bind="model.keyword"></span>
					</a>
				</div>
			</div>
		</div>
		<div class="row side-padding" data-animate>
			<div class="col-xs-12 col-sm-12">
				<div class="panel panel-default flash-pass-package-header">
					<div class="btn-group gradient">
						<button type="button" class="btn" data-ng-click="showFPInfo(i18n.FlashPass.best)">
							<div class="flash-pass-icons">
								<span class="icon-bolt gradient-gold"></span>
								<span class="icon-bolt gradient-gold"></span>
								<span class="icon-bolt gradient-gold"></span>
							</div>
							<span class="flash-pass-pgk-title" data-ng-bind-html-unsafe="i18n.FlashPass.packageSelectorLightningTitle"></span>
						</button>
						<button type="button" class="btn" data-ng-click="showFPInfo(i18n.FlashPass.better)">
							<div class="flash-pass-icons">
								<span class="icon-bolt gradient-gold"></span>
								<span class="icon-bolt gradient-gold"></span>
							</div>
							<span class="flash-pass-pgk-title" data-ng-bind-html-unsafe="i18n.FlashPass.packageSelectorTurboTitle"></span>
						</button>
						<button type="button" class="btn" data-ng-click="showFPInfo(i18n.FlashPass.good)">
							<div class="flash-pass-icons">
								<span class="icon-bolt gradient-gold"></span>
							</div>

							<span class="flash-pass-pgk-title" data-ng-bind-html-unsafe="i18n.FlashPass.packageSelectorBaseTitle"></span>
						</button>
					</div>
				</div>
			</div>
			<!--------------------------------------------
			FLASH PASS GROUPS
			---------------------------------------------->
			<div class="row" data-ng-repeat="group in model.groups">
				<div class="panel panel-default flash-pass-groups  package-items cart-items">
					<div class="panel-heading cart-heading">
						<div data-ng-bind="group.name"></div>
						<div class="group-count limit">(<span class="count" data-ng-bind="group.qty"></span>)
						</div>
					</div>
					<ul class="list-group">
						<li class="list-group-item" id="1"
						    data-ng-repeat="category in group.categories"
						    class="row border-bottom"
						    data-ng-class="{selected: category.selected}"
						    data-ng-click="handleCategoryChanged(group, category)">
							<div class="pgk package-name customer-type cart-package-name">
								<div class="cell1">
									<input
										type="radio"
										id="{{category.groupName}}-{{$index}}"
										name="{{category.groupName}}"
										class="regular-radio"
										data-ng-value="true"
										data-ng-change="handleCategoryChanged(group, category)"
										data-ng-model="category.selected"/>
									<label for="{{category.groupName}}-{{$index}}"></label>
								</div>
								<div class="cell2">
									<span class="cartItem-package-name" data-ng-bind="category.name"></span>
								</div>
							</div>
							<div class="pgk right-container">
								<div class="pgk cart-view-price font-semi-bold"
								     data-ng-bind="category.price | currencyFormatter : $root.currencyCode"></div>
							</div>

						</li>
					</ul>
				</div>
			</div>
			<!--------------------------------------------
			TAXES
			---------------------------------------------->
			<div class="row">
				<div class="panel panel-default flash-pass-subtotal">
					<div class="panel-heading" data-ng-bind="i18n.CartView.subtotal"></div>
					<div class="panel-body">
						<span class="price-value-label" data-ng-bind="i18n.FlashPass.selectionTotalLbl"></span>
						<span class="price-value pull-right" data-ng-bind="selectionTotal | currencyFormatter : $root.currencyCode"></span>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
</div>
<div class="row">
	<div class="col-xs-12 col-md-6 pull-right">
		<div class="row btn-row">
			<div class="col-xs-6 col-md-6">
				<div class="button-spacers">
					<button
						on-tap
						type="button" class="btn btn-default btn-block"
						data-ng-click="routeToStep(4)"
						data-ng-bind="i18n.ButtonLabels.backButton">
					</button>
				</div>
			</div>
			<div class="col-xs-6 col-md-6">
				<div class="button-spacers">
					<button
						on-tap
						type="button" class="btn btn-success btn-block"
						data-ng-click="addToCart()"
						data-ng-bind="i18n.ButtonLabels.continueButton">
					</button>
				</div>
			</div>
		</div>
	</div>
</div>


