<div class="application-body-container footer-buttons" id="flashPass-step-4">
	<div class="body-container-no-padding">

		<div class="row topbar-placement large flash-pass-keyword">
			<div class="col-xs-12">
				<div class="btn-group btn-group-justified">
					<a class="btn btn-default">
						<span data-ng-bind="model.keyword"></span>
					</a>
				</div>
			</div>
		</div>
		<div class="row side-padding">
			<div class="col-xs-12 col-sm-12">
				<div class="panel panel-default flash-pass-image-header">
					<img src="/img/{{i18n.FlashPass.step2Image}}" class="flash-image"/>

					<div class="header-text" data-ng-bind-html-unsafe="i18n.FlashPass.noWaitingInLineMsg"></div>
				</div>
			</div>
		</div>

		<div class="row side-padding" data-animate>
			<div class="col-xs-12 col-sm-6">
				<div class="panel panel-default">
					<div class="panel-body  flash-pass center">
						<div data-ng-bind-html-unsafe="i18n.FlashPass.selectDate"></div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6">
				<div class="panel panel-default flash-pass-calendar">
					<div
						id="datePickerCtrl"
						calendar-directive
						callbacks="callbacks"
						cal-options="calOptions"
						selected-date="selectedDate"
						check
						class="calendar-container">
					</div>
				</div>

				<div class="panel panel-default flash-pass-selected-date">
					<em data-ng-bind="selectedDate | date:'fullDate'"></em>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
<div class="row">
	<div class="col-xs-12 col-md-6 pull-right">
		<div class="row btn-row">
			<div class="col-xs-6 col-md-6">
				<div class="button-spacers">
					<button
						on-tap
						type="button" class="btn btn-default btn-block"
						data-ng-click="routeToStep(3)"
						data-ng-bind="i18n.ButtonLabels.backButton">
					</button>
				</div>
			</div>
			<div class="col-xs-6 col-md-6">
				<div class="button-spacers">
					<button
						on-tap
						type="button" class="btn btn-success btn-block"
						data-ng-click="routeToStep(5)"
						data-ng-bind="i18n.ButtonLabels.continueButton">
					</button>
				</div>
			</div>
		</div>
	</div>
</div>


