<div class="application-body-container footer-buttons" id="package-details">
	<div class="body-container-no-padding">

		<div class="row topbar-placement large">
			<div class="col-xs-12">
				<div class="btn-group btn-group-justified">
					<a class="btn btn-default">
						<span data-ng-bind="model.keyword"></span>
					</a>
				</div>
			</div>
		</div>
		<div class="row side-padding" data-animate >
			<div class="col-xs-12 col-md-12">
				<div class="panel panel-default">
					<div class="panel-heading" data-ng-bind="i18n.FlashPass.importantInforamtionTitle"></div>
					<div class="panel-body flash-pass-important-information" data-ng-bind-html-unsafe="i18n.FlashPass.termsText"></div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
<div class="row">
	<div class="col-xs-12 col-md-6 pull-right">
		<div class="row btn-row">
			<div class="col-xs-12">
				<div class="button-spacers paypal-button">
					<button
						on-tap
						type="button" class="btn btn-success btn-block"
						data-ng-click="routeToStep(2)"
						data-ng-bind="i18n.ButtonLabels.getStartedWithFlashPass">
					</button>
				</div>
			</div>

		</div>
	</div>
</div>


