<div class="application-body-container footer-buttons" id="flashPass-step-2">
	<div class="body-container-no-padding">

		<div class="row topbar-placement large flash-pass-keyword">
			<div class="col-xs-12">
				<div class="btn-group btn-group-justified">
					<a class="btn btn-default">
						<span data-ng-bind="model.keyword"></span>
					</a>
				</div>
			</div>
		</div>
		<div class="row side-padding">
			<div class="col-xs-12 col-sm-12">
				<div class="panel panel-default flash-pass-image-header">
					<img src="/img/{{i18n.FlashPass.step2Image}}" class="flash-image" />
					<div class="header-text" data-ng-bind-html-unsafe="i18n.FlashPass.noWaitingInLineMsg"></div>
				</div>
			</div>
		</div>
		<div class="row side-padding flash-pass-row" data-animate >
			<div class="col-xs-12">
				<div class="panel panel-default">
					<div class="panel-body flash-pass-centered">
						<div class="flash-pass-string" data-ng-bind="i18n.FlashPass.partySize"></div>

						<div class="input-group button-stepper">
								<span class="input-group-btn">
									<button class="btn btn-default"
										on-tap
										type="button"
										data-ng-disabled="model.numGuests == 0"
										data-ng-click="decrementQty()">
										<span class="glyphicon glyphicon-minus"></span>
									</button>
								</span>
							<input class="form-control"
								type="tel"
								data-ng-model="model.numGuests"
								size="3"
								numbers-only
								data-ng-change="onQtyChange()"
								maxlength="3"/>
								<span class="input-group-btn">
									<button class="btn btn-default"
										on-tap
										type="button"
										data-ng-click="incrementQty()">
										<span class="glyphicon glyphicon-plus"></span>
									</button>
								</span>
						</div>

					</div>
				</div>
			</div>
			<div class="col-xs-12">
				<div class="panel panel-default">
					<div class="panel-body flash-pass-centered">
						<div class="flash-pass-string" data-ng-bind="i18n.FlashPass.stayingTogether"></div>

						<div class="checkboxes">
							<div class="checkbox-group">
								<input
									type="checkbox"
									id="chkYes"
									class="regular-checkbox large"
									data-ng-checked="chkYesVal"
									data-ng-disabled="!enableYes"
									data-ng-true-value="1"
									data-ng-false-value="0"
									data-ng-change="handleChkChanged('yes')"
									data-ng-model="chkYesVal"
									name="chkYes">
								<label for="chkYes" class="cursor">
									<span class="icon icon_checkmark-v5"></span>
								</label>

								<div class="description large" data-ng-bind="i18n.FormLabels.yes"></div>
							</div>
							<div class="checkbox-group">
								<input
									type="checkbox"
									id="chkNo"
									class="regular-checkbox large"
									data-ng-checked="chkNoVal"
									data-ng-disabled="!enableNo"
									data-ng-true-value="1"
									data-ng-false-value="0"
									data-ng-change="handleChkChanged('no')"
									data-ng-model="chkNoVal"
									name="chkNo">
								<label for="chkNo" class="cursor">
									<span class="icon icon_checkmark-v5"></span>
								</label>

								<div class="description large" data-ng-bind="i18n.FormLabels.no"></div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
<div class="row">
	<div class="col-xs-12 col-md-6 pull-right">
		<div class="row btn-row">
			<div class="col-xs-6 col-md-6">
				<div class="button-spacers">
					<button
						on-tap
						type="button" class="btn btn-default btn-block"
						data-ng-click="routeToStep(1)"
						data-ng-bind="i18n.ButtonLabels.backButton">
					</button>
				</div>
			</div>
			<div class="col-xs-6 col-md-6">
				<div class="button-spacers">
					<button
						on-tap
						type="button" class="btn btn-success btn-block"
						data-ng-click="routeToStep(3)"
						data-ng-bind="i18n.ButtonLabels.continueButton">
					</button>
				</div>
			</div>
		</div>
	</div>
</div>


