<div class="application-body-container footer-buttons secondary-footer-buttons" id="package-details">
<div class="body-container-no-padding">

<div class="row topbar-placement large">
	<div class="col-xs-12">
		<div class="btn-group btn-group-justified">
			<a class="btn btn-default">
				<span data-ng-bind="model.keyword"></span>
			</a>
		</div>
	</div>
</div>
<div class="row side-padding" data-animate >
<div class="col-xs-12 col-md-12">
	<div class="panel panel-default flash-pass cursor" data-ng-click="showFPInfo(i18n.FlashPass.good)">
		<div class="panel-heading gradient">
			<div class="flash-pass-title" data-ng-bind="i18n.FlashPass.baseTitle"></div>
			<div class="flash-pass-icons">
				<span class="icon-bolt gradient-gold"></span>
			</div>

		</div>
		<div class="panel-body" data-ng-bind="i18n.FlashPass.baseDescription"></div>
	</div>
	<div class="panel panel-default flash-pass cursor" data-ng-click="showFPInfo(i18n.FlashPass.better)">
		<div class="panel-heading gradient">
			<div class="flash-pass-title" data-ng-bind-html-unsafe="i18n.FlashPass.turboTitle"></div>
		<div class="flash-pass-icons">
			<span class="icon-bolt gradient-gold"></span>
			<span class="icon-bolt gradient-gold"></span>
		</div>
			<span class="stamp sprite turbo"></span>

		</div>
		<div class="panel-body" data-ng-bind="i18n.FlashPass.turboDescription"></div>
	</div>
	<div class="panel panel-default flash-pass cursor" data-ng-click="showFPInfo(i18n.FlashPass.best)">
		<div class="panel-heading gradient">
			<div class="flash-pass-title" data-ng-bind-html-unsafe="i18n.FlashPass.lightningTitle"></div>
			<div class="flash-pass-icons">
				<span class="icon-bolt gradient-gold"></span>
				<span class="icon-bolt gradient-gold"></span>
				<span class="icon-bolt gradient-gold"></span>
			</div>
			<span class="stamp sprite lightning"></span>

		</div>
		<div class="panel-body" data-ng-bind="i18n.FlashPass.lightningDescription"></div>
	</div>
</div>
</div>
</div>
</div>
</div>
<div class="row">
	<div class="col-xs-12 col-md-6 pull-right">
		<div class="row btn-row">
			<div class="col-xs-12 col-md-6">
				<div>
					<button
						on-tap
						type="button" class="btn btn-default btn-block"
						data-ng-click="showAvailableRides()"
						data-ng-bind="i18n.ButtonLabels.seeAvailableRides">
					</button>
				</div>
			</div>
			<div class="col-xs-12 col-md-6">
				<div class="button-spacers paypal-button">
					<button
						on-tap
						type="button" class="btn btn-success btn-block"
						data-ng-click="routeToStep(1)"
						data-ng-bind="i18n.ButtonLabels.buyFlashPassNow">
					</button>
				</div>
			</div>

		</div>
	</div>


</div>


