<div class="application-body-container footer-buttons" id="flashPass-step-3">
	<div class="body-container-no-padding">

		<div class="row topbar-placement large flash-pass-keyword">
			<div class="col-xs-12">
				<div class="btn-group btn-group-justified">
					<a class="btn btn-default">
						<span data-ng-bind="model.keyword"></span>
					</a>
				</div>
			</div>
		</div>
		<div class="row side-padding">
			<div class="col-xs-12 col-sm-12">
				<div class="panel panel-default flash-pass-image-header">
					<img src="/img/{{i18n.FlashPass.step2Image}}" class="flash-image"/>

					<div class="header-text" data-ng-bind-html-unsafe="i18n.FlashPass.noWaitingInLineMsg"></div>
				</div>
			</div>
		</div>

		<div class="row side-padding" data-animate>
			<div class="col-xs-12 col-sm-6">
				<div class="panel panel-default">
					<div class="panel-body  flash-pass center">
						<div data-ng-bind-html-unsafe="i18n.FlashPass.devideGroupMsg"></div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6">
				<!--------------------------------------------
				FLASH PASS GROUPS
				---------------------------------------------->
				<div class="panel panel-default package-items cart-items flash-pass-groups">
					<div class="panel-heading cart-heading">
						<div data-ng-bind="i18n.FlashPass.availableGroups"></div>
						<div class="cart-string limit">
							<span data-ng-bind="i18n.FlashPass.groupCountHeader"></span>
							<span data-ng-bind="model.numGuests"></span>/<span data-ng-bind="groupSum"></span>
						</div>
						<div class="pull-right flash-pass-addGroups-btn">
							<button type="button" class="btn btn-primary btn-xs" data-ng-bind="i18n.ButtonLabels.addGroup"
							        data-ng-click="addGroup()"></button>
						</div>
					</div>
					<ul class="list-group">
						<li class="list-group-item" data-ng-repeat="group in model.groups">
							<div class="flash-pass-group-name">
								<div class="cell2">
									<span class="cartItem-package-name" data-ng-bind="group.name"></span>
								</div>
							</div>

							<div class="flash-pass-button-stepper">
								<div class="btn btn-default flash-pass-delete-gp"
								     data-ng-show="group.showDeleteBtn"
								     data-ng-click="deleteGroup($index)">
									<span class="icon-remove-sign"></span>
								</div>
								<div class="input-group button-stepper pull-right">
								<span class="input-group-btn">
									<button class="btn btn-default"
									        on-tap
									        type="button"
									        data-ng-click="decrementGroupQty($index)">
										<span class="glyphicon glyphicon-minus"></span>
									</button>
								</span>
									<input class="form-control"
									       type="tel"
									       size="3"
									       numbers-only
									       data-ng-model="group.qty"
									       data-ng-change="onGroupQtyChange($index)"
									       maxlength="3"/>
								<span class="input-group-btn">
									<button class="btn btn-default"
									        on-tap
									        type="button"
									        data-ng-click="incrementGroupQty($index)">
										<span class="glyphicon glyphicon-plus"></span>
									</button>
								</span>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
<div class="row">
	<div class="col-xs-12 col-md-6 pull-right">
		<div class="row btn-row">
			<div class="col-xs-6 col-md-6">
				<div class="button-spacers">
					<button
						on-tap
						type="button" class="btn btn-default btn-block"
						data-ng-click="routeToStep(2)"
						data-ng-bind="i18n.ButtonLabels.backButton">
					</button>
				</div>
			</div>
			<div class="col-xs-6 col-md-6">
				<div class="button-spacers">
					<button
						on-tap
						type="button" class="btn btn-success btn-block"
						data-ng-click="routeToStep(4)"
						data-ng-bind="i18n.ButtonLabels.continueButton">
					</button>
				</div>
			</div>
		</div>
	</div>
</div>


