<body data-ng-init="init()" data-ng-controller="MainMenuController">
<div data-ng-include src="'/views/debug.html'"></div>
<div data-ng-include src="'/views/loader.html'"></div>
<div class="main-header print" data-ng-include src="'/views/topbar.html'"></div>
<div id="main-wrapper" class="clearfix ng-cloak" data-ng-class="{'navigation-enabled':state.showMainMenu}">
	<div id="navigation-view"
		class="cards custom-theme print"
		data-ng-class="{'halo-theme':haloTheme}"
		data-ng-include src="'/views/navigation.html'"></div>
	<div id="application-view" class="cards" data-gestures-controller>
		<div class="top-bar-header print">
			<div class="column1">
				<div class="title-wrapper" data-ng-show="showTitle">
					<img
						id="parkLogo"
						width="150"
						height="30"
						class="center-header-image"
						data-ng-show="showParkLogo"
						verify-image-src="{{state.parkLogo}}"/>
					<h3
						data-ng-bind-html-unsafe="state.parkName"
						data-ng-show="!showParkLogo"
						data-ng-class="{ 'twolines':state.parkName.indexOf('<br') > -1 }"></h3>
				</div>
			</div>
			<div class="column2">
				<div class="menu-button" data-ng-click="toggleMenu()" on-tap data-ng-show="showMenuBtn">
					<span class="icon-reorder"></span>
					<span class="menu-title" data-ng-bind="i18n.Menu.title"></span>
				</div>
				<div class="tablet-view-promo-cart">
					<div class="tablet-promo-box">
						<form name="promoForm" ng-submit="submitPromo()" novalidate>
							<div class="promotion input-group">
								<input type="text"
									promotion-box
									clear-input-field
									id="promobox"
									type="text"
									class="form-control"
									placeholder="{{i18n.Menu.promoPlaceholder}}"
									data-ng-model="promoCode"
									required/>
							<span class="input-group-btn">
								<button class="btn btn-primary" type="submit">GO</button>
							</span>
							</div>
						</form>
					</div>

					<div class="btn btn-default btn-xs btn-cart" data-ng-click="routeTo('cartView')">
						<span class="icon icon_cart-v5"></span>
						<span class="string"><span class="cart-string">Cart</span><span data-ng-show="state.cart.totalQty" class="cart-count" data-ng-bind="state.cart.totalQty"></span></span>
					</div>
				</div>
			</div>
		</div>
		<div class="toggl print" data-ng-click="toggleMenu('tap')"></div>
		<div class="scrollContent app-body-content clearfix" id="application-scrollContent" data-custom-animate data-ng-view data-scroll-window data-hm-drag="coffeeTime()">
			<!-- ******************************************
			Will be replaced with templates.
			e.g: packageListView
			packageDetailView
			billingView
			shippingView
			cartView
			ticketView
			receiptView
			orderDetailView
			****************************************** -->
		</div>
	</div>
</div>
<!-- REMOVE THE CLASS HIDE TO SHOW MODAL -->
<div data-ng-include src="'/views/modals.html'"></div>