/** ================================
TO MAKE ANY CHANGES PLEASE VIEW LESS FILE,
COMPILE LESS FILE WITH LESSC FILENAME.LESS FILENAME.CSS

ONCE THE FILE IS COMPILE IT WILL WILL LOAD DYNAMICALLY
ONTO SHOPLAND

TT1542 Change primary colors to #FF9900

================================ **/
#package-list #package-list-container .package-list-item .package-list-item-wrapper .package-list-item-price-box a.package-list-item-buy-button {
  background-color: #ff9900;
  border: 1px solid #ff9900;
}
#package-list #package-list-container .package-list-item .package-list-item-wrapper .package-list-item-price-box a.package-list-item-buy-button:before {
  border-bottom: 8px solid #ff9900;
}
.button-stepper button:last-child {
  background-color: #ff9900;
  border-color: #ff9900;
  border: 1px solid #ff9900 !important;
}
button.button-primary {
  color: #ffffff;
  border: #ff9900 solid 2px !important;
  -moz-border: #ff9900 solid 2px !important;
  -webkit-border: #ff9900 solid 2px !important;
  background-color: #ff9900 !important;
}
