/** ================================
TO MAKE ANY CHANGES PLEASE VIEW LESS FILE,
COMPILE LESS FILE WITH LESSC FILENAME.LESS FILENAME.CSS

ONCE THE FILE IS COMPILE IT WILL WILL LOAD DYNAMICALLY
ONTO SHOPLAND

TT1542 Change primary colors to #FF9900

================================ **/

@primary-color : #ff9900;

#package-list #package-list-container .package-list-item .package-list-item-wrapper .package-list-item-price-box a.package-list-item-buy-button
{
	background-color : @primary-color;
	border           : 1px solid @primary-color;

	&:before
	{
		border-bottom : 8px solid @primary-color;
	}
}

.button-stepper button:last-child
{
	background-color : @primary-color;
	border-color     : @primary-color;
	border           : 1px solid @primary-color !important;
}

button.button-primary
{
	color            : #ffffff;
	border           : @primary-color solid 2px !important;
	-moz-border      : @primary-color solid 2px !important;
	-webkit-border   : @primary-color solid 2px !important;
	background-color : @primary-color !important;
}