/** ================================
TO MAKE ANY CHANGES PLEASE VIEW LESS FILE,
COMPILE LESS FILE WITH LESSC FILENAME.LESS FILENAME.CSS

ONCE THE FILE IS COMPILE IT WILL WILL LOAD DYNAMICALLY
ONTO SHOPLAND
================================ **/

@background-color : #b1e5f7;
@btn-primary: #6bac43;
@btn-secondary: #2494cb;
@color-blue: #7ccce9;
@color-primary: #52016a;
@color-yellow: #ffcd03;

/******************************
HEADERS AND BARS
*******************************/

.main-header
{
	background-color : @color-primary;
}

.app-header
{
	background-color : @color-primary;
	border-top       : 1px solid @color-primary;
	border-bottom    : 1px solid @color-primary;
}

#navigation-view ul.navigation-menu li a span.menu-list-icon
{
	color : @color-primary;
}

