/** ================================
TO MAKE ANY CHANGES PLEASE VIEW LESS FILE,
COMPILE LESS FILE WITH LESSC FILENAME.LESS FILENAME.CSS

ONCE THE FILE IS COMPILE IT WILL WILL LOAD DYNAMICALLY
ONTO SHOPLAND
================================ **/

@background-color : #b1e5f7;
@btn-primary: #6bac43;
@btn-secondary: #2494cb;
@color-blue: #7ccce9;
@color-primary: #2494cb;
@color-yellow: #ffcd03;

/******************************
CHANGE THE BACKGROUND
COLOR THE FOLLOWING MUST CHANGE
*******************************/
.scrollContent
{
	background-color : @background-color;
}

.arrow-up
{
	&:after
	{
		border-bottom : 6px solid @background-color;
	}
}

.sub-keywords
{
	li
	{
		&.selected
		{
			&:after
			{
				border-color : transparent transparent @background-color transparent;
			}
		}
	}
}

/******************************
HEADERS AND BARS
*******************************/

.main-header
{
	background-color : @color-primary;
}

.app-header
{
	background-color : @color-primary;
	border-top       : 1px solid @color-primary;
	border-bottom    : 1px solid @color-primary;
}

#navigation-view ul.navigation-menu li a span.menu-list-icon
{
	color : @color-yellow;
}

/**********************
BUTTONS
***********************/
.btn-success
{
	color: #ffffff;
	background-color : @btn-primary;
	border-color     : @btn-primary;
	&:hover
	{
		color: #ffffff;
		background-color : @btn-primary;
		border-color     : @btn-primary;
	}
}

.btn-primary, .btn-default
{
	color: #ffffff;
	background-color : @btn-secondary;
	border-color     : @btn-secondary;
	&:hover
	{
		color: #ffffff;
		background-color : @btn-secondary;
		border-color     : @btn-secondary;
	}
}

/**********************
PANELS
***********************/
.panel-heading {
	background-color: @color-blue;
	border-bottom: 1px solid @color-blue;
}

.panel-success .panel-heading
{
	background-color : @btn-primary;
	border-color     : @btn-primary;
	border           : 1px solid @btn-primary;
}

.panel-danger .panel-heading
{
	//	border: 1px solid #d74e4f;
	//	background-color:#d74e4f;
	//	border-color: #d74e4f;
	//	border: 1px solid #d74e4f;
}

