.margin-right
{
	margin-right : 5px;
}

.margin-left
{
	margin-left : 5px;
}

.cvc-group
{
	padding-right : 50px;
	position      : relative;
	.security-btn
	{
		position : absolute;
		top      : 0px;
		right    : 0px;
		width    : 40px;
		.btn
		{
			width : 40px;
		}
	}
}

.process-success
{
	color : @color-success;
}