.cart-heading
{
	padding : 10px 9px;
	div
	{
		display : inline-block;
		&.cart-string
		{
			font-size   : 10px;
			font-family : font-semi-bold;
		}
	}

	.btn
	{
		margin-bottom : 0px;
		margin-top    : -3px;
		float         : left;
		margin-left   : 5px;
	}
}

.package-items
{
	.pgk
	{
		&.cart-view-price
		{
			color          : @color-font-default;
			text-transform : uppercase;
			font-size      : 16px;
			text-transform : uppercase;
			text-align     : right;
			position       : relative;
			width          : 66px;
		}
		&.cart-package-name
		{
			width : 55%;
		}
		&.right-container
		{
			width       : 45%;
			text-align  : right;
			line-height : 1px;
		}
		&.cart-qty-label
		{
			padding        : 0px 10px;
			font-size      : 10px;
			text-transform : uppercase;
			text-align     : right;
			position       : relative;
			&:before
			{
				//this is where the vertical line, between QTY and price
				content          : "";
				position         : absolute;
				width            : 1px;
				height           : 18px;
				background-color : @color-default;
				right            : 0px;
				top              : 0px;

			}
			.qty-label
			{
				font-family : font-semi-bold;
			}
			.limit
			{
				font-size : 14px;
			}
		}
		&.cart-button-stepper
		{
			width : 46%;
			.button-stepper
			{
				margin-top : 0px;
			}
		}
		.btn[disabled]
		{
			margin-bottom : 0px;
		}
	}
}

.cell1,
.cell2
{
	display  : inline-block;
	position : relative;
}

.cell2
{
	font-family   : font-semi-bold;
	text-overflow : ellipsis;
	display       : inline-block;
	white-space   : nowrap;
	overflow      : hidden;
	width         : 86%;
}

.cell1
{
	&.cart-remove-icon
	{
		font-size      : 14px;
		color          : @color-default-border;
		width          : 20px;
		vertical-align : top;
		top            : 8px;
	}

}

.package-items .pgk.customer-type
{
	&.long-text
	{
		width : 70%;
	}
}

.cart-package-name
{

	span
	{
		font-size   : 10px;
		line-height : normal;
		display     : block;
	}
	.cartItem-package-name
	{
		width         : 100%;
		font-size     : 12px;
		font-family   : font-semi-bold;
		text-overflow : ellipsis;
		display       : inline-block;
		white-space   : nowrap;
		overflow      : hidden;
	}
	.date, .time, .validFrom
	{
		span
		{
			display : inline-block;
		}
	}
}

.cart-footer
{
	background-color : @white;
	padding          : 10px 10px;
	.subtotal-display-name,
	.subtotal-total
	{
		display     : inline-block;
		font-size   : 16px;
		font-family : font-semi-bold;
	}
	.subtotal-total
	{
		color : @color-success;
	}
}

.discount-items
{
	.cart-package-name
	{
		color : @color-font-sub;
	}
}

#cart-view
{

}

.panel
{
	&.cart-items .list-group .list-group-item
	{
		padding : 10px 10px;
		clear   : both;
		width   : 100%;
		.pgk
		{
			height      : 100%;
			width       : 50%;
			line-height : normal;
			&.cart-view-price
			{
				max-width : 66px;
			}
		}
	}
}

.empty-cart-message
{
	min-height : 44px;
	text-align : center;
	display    : block;
	font-size  : 24px;

}

