.cross-sales-heading
{
	font-size      : 15px;
	font-family    : font-semi-bold;
	letter-spacing : 1px;
	text-align     : center;
	padding        : 10px
}

.cross-sales-keywords
{
	.panel-body
	{
		padding-left   : 140px;
		padding-bottom : 5px;
		position       : relative;
		height         : 70px;
		text-overflow  : ellipsis;
		direction      : ltr;
		overflow       : hidden;
		padding-top: 16px;
		.cross-sales-description
		{
			direction     : ltr;
			text-overflow : ellipsis;
		}
		.no-formatting
		{
			font-size : 12px;
			b
			{
				font-size : 15px;
			}
		}
	}
	.panel-footer
	{
		padding      : 0px;
		padding-left : 140px;
		font-size    : 12px;
		.retail-amount
		{
			font-size : 15px;
		}
		.cross-sales-price-list
		{
			display    : inline-block;
			margin-top : 8px;
		}
	}
}

.cross-sale-img
{
	position      : absolute;
	width         : 120px;
	left          : 15px;
	top           : 10px;
	border        : 1px solid @color-border;
	border-radius : 3px;
}

