/*=============================
DROPDOWNS
=============================*/
.dropdown
{
	-webkit-user-select : none;
	-moz-user-select    : none;
	user-select         : none;
	display             : block;
	position            : relative;
	width               : 100%;
	cursor              : pointer;
	z-index             : 1;
	font-size           : 12px;
	margin-bottom       : 10px;

	.dd-label, label
	{
		display          : block;
		white-space      : nowrap;
		text-overflow    : ellipsis;
		overflow         : hidden;
		height           : 44px;
		line-height      : 44px;
		color            : @color-font-default;
		border-radius    : 4px;
		background-color : @white;
		border           : 1px solid@color-border;
		span
		{
			padding : 0px 10px;
		}

	}
	label
	{
		border  : none;
		padding : 0px 0px;
	}
	ul
	{
		display    : block !important;

		position   : absolute;
		list-style : none;
		width      : 100%;
		display    : none !important;
		margin     : 0px 0px 10px 0px !important;
		li
		{
			display        : block !important;
			text-align     : -webkit-match-parent;
			border-right   : 1px solid @color-border;
			border-left    : 1px solid@color-border;
			margin         : 0;
			padding        : 0;
			vertical-align : baseline;

			input[type="radio"]
			{
				display : none;
			}

			&:last-child
			{

				border-radius : 0px 0px 3px 3px;
				border-bottom : 1px solid @color-border;

			}
		}
	}

}

/*=============================
TOGGLE SWITCHES
=============================*/

.switch
{
	@label-width: 60px;
	position           : relative;
	height             : 26px;
	width              : @label-width * 2;
	background         : rgba(149, 149, 149, 0.25);

	color              : @black;
	font-weight        : bold;
	margin             : 0px;
	-webkit-box-shadow : inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
	box-shadow         : inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
	.oval-corners;
	background-color   : @white;
	border             : @color-border solid 1px;

	label
	{
		margin-bottom : 0px !important;
	}
	.switch-label
	{
		position    : relative;
		z-index     : 2;
		float       : left;
		width       : @label-width;
		line-height : 28px;
		font-size   : 11px;
		color       : @color-default-light;
		text-align  : center;
		cursor      : pointer;
	}

	.switch-input
	{
		display : none;
		&:checked
		{
			+ .switch-label
			{
				font-weight : bold;
				color       : @white;

				.transition(0.15s ease-out);

			}
			+.switch-label-off ~.switch-selection
			{
				left             : @label-width - 4;
				border           : @color-default solid 2px !important;
				-moz-border      : @color-default solid 2px !important;
				-webkit-border   : @color-default solid 2px !important;
				background-color : @color-default !important;
			}

		}

	}

	.switch-selection
	{
		display          : block;
		position         : absolute;
		z-index          : 1;
		width            : @label-width;
		height           : 22px;
		margin           : 0px;

		.transition(left 0.15s ease-out);
		.inset-box-shadow (0px,0px, 0px, 1px, rgba(255, 255, 255, 0.5));
		.oval-corners;
		background-color : @white;
		border           : @color-border solid 1px;
	}

	&.switch-primary
	{
		.switch-selection
		{
			color            : @white;
			border           : @color-primary solid 2px !important;
			-moz-border      : @color-primary solid 2px !important;
			-webkit-border   : @color-primary solid 2px !important;
			background-color : @color-primary !important;
		}
	}

}

