.calendar-container
{
	padding : 0px 20px;
}

.calendar-ui
{
	margin     : 10px 0px 0px;
	text-align : center;
}

table
{
	border-collapse : separate;
	width           : 100%;

	&.calendar-date-time-ui
	{
		margin           : 20px auto 20px;
		.border-radius(3px);
		border           : thin solid @color-default-border;
		background-color : #ffffff;

		.previous,
		.next
		{
			cursor : pointer;
			.btn
			{
				margin-bottom : 0px;
				padding       : 0px 13px;
				font-size     : 15px;
				margin        : 0px 10px;
			}
		}
		.calendar-heading
		{
			height           : 35px;
			border-bottom    : 1px solid @color-default-border;
			background-color : @color-default;
			font-size        : 12px;
			font-family      : font-semi-bold;
			text-transform   : uppercase;
			text-align       : center;
			th
			{
				border-bottom : 1px solid @color-default-border;
			}
		}

		.calendar-week-names
		{
			height    : 25px;
			font-size : 12px;

		}

		.btn
		{
			margin-bottom : 0px;
			padding       : 0px;
		}

		.cal-btn
		{
			width            : 100%;
			padding          : 3px 1px;
			border           : none;
			background-color : #ffffff;
			border-radius    : 3px;

			&[disabled]
			{
				background-color : @white;
				color            : #f1f1f1;
				border           : none;
				opacity          : 1;
			}
			&.date-info,
			&.date-info:hover,
			&.date-info:focus,
			&.date-info:active,
			&.date-info.active,
			&.date-info.disabled,
			&.date-info[disabled]
			{
				color            : @white;
				background-color : @color-font-sub;
			}
		}
	}
}
