.gradient
{
	background-image : linear-gradient(bottom, rgb(239, 38, 42) 3%, rgb(239, 38, 42) 37%, rgb(255, 85, 0) 76%);
	background-image : -o-linear-gradient(bottom, rgb(239, 38, 42) 3%, rgb(239, 38, 42) 37%, rgb(255, 85, 0) 76%);
	background-image : -moz-linear-gradient(bottom, rgb(239, 38, 42) 3%, rgb(239, 38, 42) 37%, rgb(255, 85, 0) 76%);
	background-image : -webkit-linear-gradient(bottom, rgb(239, 38, 42) 3%, rgb(239, 38, 42) 37%, rgb(255, 85, 0) 76%);
	background-image : -ms-linear-gradient(bottom, rgb(239, 38, 42) 3%, rgb(239, 38, 42) 37%, rgb(255, 85, 0) 76%);

	border-color     : #9e0b0f;
	position         : relative;
	margin           : -1px;
	border           : 1px solid #9e0b0f;

	background-image : -webkit-gradient(linear, left bottom, left top, color-stop(0.03, rgb(239, 38, 42)), color-stop(0.37, rgb(239, 38, 42)), color-stop(0.76, rgb(255, 85, 0)));

}

.panel-default > .panel-heading
{
	&.gradient
	{
		border-color : #9e0b0f;
		color        : #ffffff;
		text-shadow  : 0px -1px 0px rgba(0, 0, 0, 0.5);
	}
}

.panel-flashpass-pkg
{
	.panel-heading
	{
		color            : @white;
		background-color : @color-primary;
		border-color     : @color-primary-border;
		margin           : -1px;
		border           : 1px solid @color-primary-border;
		~.panel-footer
		{
			height                  : 130px;
			background              : #ffffff url('/img/sunGlare.jpg') no-repeat center bottom;
			-webkit-background-size : 100%;
			-moz-background-size    : 100%;
			-o-background-size      : 100%;
			background-size         : 100%;
			position                : relative;
			&:before
			{
				content                 : '';
				background              : transparent url('/img/stackedBolts.png') no-repeat center bottom;
				-webkit-background-size : contain;
				-moz-background-size    : contain;
				-o-background-size      : contain;
				background-size         : contain;
				position                : absolute;
				width                   : 100%;
				height                  : 100%;
				top                     : 0px;
				left                    : 0px;
			}
		}
	}
}

.panel-flashpass-availableRides
{
	.panel-heading
	{
		color            : @white;
		background-color : @color-primary;
		border-color     : @color-primary-border;
		margin           : -1px;
		border           : 1px solid @color-primary-border;
		~.panel-footer
		{
			height                  : 130px;
			background              : #ffffff url('/img/sunGlare.jpg') no-repeat center bottom;
			-webkit-background-size : 100%;
			-moz-background-size    : 100%;
			-o-background-size      : 100%;
			background-size         : 100%;
			position                : relative;
			&:before
			{
				content                 : '';
				background              : transparent url('/img/rides.png') no-repeat right bottom;
				-webkit-background-size : contain;
				-moz-background-size    : contain;
				-o-background-size      : contain;
				background-size         : contain;
				position                : absolute;
				width                   : 100%;
				height                  : 100%;
				top                     : 0px;
				left                    : 0px;
			}
		}
	}
	.subheading
	{
		h3
		{
			text-align : left;
		}
		ul
		{
			-webkit-padding-start : 20px;
			li
			{
				padding  : 10px 10px 0px 35px;
				position : relative;
				display  : block;

				&:before
				{
					font-family : "fontcustom";
					content     : "\f100";
					position    : absolute;
					color       : @color-success;

					width       : 20px;
					height      : 20px;
					left        : 5px;
					top         : 10px;
				}
			}
		}
	}
}

.panel-gradient
{
	.panel-heading
	{
		background-image : linear-gradient(bottom, rgb(239, 38, 42) 3%, rgb(239, 38, 42) 37%, rgb(255, 85, 0) 76%);
		background-image : -o-linear-gradient(bottom, rgb(239, 38, 42) 3%, rgb(239, 38, 42) 37%, rgb(255, 85, 0) 76%);
		background-image : -moz-linear-gradient(bottom, rgb(239, 38, 42) 3%, rgb(239, 38, 42) 37%, rgb(255, 85, 0) 76%);
		background-image : -webkit-linear-gradient(bottom, rgb(239, 38, 42) 3%, rgb(239, 38, 42) 37%, rgb(255, 85, 0) 76%);
		background-image : -ms-linear-gradient(bottom, rgb(239, 38, 42) 3%, rgb(239, 38, 42) 37%, rgb(255, 85, 0) 76%);

		border-color     : #9e0b0f;
		position         : relative;
		margin           : -1px;
		border           : 1px solid #9e0b0f;

		background-image : -webkit-gradient(linear, left bottom, left top, color-stop(0.03, rgb(239, 38, 42)), color-stop(0.37, rgb(239, 38, 42)), color-stop(0.76, rgb(255, 85, 0)));

		font-size        : 16px;
		font-family      : font-regular-italic;
		font-weight      : 700;

		.icon-modal-close
		{
			right : 15px;
			top   : 8px;
		}

		h3
		{
			text-shadow : 0px -1px 0px rgba(0, 0, 0, 0.5) !important;
			font-family : font-regular-italic !important;
		}

	}

	.panel-body
	{
		.subheading
		{
			text-align  : left !important;
			font-size   : 14px;
			font-family : font-regular;
			font-weight : 500;
			ul
			{
				font-size : 12px;
				li
				{
					font-family : font-regular;
					font-size   : 12px;
				}
			}
		}
	}

}

.flash-pass-keyword
{
	margin-bottom : 15px;
}

.flash-pass-groups
{
	.cart-heading
	{
		position : relative;
		div.cart-string
		{
			display : block;
		}
	}
	.flash-pass-addGroups-btn
	{
		position : absolute;
		top      : 15px;
		right    : 10px;
		.btn
		{
			padding : 5px 15px;
		}
	}

	.cart-package-name
	{
		width : 63%;
	}
	.right-container
	{
		width : 37%;
	}

	.group-count
	{
		font-size   : 14px;
		font-family : font-semi-bold;
	}
	label
	{
		margin-bottom : -2px;
	}

	.cell1
	{
		margin : 0px 10px;
	}
	.cell2
	{
		width : 83%;
	}

	.panel
	{
		&.cart-items
		{
			.list-group
			{
				.list-group-item
				{
					.pgk
					{
						width : 70%;
					}
				}
			}
		}
		.list-group
		{
			.list-group-item
			{
				&:first-child
				{
					border-top-right-radius : 0px !important;
					border-top-left-radius  : 0px !important;
				}
			}
		}
	}
	.package-items .pgk.right-container
	{
		width : 30%;
	}

	.list-group
	{
		border-radius : 0px;
	}

	li
	{
		&.selected
		{
			background-color        : @color-primary;
			color                   : #ffffff;
			border-top-right-radius : 0px !important;
			border-top-left-radius  : 0px !important;
			.pgk.cart-view-price
			{
				color : #ffffff;
			}

		}
	}

}

.flash-pass-group-name
{
	width     : 80px;
	display   : inline-block;
	font-size : 14px;
}

.flash-pass-button-stepper
{
	width      : 150px;
	display    : inline-block;
	clear      : both;
	float      : right;
	text-align : right;
}

.flash-pass-delete-gp
{
	float         : left;
	margin-bottom : 0px;
	margin-top    : -3px;
	color         : #ff3d35;
	&:hover
	{
		color : #ff3d35;
	}
}

.flash-pass
{
	font-size   : 12px;
	font-family : font-semi-bold;
	.panel-body
	{
		font-family : font-regular-italic;
		font-weight : 500;
		font-size   : 12px;
	}
}

.flash-pass-image-header
{
	height           : 75px;
	position         : relative;
	background-color : #7f0100;
	border           : 1px solid #7f0100;
	.flash-image
	{

		position : absolute;
		height   : 86px;
		top      : -12px;
		left     : -1px;
	}
	.header-text
	{
		position       : absolute;
		font-family    : font-regular;
		font-weight    : 700;
		color          : #ffffff;
		right          : 35px;
		top            : 23px;
		letter-spacing : 1px;
	}
}

.flash-pass-title,
.flash-pass-icons
{
	display : inline-block;
}

.flash-pass-title
{
	padding-right : 20px;
	min-width     : 87px;
	font-size     : 16px;
	font-family   : font-regular-italic;
	font-weight   : 700;
}

.flash-pass-icons
{
	//	color: #ffdf91;
	//  color: #ffbe22;

}

.stamp
{
	position : absolute;
	right    : -14px;
	top      : -7px;
}

.flash-pass-important-information
{
	p
	{
		margin      : 0px 0px 10px 0px;
		font-family : font-semi-bold;
		font-size   : 14px;
	}
	b
	{
		font-weight : 700;
	}
}

.gradient-gold
{
	background              : -webkit-linear-gradient(#ffdf91, #ffbe22);
	-webkit-background-clip : text;
	-webkit-text-fill-color : #ffdf91;
}

.flash-pass-row
{
	position   : relative;
	min-height : 105px;
}

.flash-pass-calendar
{
	border        : none;
	border-radius : 0px;
	.calendar-container
	{
		padding : 0px 0px;
	}
	table.calendar-date-time-ui
	{
		margin : 0px auto 20px;
	}
}

.flash-pass-selected-date
{
	font-family    : font-semi-bold;
	font-size      : 14px;
	letter-spacing : 1px;
	text-align     : center;
	padding-top    : 10px;
}

.flash-pass-centered
{
	font-size   : 12px;
	font-family : font-semi-bold;
	text-align  : center;
	min-height  : 94px;

	.checkboxes
	{
		height : 35px;
	}
	.checkbox-group
	{
		text-align : left;
		width      : 80px;
		display    : inline-block;
		.regular-checkbox + label
		{
			height : 22px;
		}
		.description.large
		{
			line-height : 24px;
		}
	}
}

.flash-pass-string
{
	margin-bottom : 10px;
}

.flash-pass-package-header
{
	height       : 75px;
	border       : 1px solid #9e0b0f;
	border-color : #9e0b0f;

	.flash-pass-pgk-title
	{
		h3
		{
			font-size : 18 PX;
		}
		span
		{
			font-size   : 12px;
			width       : 100%;
			display     : block;
			line-height : normal;
			margin-top  : -9px;
		}
	}

	.btn-group
	{
		cursor : pointer;
		width  : 100%;
		height : 100%;
		border : none;

		&.gradient
		{
			margin        : 0px;
			border-radius : 3px;
		}

		.btn
		{

			&:first-child
			{
				border-right : 1px solid #9e0b0f;
			}
			&:last-child
			{
				border-left : 1px solid #9e0b0f;
			}

			cursor           : pointer;
			width            : 100% /3;
			margin-bottom    : 0px;
			background-color : transparent;
			height           : 100%;
			line-height      : 1px;
			padding          : 6px 0px;

			+ .btn
			{
				margin-left : 0px;
			}

			font-size        : 16px;
			font-family      : font-regular-italic;
			font-weight      : 700;
			color            : #ffffff;
			text-shadow      : 0px -1px 0px rgba(0, 0, 0, 0.5);
		}
	}
}

.flash-pass-subtotal
{
	font-size   : 16px;
	font-family : font-semi-bold;
	.price-value
	{
		color : @color-success;
	}
}
