// Placeholder text gets special styles because when browsers invalidate entire lines if it doesn't understand a selector
input
{
	.placeholder();
	-webkit-appearance : none;
	&:focus
	{
		border-color : @color-border;
		box-shadow   : none;
	}
}

input,
select,
.form-control
{
	.border-radius(2px);
	-webkit-appearance : none;

	&.text-capitalized
	{
		text-transform : capitalize;
	}

}

select,
.form-control
{
	-webkit-appearance : none;
	-webkit-box-shadow : none;
	box-shadow         : none;
	&:focus
	{
		border-color : @color-border;
		box-shadow   : none;
	}
}

select, select&.form-control
{
	padding            : 8px 8px;
	overflow           : hidden;
	background         : url('/img/select-btn.png') no-repeat right;
	background-size    : 40px 100%;
	-webkit-appearance : none;

}

.dropdown-item
{
	position : relative;
	label
	{
		margin-bottom : 0px;
		position      : absolute;
		top           : 0px;
		right         : 0px;

		[class^="icon-"],
		[class*=" icon-"]
		{
			font-size : 14px;
		}
		.btn
		{
			height : 38px;
		}
	}
}

/*************************
BUTTONS ELEMENTS
*************************/

.btn
{
	margin-bottom : 10px;
	&.active
	{
		outline            : 0;
		-webkit-box-shadow : none;
		box-shadow         : none;
	}

}

.btn-group-justified
{
	height : 35px;
	.btn
	{
		border             : none;
		border-top         : thin solid @color-border;
		border-bottom      : thin solid @color-border;
		-webkit-appearance : none;

		&:first-child
		{
			border : thin solid @color-border;

		}

		&.btn-rates:not(.selected){
			border-right: none;
		}

		&:last-child
		{
			border : thin solid @color-border;
		}
	}

	.btn-rates,
	.btn-info
	{
		background-color : @white;

		&:hover
		{
			background-color : #ffffff;
			border-color     : @color-border;
		}

		&.selected
		{
			background-color : @color-primary;
			border-color     : @color-primary-border;
			color            : #ffffff;
			font-family      : font-semi-bold;

			~.btn
			{
				&:last-child
				{
					border-left : none;
				}
			}
		}
	}
}

.btn-item-goto
{
	width         : 37px;
	height        : 37px;
	margin        : -1px -1px -1px 0px;
	border-radius : 0px 0px 3px 0px;
}

.btn-default
{
	color            : @color-font-default;
	font-family      : font-semi-bold;
	background-color : @color-default;
	border-color     : @color-default-border;
	&:hover
	{
		color            : @color-font-default;
		background-color : @color-default;
		border-color     : @color-default-border;
	}
	&.active
	{
		background-color : @color-default;
		border           : thin solid @color-default-border;
		color            : @color-font-default;
	}
}

.btn-primary
{
	background-color : @color-primary;
	border-color     : @color-primary-border;
	color            : @white;
	font-family      : font-semi-bold;
	&:hover
	{
		color            : @white;
		background-color : @color-primary;
		border-color     : @color-primary-border;
	}
}

.btn-success
{
	background-color : @color-success;
	border-color     : @color-success-border;
	color            : #ffffff;
	font-family      : font-semi-bold;
	&:hover
	{
		color            : #ffffff;
		background-color : @color-success;
		border-color     : @color-success-border;
	}
}

.btn-paypal
{
	background-color : orange;
	border-color     : orangered;
	color            : #ffffff;
	font-family      : font-semi-bold;
	padding          : 4px 12px;
	height           : 38px;
}

.paypal-large
{
	padding : 6px 12px 0px;
}

.button-stepper
{
	display : inline-block;
	width   : 105px;
	height  : 35px;
	.input-group-btn
	{
		display : inline-block;
		width   : 35px;
	}

	button
	{
		color      : @white;
		height     : 35px;
		width      : 35px;
		padding    : 0;
		box-shadow : none;
		[class^="icon-"],
		[class*=" icon-"]
		{
			font-weight : normal;
			font-size   : 10px;
			margin-top  : -1px;
			color       : @color-font-default;

		}

		.glyphicon
		{
			top       : 0px;
			font-size : 10px;
			color     : @color-font-default;
		}

		&.btn
		{
			margin-bottom : 0;
			&[disabled]
			{
				.opacity(80);
			}
		}
	}
	input
	{
		&[type="tel"],
		&[type="text"]
		{
			-webkit-appearance : none;
			padding            : 0px;
			color              : @black;
			font-weight        : bold;
			font-size          : 12px;
			border-right       : none;
			border-left        : none;
			box-shadow         : inset 0 0 0 1px rgba(255, 255, 255, 0.5);
			border-color       : @color-border;
			text-align         : center;
			vertical-align     : middle;
			height             : 35px;
			width              : 35px;
			margin             : 0 -3px;
			line-height        : 22px;
		}
		&.form-control
		{
			display : inline-block;
		}
	}
}

.clear-cancel
{
	position : absolute;
	top      : 7px;
	right    : 10px;
	cursor   : pointer
}

.form-group.margin-right
{
	.clear-cancel
	{
		right : 15px;
	}
}

/*=============================
CHECKBOXES
=============================*/
.regular-checkbox
{
	display : none;
	+ label
	{
		border   : none;
		width    : 100%;
		height   : 100%;
		display  : inline-block;
		position : relative;

		&:before
		{
			content       : '';
			position      : absolute;
			border        : 1px solid #cacece;
			border-radius : 3px;
			width         : 18px;
			height        : 18px;
			top           : -1px;
			left          : -1px;
		}

	}

	&:checked
	{
		+label
		{
			color : #99a1a7;

			[class^="icon_"],
			[class*=" icon_"]
			{
				display : inline;
				z-index : 1;
				color   : @color-success;
			}

			&:after
			{
				content       : '';
				font-size     : 30px;
				position      : absolute;
				top           : -1px;
				left          : -1px;
				color         : @color-success;
				width         : 18px;
				height        : 18px;
				line-height   : 10px;
				text-align    : center;
				border        : 1px solid @color-success;
				border-radius : 3px;

			}
		}
	}

	&.large
	{
		+ label
		{
			[class^="icon_"],
			[class*=" icon_"]
			{
				margin-top  : 0px;
				left        : 1px;
				line-height : 2;
			}
			&:before
			{
				width  : 22px;
				height : 22px;
			}
		}
		&:checked
		{
			+label
			{
				&:after
				{
					width  : 22px;
					height : 22px;
				}
			}
		}

	}
}

.checkbox-group
{
	position    : relative;
	font-size   : 14px;
	font-family : font-semi-bold;

	input[type="checkbox"],
	input[type="radio"],
	.regular-checkbox
	{
		+label
		{
			position   : absolute;
			margin-top : 2px;

		}
	}
	.terms,
	.description
	{
		padding-left : 26px;
		line-height  : normal;
		&.large
		{
			padding-left : 32px;
			line-height  : normal;
		}
	}
}

/******************************
RADIO BUTTONS
*******************************/
.regular-radio
{
	display : none;
}

.regular-radio
{
	+label
	{
		-webkit-appearance : none;
		background-color   : #fafafa;
		border             : 1px solid #cacece;
		box-shadow         : 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
		padding            : 6px;
		border-radius      : 50px;
		display            : inline-block;
		position           : relative;
	}
	&:checked
	{
		+label
		{
			background-color : #e9ecee;
			color            : #99a1a7;
			border           : 1px solid #adb8c0;
			box-shadow       : 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1), inset 0px 0px 10px rgba(0, 0, 0, 0.1);

			&:after
			{
				content       : ' ';
				width         : 8px;
				height        : 8px;
				border-radius : 50px;
				position      : absolute;
				top           : 2px;
				background    : #99a1a7;
				box-shadow    : inset 0px 0px 10px rgba(0, 0, 0, 0.3);
				text-shadow   : 0px;
				left          : 2px;
				font-size     : 32px;
			}
		}
	}
	&.checkbox-styled
	{
		+label
		{
			border-radius    : 2px;
			width            : 18px;
			height           : 18px;
			background-color : #ffffff;
			box-shadow       : none;
		}
		&:checked
		{

			+label
			{
				border : 1px solid @color-success;
				[class^="icon_"],
				[class*=" icon_"]
				{
					display : inline;
					z-index : 1;
					color   : @color-success;
				}

				&:after
				{
					content          : '';
					font-size        : 30px;
					position         : absolute;
					top              : -1px;
					left             : -1px;
					width            : 18px;
					height           : 18px;
					line-height      : 10px;
					text-align       : center;
					background-color : transparent;
					box-shadow       : none;
					border           : 1px solid @color-success;
					border-radius    : 3px;

				}
			}
		}
	}
}

.regular-radio + label:active, .regular-radio:checked + label:active
{
	box-shadow : 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

/******************************
CUSTOM ICONS WITHIN THE LABEL FIELDS
*******************************/
label
{
	[class^="icon_"],
	[class*=" icon_"]
	{
		font-size : 16px;
		position  : absolute;
		top       : -4px;
		left      : 2px;
		display   : none;
	}
}

/******************************
ERRORS
*******************************/

.error-inline
{

	width         : 100%;
	height        : 34px;
	border        : 1px solid @color-danger;
	border-radius : 3px;
	margin-top    : 1px;
	padding       : 7px 10px;
	font-size     : 12px;
	color         : @color-danger;
}

input, select
{
	&.ng-invalid
	{
		&.ng-dirty
		{

			&:not(#promobox){
				color  : @color-danger;
				border : 1px solid @color-danger;
			}
		}
	}
}

form
{
	&.ng-invalid
	{
		border : none;
		&.ng-dirty
		{
			border : none;
		}
	}
}