.nav-branding
{
	padding-left : @navigation-width + 5;
	line-height  : 42px;
	h3
	{
		display               : block;
		font-size             : 1.17em;
		-webkit-margin-before : 0px;
		-webkit-margin-after  : 0em;
		-webkit-margin-start  : 0px;
		-webkit-margin-end    : 0px;
		font-weight           : bold;
		position              : absolute;
		top                   : 5px;
		left                  : 55px;

		&.twolines
		{
			line-height : normal;
		}

	}

	img
	{
		text-align : left;
		margin     : 8px 0px 0px;
		width      : 150px;
		height     : 30px;
	}
}

#promotion-search-box
{
	margin         : 0;
	padding        : 0;
	border         : 0;
	font-size      : 100%;
	font           : inherit;
	vertical-align : baseline;
}

.promotion
{
	height         : 100%;
	vertical-align : baseline;
	width          : 100%;
	position       : relative;

	.form-control[disabled]
	{
		background-color : #ffffff;
	}

	input
	{
		height              : 46px;
		margin              : 1px 0px;
		font-family         : font-semi-bold;
		font-size           : 12px;
		color               : @color-default;
		padding             : 0px 10px;
		border              : none;
		-webkit-appearance  : none;
		display             : inline-block;

		-webkit-appearance  : textfield;
		-webkit-user-select : text;
		cursor              : auto;

		&:focus
		{
			border-color : @color-border;
			box-shadow   : none;
		}

		&.form-control
		{
			-webkit-box-shadow : inset 0 1px 1px transparent;
			box-shadow         : inset 0 1px 1px transparent;
		}
	}
	.icon-remove-sign
	{
		position    : absolute;
		top         : 0px;
		right       : 0px;
		font-size   : 18px;
		color       : @color-border;
		width       : 41px;
		height      : 100%;
		text-align  : center;
		padding-top : 3px;
		cursor      : pointer;
	}
}

/*
.tablet-navigation-menu
{
	display : inline-block;
	float   : left;
	@media (max-width: @screen-tablet)
	{
		display : none;
	}
	ul
	{
		display : inline-block;
		li
		{
			height         : 32px;
			line-height    : 32px;
			padding        : 0px 10px;
			display        : inline-block;
			font-family    : font-semi-bold;
			font-size      : 14px;
			letter-spacing : 1px;
			color          : #ffffff;
			border-right   : 1px solid #ffffff;
			cursor         : pointer;

			&.selected
			{
				background-color : #ffffff;
				color            : @color-font-default;
				position         : relative;
				&:before
				{
					content      : '';
					position     : absolute;
					bottom       : 0px;
					right        : -7px;
					width        : 0px;
					height       : 0px;
					border-style : solid;
					border-width : 31px 0 0 6px;
					border-color: transparent transparent transparent #000
				;
					opacity      : .3;
				}
			}
		}
	}

}

.tablet-view-promo-cart
{
	.tablet-promo-box,
	.btn-cart
	{
		display : inline-block;

	}
	.tablet-promo-box
	{
		display : inline-block;
		.promotion
		{
			width : 170px;
			input
			{
				pointer-events : all;
			}
		}
	}
}

*//*

*/
/** ================================
KEY WORD MENU&.WRAPPER
================================ **//*
*/
/*

.keyword-overlay
{
	position         : absolute;
	width            : 100%;
	height           : 100%;
	background-color : @white;
	z-index          : 1;
	.opacity(50);
	margin-top       : -50px;

}

.sub-keywords
{
	@media (max-width: @screen-tablet)
	{
		display : none;
	}
	width            : 100%;
	background-color : #ffffff;
	color            : @color-font-default;
	border-bottom    : 1px solid @color-border;

	li
	{
		height         : 45px;
		line-height    : 45px;
		padding        : 0px 10px;
		display        : inline-block;
		font-family    : font-semi-bold;
		font-size      : 14px;
		letter-spacing : 1px;
		color          : @color-font-default;
		border-right   : 1px solid @color-border;
		cursor         : pointer;
		&.selected
		{
			color    : @color-font-sub;
			position : relative;

			&:before
			{
				content      : '';
				position     : absolute;
				bottom       : -1px;
				left         : 50%;
				width        : 0px;
				height       : 0px;
				border-style : solid;
				border-width : 0 14px 14px 14px;
				border-color : transparent transparent @color-border transparent;
				margin-left  : -14px;
			}
			&:after
			{
				content      : '';
				position     : absolute;
				bottom       : -1px;
				left         : 50%;
				width        : 0px;
				height       : 0px;
				border-style : solid;
				border-width : 0 12px 12px 12px;
				border-color : transparent transparent @background-color transparent;
				margin-left  : -12px;
			}
		}
	}
}

*//*

*/
/** ================================
				HEADER ROW
================================ **//*
*/
/*



.app-details
{
	font-family : font-semi-bold;
	display     : block;
	min-width   : 260px;

	&.padding
	{
		padding : 10px;
	}
	>h3
	{
		margin-top : 10px;
	}

}

*/
/*//*

*/
/* ================================
//TOP-BAR-HEADER&.WRAPPER
//================================ *
.main-header
{
	width            : 100%;
	height           : 32px;
	background-color : #ff5600;
	position         : fixed;
	z-index          : 1050;
	font-family      : font-semi-bold;

	.help-container,
	.cart-container
	{
		height      : 100%;
		display     : inline-block;
		padding     : 0px 10px;
		font-size   : 20px;
		color       : #ffffff;
		line-height : 26px;
		.icon-check-empty
		{
			position : absolute;
			top      : 3px;
			.icon-question
			{
				position  : absolute;
				top       : 0px;
				font-size : 13px;
				left      : 4px;
			}
		}
		.string
		{
			font-size : 12px;
			padding   : 0px 0px 0px 20px;
		}

	}
	.cart-container .string
	{
		padding : 0px 0px 0px 0px;
	}

}

.top-bar-header
{
	position         : fixed;
	top              : 0px;
	margin-top       : 0px;
	height           : 50px;
	width            : 100%;
	z-index          : @zindexFixedNavbar;
	//	line-height      : 50px;
	border-bottom    : 1px solid @color-border;
	text-transform   : uppercase;
	font-size        : 12px;
	font-family      : font-semi-bold;
	background-color : @white;
	margin-top       : 32px;

	.column1,
	.column2
	{
		height   : 100%;
		display  : inline-block;
		float    : left;
		position : relative;
	}

	.column2
	{
		width      : 35%;
		text-align : right;
		.menu-button
		{
			.border-radius(3px);
			height           : 24px;
			min-width        : 30px;
			border           : 1px solid @color-font-default;
			background-color : #ffffff;
			cursor           : pointer;
			padding          : 0px 5px 0px 26px;
			line-height      : 23px;
			color            : @color-font-default;
			pointer-events   : all;
			margin           : 12px 10px 0px 0px;
			float            : right;
			position         : relative;

			span
			{
				&.icon-reorder
				{
					font-size : 14px;
					position  : absolute;
					left      : 8px;
					top       : 0px;
				}
				&.menu-title
				{
					font-size : 14px;
				}

				&.sprite
				{
					display      : inline-block;
					margin-right : 5px;
				}
			}
		}
		.btn-cart
		{

			margin-bottom    : 0px;
			background-color : #ffffff;
			padding          : 4px 8px;
			line-height      : 19px;
			margin           : -24px 10px 0px 0px;
			min-width        : 74px;

			.cart-string
			{
				margin-right : 5px;
			}

			.icon_cart
			{
				padding : 0px 0px 0px 0px;
			}
			.cart-count
			{
				background-color : @color-success;
				padding          : 5px 9px;
				color            : #ffffff;
				border-radius    : 3px;
				position         : relative;
				&:before
				{
					content      : '';
					position     : absolute;
					width        : 0px;
					height       : 0px;
					border-style : solid;
					border-width : 5px 5px 5px 0;
					border-color : transparent @color-success transparent transparent;
					top          : 50%;
					left         : -4px;
					margin-top   : -5px;
				}
			}
		}

	}

	.column1
	{
		width : 65%;
		.title-wrapper
		{
			text-align : center;
			margin     : 0px auto;
			.center-header-image
			{
				text-align : left;
				margin     : 10px 0px;
				width      : 150px;
				height     : 30px
			}
			h3
			{
				font-size   : 12px;
				margin      : 0px 0px 0px 10px;
				.font-semi-bold(12px);
				color       : @color-font-sub-bg;
				line-height : 41px;
				text-align  : left;
				&.twolines
				{
					line-height : 15px;
					margin-top  : 10px;
				}
			}
		}
	}

}

*/

