.navigation-tabs
{
	list-style-type       : none;
	margin                : -1px -1px -1px 0px;
	border                : 1px solid @color-border;
	border-radius         : 3px 3px 0px 0px;
	height                : 35px;
	-webkit-padding-start : 0px;
	li
	{
		display      : inline-block;
		float        : left;
		padding      : 8px 15px;
		border-right : 1px solid @color-border;

		&.active
		{
			background-color : #ffffff;
			border-radius    : 3px 3px 0px 0px;
			border-bottom    : 1px solid #ffffff;

			&:first-child
			{
				border-right : 1px solid @color-border;

			}

			&:not(:first-child)
			{
				border-left  : 1px solid @color-border;
				border-right : 1px solid @color-border;
				margin-left  : -1px;

			}
		}
	}
}

@media (max-width: @screen-tablet)
{
	.navigation-tabs li:not(:first-child)
	{
		display : none;
	}

}