.list-group
{
	&.knowledege-base
	{
		font-size     : 15px;
		border-top    : thin solid @color-border;
		margin-top    : 0px;
		margin-bottom : 0px;
	}
}

.article-heading
{
	font-family : font-bold;
	font-size   : 15px;
	color       : @color-primary;
	[class*="icon-"], [class^=" icon-"]
	{
		margin : 10px 10px 0px 0px;

	}
}

.knowlegebase-article-content
{
	padding-left       : 30px;
	-webkit-transition : 600ms;
	color              : @color-font-default;
	font-size          : 13px;
	/*
	The following is an override to disable the random formatting, and
	convert it to a normalized look and feel.
	*/
	font
	{
		font-size : 100%;
		color     : @color-font-default;
	}

	ul
	{
		list-style-type : none;
		border          : none;
		margin          : 10px 0px 0px 20px;
		li
		{
			min-height : 30px !important;
			border     : none !important;
			margin     : 0px 0px 0px 10px;
		}
	}
	//Yes, the following is needed for the non-valid markup

	li
	{
		list-style-type : none;
		border          : none;

	}
	a
	{
		color       : @color-primary !important;
		font-weight : normal;
		&:hover
		{
			color : @color-font-default !important;

		}
	}

}

