/** ================================
LISTS
================================ **/

.main-nav-sidebar
{
	border-top        : 1px solid @color-border;
	list-style-type   : none;
	margin            : 0;
	padding           : 0;
	font-size         : 12px;
	color             : @color-default-light;
	border-top        : thin solid @color-border;
//	-webkit-transform : translate3d(0, 0, 0);

	/** ================================
	MIXINS
	================================ **/

/*	.list-menu-items () {
		outline-style   : none;
		line-height     : 46px;
		text-decoration : none;
		padding         : 0 10px;
		height          : 44px;
		display         : block;
		letter-spacing  : 1px;
		color           : @color-default;
		cursor          : pointer;

		&:hover
		{
			button
			{
				i
				{
					&[class^="icon-"],
					&[class*=" icon-"]
					{
						color : @white;
					}
				}
			}
		}
	}
	.border-menu () {
		background-color : inherit;
		border-bottom    : @color-border solid thin;
	}

	li
	{
//		-webkit-transform : translate3d(0, 0, 0);
		position          : relative;
		.inline
		{
			.inline
			{
				&.icon
				{
					span
					{
						position : absolute;
						display  : inline-block;
						float    : left;
						margin   : 15px 10px;
						z-index  : @zindexUnderNav;
					}
				}
			}
		}


		.border-menu;

		a
		{
			.list-menu-items;
		}
		ul
		{
			list-style-type : none;
			margin-left     : 0;
			padding-left    : 30;
			border-top      : thin solid @color-border;

			li
			{
				.border-menu;
				a
				{
					padding-left : 40px;
					cursor       : pointer;
				}
			}
		}
	}*/
}



/** ================================
New Design
================================ **/

