/** ================================
MODAL-ALERT
================================ **/
.modal-backdrop
{
	z-index : 1050;
	.opacity(90);
}

.modal
{
	display    : block;
	overflow-y : auto;
	position   : fixed;
	top        : 0;
	right      : 0;
	bottom     : 0;
	left       : 0;
	z-index    : 1050;
	::-webkit-scrollbar
	{
		width : 0px;
	}
	.modal-dialog
	{
		margin-top : 160px;
		.panel
		{
			.panel-heading
			{
				h3
				{
					color       : @white;
					font-family : font-semi-bold;
				}
			}
		}
	}

	.icon-modal-close
	{
		position  : absolute;
		right     : 20px;
		font-size : 20px;
		top       : 18px;
		color     : @white;
		opacity   : 0.5;
	}

	.panel-footer
	{
		background-color : @white;
		border           : none;
		padding          : 0px;
	}

}

.model-content
{
	.clearfix;
	.subheading
	{
		font-family : font-semi-bold;
		font-size   : 14px;
		ul
		{
			list-style-type : none;
			text-align      : left;
		}
	}
	.tagline
	{
		font-family           : font-semi-bold;
		font-style            : italic;
		-webkit-margin-before : 0em;
		-webkit-margin-after  : 0em;
		color                 : @color-secondary;
	}
}
