/** ================================
NAVIGATION TOP MENU HEADERS
================================ **/
.app-header
{
	+.app-header
	{
		border-top : 1px solid @color-border;
	}
}

/** ================================
NAVIGATION MENU
================================ **/
.navigation-menu
{
	.list-group-item
	{
		border-top-right-radius    : 0px;
		border-top-left-radius     : 0px;
		border-bottom-right-radius : 0px;
		border-bottom-left-radius  : 0px;
		padding                    : 0px 0px;
		border                     : none;
		cursor                     : pointer;

		a
		{
			position    : relative;
			display     : block;
			padding     : 10px 15px;
			border      : 1px solid @color-border;
			border-left : none;
			+.sub-menu
			{
				a
				{
					border-top : none;
					color      : @color-primary;
				}
				.active a
				{
					color : @white;
				}
			}
		}

		&.active a
		{
			color : @white;
		}
	}

	+.navigation-menu
	{
		.list-group-item
		{
			&:first-child
			{
				border-top : none;
			}
		}
	}
	&.sub-menu
	{
		a
		{
			padding : 10px 15px 10px 35px;
		}
		.list-group-item:last-child
		{
			a
			{
				border-bottom : none;
			}
		}
	}
}
