.order-history
{
	.list-group-item
	{
		position : relative;

	}
}

.order-number
{
	font-size   : 15px;
	font-family : font-bold;
	color       : @color-primary;
}

.order-date
{
	position    : absolute;
	font-family : font-regular;
	right       : 10px;
	white-space : pre-line;
	width       : 71px;
	text-align  : right;
	margin-top  : -2px;
	line-height : normal;
}