#order-history
{
	ul{
		li{
			border-bottom: thin solid @color-border;
			min-height: 44px;
			cursor: pointer;
			a
			{
				.column1,
				.column2{
					display: inline-block;
					float: left;
					height: 100%;
					padding: 10px 0px;
				}
				.column1{
					width: 80%;
					line-height: 11px;
					.order-name,
					.order-number{
						display: block;
						width: 100%;
					}

					.order-number
					{
						font-family: font-regular;
						font-size: 12px;
						color: @color-font-sub-bg;
						letter-spacing: 1px;
					}
					.order-date
					{
						font-family: font-semi-bold;
						font-size: 9px;
						color: @color-font-default;
						letter-spacing: 1px;
						text-transform: uppercase;
						display: inline-block;
					}
				}
				.column2{
					width: 20%;
				}


/*

				.list-menu-items,

			*/
			}
		}
	}

/*	.list-items
	{
		.main-nav-sidebar
		{
			.list-menu-items () {
				&:hover
				{
					.order-number,
					.order-date
					{
						color: @white;

					}
					button
					{
						border: 1px solid @white;
						i
						{
							&[class^="icon-"],
							&[class*=" icon-"]
							{
								color: @white;
							}
						}
					}
				}
			}
			li
			{

			}
		}
	}*/
}
