/* PACKAGE DETAILS */
.package-details-buttons
{
	margin-bottom : 10px;
}

.panel
{
	&.package-details-header
	{
		padding : 3px;
		.package-image
		{
			width     : 50%;
			max-width : 235px;
		}
		.show~.package-headline
		{
			display  : inline-block;
			width    : 50%;
			position : absolute;
			right    : 0px;
			top      : 0px;
			padding  : 3px 10px;
			margin   : 0px;
		}
		.hide~.package-headline
		{
			width   : 100%;
			padding : 0px 10px;
		}

	}
}

.package-details
{
	font-size : 14px;
	h3, h5
	{
		-webkit-margin-before : 0em;
		-webkit-margin-after  : 0em;
	}

	@media (max-width: @screen-tablet) and (min-width: @screen-tablet)
	{
		display : inline-block;
	}

}

.package-items
{
	.pgk
	{
		display        : inline-block;
		vertical-align : middle;
		margin         : -1px -1px -1px;
		&.customer-type
		{
			position      : relative;
			text-overflow : ellipsis;
			white-space   : nowrap;
			overflow      : hidden;
			width         : 34%;
			font-size     : 14px;
			@media (min-width: @screen-tablet)
			{
				width : 50%;
			}

		}
		&.package-price
		{
			font-size : 14px;
			color     : @color-font-sub;
		}
		&.customer-type-retail
		{
			right     : 132px;
			position  : absolute;
			font-size : 14px;
			color     : @color-font-sub;

		}
	}

	.button-stepper
	{
		margin-top : -3px;
	}
}
