.col-xs-12
{
	&.package-list-item
	{
		//max-width          : 360px;
		@media (min-width: 520px) and  (max-width: @screen-tablet)
		{
			float : left;
			width : 50%;
		}
	}
}

.package-item
{
	min-height         : 342px;
	max-height         : 400px;
	position           : relative;
	font-size          : 12px;
	border             : none;
	-webkit-box-shadow : 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow         : 0 1px 1px rgba(0, 0, 0, 0.05);

	.panel-heading
	{
		padding          : 5px 10px;
		background-color : #ffffff;
		border-bottom    : none;
		h3
		{
			margin    : 0px;
			color     : @color-font-default;
			font-size : 14px;
		}
	}

	.panel-body
	{
		height         : 268px;
		margin-top     : -5px;
		padding-bottom : 0px;
		padding        : 5px;
	}

	.panel-footer
	{
		padding    : 0px;
		position   : relative;
		width      : 100%;
		bottom     : 0px;
		border-top : none;
		.retail-desc
		{
			display : inline-block;
			width   : 50%;
			padding : 5px 10px;
			span
			{
				display : block;
				&.retail-title
				{
					font-family : font-semi-bold;

				}
				&.retail-amount
				{
					font-family : font-semi-bold;
					font-size   : 12px;
					&.one-rate
					{
						font-size   : 18px;
						padding-top : 6px;
					}
				}
			}
		}
		.btn-item-goto
		{
			width  : 46px;
			height : 46px;
			margin : 0px 0px 0px 0px;
			border : none;
			[class*="icon-"],
			[class^=" icon-"]
			{
				font-size   : 25px;
				line-height : 6px;
			}
		}
	}

	.shop-image-v4
	{
		width         : 100%;
		border-radius : 8px;
		margin-bottom : 10px;
	}
	.more_info
	{
		ul
		{
			list-style-type       : none;
			margin-bottom         : 20px;
			padding-left          : 0;

			-webkit-margin-before : 0em;
			-webkit-margin-after  : 0em;
			-webkit-margin-start  : 0px;
			-webkit-margin-end    : 0px;
			-webkit-padding-start : 0px;

			li
			{
				border-width  : 1px 0;
				padding       : 10px 10px 10px 20px;
				border-bottom : 1px solid #c6c6c6;
				position      : relative;
				display       : block;

				&:first-child
				{
					border-top-right-radius : 0;
					border-top-left-radius  : 0;
					border-top              : none;
				}
				&:last-child
				{
					border-bottom : none;
				}
				&:before
				{
					font-family : FontAwesome;
					content     : "\f054";
					position    : absolute;
					width       : 20px;
					height      : 20px;
					left        : 5px;
					top         : 10px;
				}
			}
		}

	}
	.package-desc
	{
		padding-bottom : 10px;
		font-family    : font-regular;
	}
}

