.topbar-placement
{
	margin-bottom : 10px;
	margin-top    : -1px;
	margin-left   : -1px;
	margin-right  : -1px;

	[class*='col-']
	{
		padding-left  : 0px;
		padding-right : 0px;
	}

	.btn-default
	{
		pointer-events   : none;
		background-color : @white;
		.icon-circle
		{
			color      : @color-font-default;
			position   : relative;
			text-align : center;
			display    : inline-block;
			.steps
			{
				color       : @white;
				position    : absolute;
				left        : 0px;
				font-size   : 11px;
				top         : 3px;
				font-family : font-regular;
				width       : 100%;
			}
			~.billing-process-label{
					margin-left: 4px;
			}
		}

		&.arrow-up
		{
			.icon-circle
			{
				color : @color-primary;
			}
		}

		&.disabled
		{
			background-color : #ffffff;
			opacity          : 1 !important;
			color            : @color-default-lightest;
			.icon-circle
			{
				color : @color-default-lightest;
			}
		}
	}

	.btn-group
	{
		.btn
		{
			width        : 50%;
			border-right : thin solid @color-border;
			&:last-child
			{
				border-right : none;
				border-left  : none;
			}
		}
	}

	&.large
	{
		.btn-group-justified
		{
			height : 45px;
		}
	}

}

.creditcard-list
{
	text-align : center;
	li
	{
		display : inline-block;
	}
}
