// ============================================
//        PRICING LISTS
// ============================================

ul.price-list {

  list-style: none;
  margin: 0px;
  padding: 0px;
  display: block;
  color:@color-font-default;

  > li {
    clear: both;
    border-bottom: 1px solid #cccccc;
    padding: 10px;
    display: block;

    .button-label{
      .font-regular;
      display:inline-block;
      float:left;
      margin: -2px 10px 0 0;
      padding: 0px;
      width: 10px;
      font-size: 9px;
    }

    .row-label{
      .font-regular;
      display:inline-block;
      font-size: 12px;
      float:left;
    }

    .pad-left {
      margin-left: 20px;
    }

    .price-label{
      .font-regular;
      display:inline-block;
      font-size: 12px;
      float:right;
    }

    .price-value-label{
      .font-bold;
      font-size: 12px;
    }

    > ul {
      clear:both;
      list-style: none;
      margin: 0px 0px 0px 20px;
      padding: 0px;

      > li {
        border-bottom: 0px;
        margin:0px;
        padding: 0px;
      }
    }
  }
}

// ============================================
//        PRODUCT ITEM ROW
// ============================================

ul.price-list {

   li.item-row {

     .button-label {}

     .row-label {
      line-height:10px;

       br {
        line-height:0px;
      }

       .text-label {
        color: @color-default-light;
        font-size: 12px;
        line-height:0px;
        margin: 0px;
        padding: 0px;
      }

       .quantity-label {
        color: @color-font-default;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-size: 8px;
        line-height:0px;
        margin: 0px ;
        padding: 0px;
         .quantity-value-label {
          color:@color-font-sub-bg;
        }
      }
    }

     .price-label {
      color: @color-font-default;

       .price-value-label {
        .font-bold;
        color: @color-font-default;
      }
    }
  }
}

// ============================================
//        TAXES AND FEES LINE
// ============================================

ul.price-list {

  > li.taxes-row {

    > .button-label {}

    > .row-label {
      color:@color-font-default;
      .font-regular;
      text-transform: uppercase;
      font-size:12px;
    }

    > .price-label {}

    > ul {
      > li {
        color:@color-font-default;

        > .row-label {
          .font-bold;
          color: @color-font-default;
          text-transform: uppercase;
          font-size:8px;
        }

        > .price-label {  }
      }
    }
  }
}

// ============================================
//        DISCOUNT LINE
// ============================================

ul.price-list > {

  li.discount-row {

    color: @color-font-sub-bg;

    .button-label {
      visibility: hidden;
    }

    .row-label{
      .font-regular;
      text-transform: uppercase;
      margin: 0 0 0 20px;
    }

    .price-label {
    }
  }
}

// ============================================
//        TOTAL LINE
// ============================================

ul.price-list > {

  li.total-row {

    border-bottom: 1px dotted #cccccc;

    .row-label{
      color:@color-font-default;
      text-transform: uppercase;
      .font-bold;
      margin: 0px;
    }

    .pad-left {
      margin-left:20px;
    }

    .price-label {
      color:@color-primary;
      font-size:15px;
    }

    .price-value-label {
      .font-semi-bold(15px);
    }
  }
}

// ============================================
//        THANK YOU ROW
// ============================================

ul.price-list {

  > li.thank-you-row {

    width: 100%;
    background-image: url('/img/receipt-thank-you-message.png');
    background-position: center center;
    background-repeat: no-repeat;
    height: 30px;
    border-bottom: 0px;

    span {
       visibility: hidden;
    }
  }
}



/** ============================================
BUTTON ROW
============================================ **/
ul.price-list {

  > li {
      &.button-row {
        text-align:center;
          .font-bold;
          letter-spacing: 0.1em;
          white-space:nowrap;
          padding:20px 0px;
          margin: 0;
      }
      
      &.button-row-style-2 {
        background-image: url('/img/cartViewButtonBg.png');
        background-position: top left;
        background-repeat: repeat-x;
        background-color: #fdfdfd;
      }
    }
}
