@media only print
{
	.print
	{
		display : none;
	}

	#application-view .application-body-container
	{
		.footer-buttons .body-container, .body-container
		{
			margin : 100px 10px 0px !important;
		}
	}

	#application-view
	{
		border-right : none !important;
		right        : 0px !important;
	}

	.package-details-buttons
	{
		display : none;
	}

	.receipt-view, .tickets-view, .the-ticket-view
	{
		display : block !important;
		width   : 100%;
	}

	.page-break
	{
		display                    : block !important;
		page-break-after           : always !important;

		break-after                : page !important; /* W3C */
		-webkit-column-break-after : page !important; /* Safari & Chrome */
		-moz-column-break-after    : page !important; /* Firefox */
		-ms-column-break-after     : page !important; /* Internet Explorer */
		-o-column-break-after      : page !important; /* Opera */

		.clearfix;
	}

	.ticket-name-view-display
	{
		display : none;
	}

	.btn-row
	{
		display : none;
	}
}
