#reservations-form
{
	.app-details
	{
		padding-bottom : 10px;
		text-align     : center;
		font-size      : 9px;

		h2
		{

			.font-semi-bold (11px);
			color          : @color-font-sub-bg;
			letter-spacing : 1px;
			margin-bottom  : -1px;
			text-transform : uppercase;
		}

		h2.align-left
		{
			text-align : left;
		}

		p
		{
			.font-regular (11px);
			color : @color-font-default;
		}

		p.bold
		{
			margin-top : 10px;
			.font-bold (13px);
		}
	}
}