.description
{
	&.shipping-description
	{
		padding-left : 100px;
		min-height   : 55px;
		&:before
		{
			content          : '';
			position         : absolute;
			width            : 1px;
			height           : 100%;
			background-color : @color-border;
			top              : 0px;
			left             : 75px;

		}
	}
}

.shipping-groups
{
	input[type="radio"],
	.regular-checkbox
	{
		+label
		{
			position   : absolute;
			top        : 50%;
			left       : 23px;
			margin-top : -9px;
		}
	}
}

.shipping-heading
{
	h1, h2, h3, h4
	{
		display : inline-block;
		padding : 0px 5px 0px 0px;
		margin  : 0px 0px 5px;
	}
	.limit
	{
		font-size      : 12px;
		text-transform : uppercase;
	}
}

.shipping-long-desc
{
	font-size : 12px;
}