/*==================================
TICKET VIEW WRAPPER
==================================*/
.ticket-view

{
	margin      : 10px -10px 0px;
	padding-top : 10px;
	text-align  : center;
	border-top  : 1px solid #c6c6c6;

}

.ticket-back
{
	margin     : 10px -10px 0px;
	border-top : 1px solid #c6c6c6;
}

.receipt-view
{
	display : none;
	@media (min-width: @screen-tablet)
	{
		display : inline-block;
	}
}

.customer-name
{
	font-size      : 12px;
	text-transform : capitalize;
	font-family    : font-semi-bold;
}

.rate-type
{
	font-size      : 12px;
	text-transform : capitalize;
	font-family    : font-semi-bold;
}

.package-name
{
	text-transform : capitalize;
}

.start-date
{
	font-size      : 12px;
	text-transform : capitalize;
	font-family    : font-semi-bold;
}

.ticket-heading
{
	background-color : #f1f1f1;
	font-size        : 14px;
	font-family      : font-semi-bold;
	padding          : 10px 10px;
	margin           : -12px -10px -11px;
	border-top       : 1px solid #c6c6c6;
	border-bottom    : 1px solid #c6c6c6;

	&.selected
	{
		background-color : #ffffff;
	}

	.package-name
	{
		font-size     : 14px;
		font-family   : font-semi-bold;
		text-overflow : ellipsis;
		display       : inline-block;
		white-space   : nowrap;
		overflow      : hidden;
		width         : 49%;
	}
	.ticket-customer-name
	{
		font-size     : 15px;
		font-family   : font-semi-bold;
		text-overflow : ellipsis;
		display       : inline-block;
		white-space   : nowrap;
		overflow      : hidden;
		width         : 49%;
		text-align    : right;
	}

	button
	{
		margin-top : -5px;
	}

}

.panel .list-group .list-group-item
{
	&:last-child
	{
		.ticket-heading
		{
			border-radius : 0px 0px 3px 3px;
		}
	}
}

.back-content
{
	width       : 100%;
	padding-top : 10px;
	.ticket-information
	{
		.ticket-back-header
		{
			text-align : center;
		}

		font-family : font-regular;
		font-size   : 12px;
		color       : #959595;
		padding     : 0px 10px 0px 10px;
		div
		{
			&:first-child
			{
				font-weight : bold;
				color       : #f15e58;
			}
			p
			{
				&.ticket-info-heading
				{
					font-family : font-semi-bold;
				}

			}
		}
	}
}

.ticket-information
{
	line-height : 16px;
	.customer-name
	{
		font-size : 15px;
	}
	.package-name,
	.rate-type
	{
		font-size : 12px;
	}
}

.canvas
{
	width                  : 90%;
	padding                : 0px 20px;
	image-rendering        : -moz-crisp-edges;
	// Firefox

	image-rendering        : -o-crisp-edges;
	// Opera


	image-rendering        : -webkit-optimize-contrast;
	// Webkit (non-standard naming)

	image-rendering        : crisp-edges;
	-ms-interpolation-mode : nearest-neighbor;
	// IE (non-standard property)
	image-rendering        : crisp-edges;
	image-rendering        : optimizeQuality;
	-ms-interpolation-mode : bicubic;

}

.barcode-text
{
	font-size : 24px;
}

.the-ticket-view
{
	-webkit-transition : height 1s ease-in-out;
	-moz-transition    : height 1s ease-in-out;
	-ms-transition     : height 1s ease-in-out;
	-o-transition      : height 1s ease-in-out;
	transition         : height 1s ease-in-out;
}

@-webkit-keyframes slide-down
{
	0%
	{
		height : 38px;
	}
	100%
	{
		height : 260px;
	}
}

.will-call-section
{
	text-align : center;
	h2
	{
		color : @color-success;
	}
	.confirmation
	{
		color       : @color-success;
		font-family : font-semi-bold;
	}
}

.the-ticket-name
{
	padding-top : 20px;
}

.copy-last-name-check
{
	margin-bottom : 10px;
	.description
	{
		margin-top : 4px;
	}
}

