/*==================================
TICKET VIEW WRAPPER
==================================*/

#ticketView
{
	height     : 100%;
	width      : 100%;
	margin-top : 60px;

	#ticket-view-wrapper
	{
		display : none;
	}

	#ticket-scroller
	{
		height : 100%;

		ul
		{
			&#ticket-container
			{
				left            : 0% !important;
				list-style-type : none;
				position        : relative;
				width           : 100% !important;

				li
				{
					&.view-ticket
					{
						display    : inline-block;
						width      : 100% !important;
						min-height : 100%;
						.font-semi-bold(12px);
						.clearfix;

						.flip-container
						{
							width  : 100%;
							height : 100%;
							.flipper
							{
								width  : 100%;
								height : 100%;

								.front
								{
									margin-top : 60px;
									text-align : center;
									z-index    : 2;
									.ticket-holder-container
									{
										display : none;
									}

								}
								.front,
								.back
								{
									width      : 100%;
									background : @white;
									position   : relative;
									display    : block;
									top        : 0;
									left       : 0;
									.back-content
									{
										padding : 20px 10px;
										.ticket-information
										{
											font-family : ProximaNova-Regular;
											font-size   : 9px;
											color       : #959595;
											padding     : 0px 10px 0px 10px;
											div
											{
												&:first-child
												{
													font-weight : bold;
													color       : #f15e58;
												}
												p
												{
													&.ticket-info-heading
													{
														font-family : ProximaNova-Semibold;
													}

												}
											}
										}
									}
								}

								.sprite.void-stamp
								{
//									position : absolute;
//									display  : inline-block;
								}
							}
						}

						.page-break
						{
							display          : block;
							page-break-after : always;
							.clearfix;
						}
					}
					&.ticket-name-required
					{
						display : none;
					}
				}
			}
		}
	}

	.canvas
	{
		width                  : 225px;
		image-rendering        : -moz-crisp-edges;
		// Firefox

		image-rendering        : -o-crisp-edges;
		// Opera

		image-rendering        : -webkit-optimize-contrast;
		// Webkit (non-standard naming)

		image-rendering        : crisp-edges;
		-ms-interpolation-mode : nearest-neighbor;
		// IE (non-standard property)

	}

	.ticket-navigation
	{
		display : none;
	}

	.register-name
	{
		margin-top : 0px;
	}

	.order-section
	{
		display : inline-block;
		margin  : 10px;
		padding : 0px;
	}

	.order-label
	{
		.font-bold;
		text-transform : uppercase;
	}

	.order-number
	{
		.font-bold;
		color : #0080ff;
	}

	.highlight
	{
		font-weight : bold;
		color       : #f15e58;
	}

	.button-right,
	.button-left
	{
		display : none;
	}
}

#pagination
{

	display : none;
}

.ticket-view
{
	~.thank-you-row,
	~.btn-row
	{
		display : none;
	}
}