{config_load file=main.conf section=$section|default:'generic'}
{* Mobile *}
						<table width="572">
							<tr>
								<td width="560" bgcolor="#FFFFFF" style="border:solid #cccccc 1px;text-align:left;">
									<table>
										<tr>
											<td width="560" bgcolor="#FFFFFF" style="text-align:center;font-size:1em;">
												<b>You can view your mobile tickets on your phone or at home!</b><br>
						
												<a href="http://shop.accesso.com/mobile/sixflags/router.php?m={if $merchant_id == 214}SF-BA{/if}{if $merchant_id == 230}SF-NC{/if}{if $merchant_id == 220}SF-FT{/if}{if $merchant_id == 210}SF-NJ{/if}{if $merchant_id == 215}SF-CH{/if}{if $merchant_id == 253}SF-LG{/if}{if $merchant_id == 256}SF-HHLA{/if}{if $merchant_id == 255}SF-HHNJ{/if}{if $merchant_id == 257}SF-HHAR{/if}{if $merchant_id == 211}SF-MM{/if}{if $merchant_id == 229}SF-SF{/if}{if $merchant_id == 207}SF-AT{/if}{if $merchant_id == 219}SF-AR{/if}{if $merchant_id == 208}SF-SL{/if}{if $merchant_id == 258}SF-WW{/if}&orderID={$confirmation}&link=orderhistorydetails&ph={$phone}&amp;merchant_id={$merchant_id}&amp;lang={$lang}{$print_at_home_vars}" target='_blank'><img src="{$images_folder}registerMobileBttn.jpg" alt="<View Your Tickets>" style="border:none;"></a>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
