<h1>Secret Debugger Page</h1>

<ul>
	<li class="sprite add"
		ng-init="showDetailsCart=false" 
		ng-class="{'add':!showDetailsCart, 'minus':showDetailsCart}"
		ng-click="showDetailsCart=!showDetailsCart;">
		<div style="display:block;">
		Cart Info
		</div>
		
		
		<ul ng-controller="CartController" ng-show="showDetailsCart">
			<li>CartId: {{$scope.cartId}}</li>
			<li>CartKey: {{$scope.cartKey}}</li>
			<li>SessionId: {{$scope.sessionId}}</li>
			<li>CartItems.count: {{$scope.cartItems.length}}</li>
		</ul>
	</li>
</ul>


<ul>
	<li class="sprite add"
		ng-init="showDetails=false" 
		ng-class="{'add':!showDetails, 'minus':showDetails}"
		ng-click="showDetails=!showDetails;">
		<div style="display:block;">
		Cart Info
		</div>
		
		
		
		<ul ng-controller="CartController">
			<li>CartId: {{cartId}}</li>
			<li>CartKey: {{cartKey}}</li>
			<li>SessionId: {{SessionId}}</li>
		</ul>
	</li>
</ul>
