<div class="application-body-container footer-buttons" id="package-details">
<div class="body-container-no-padding">

<div class="row topbar-placement">
	<div class="col-xs-12">
		<div class="btn-group btn-group-justified">
			<a class="btn btn-default process-success" data-ng-show="shipping.shippingAvailable"><span class="icon-ok-sign"></span>
				<span data-ng-bind="i18n.PaymentProcess.shippingLabel"></span></a>
			<a class="btn btn-default arrow-up"><span class="icon-circle">
						<span class="steps" data-ng-bind="arrowPositioning"></span></span><span class="billing-process-label" data-ng-bind="i18n.PaymentProcess.billingLabel"></span></a>
			<a class="btn btn-default disabled"><span class="icon-circle"><span class="steps" data-ng-bind="arrowPositioning + 1"></span></span>
				<span data-ng-bind="i18n.PaymentProcess.reviewLabel"></span>
			</a>
		</div>
	</div>
</div>
<div class="row side-padding" data-animate>
<form name="billingForm" novalidate data-ng-class="{submitted:billingForm.submitted}">

<!--------------------------------------------
BILLING INFORMATION
---------------------------------------------->

<div class="col-xs-12 col-sm-6 billing-info">
	<div class="panel panel-default" data-ng-show="isNonPhysicalDeliveryMethod">
		<div class="checkbox-group">
			<input
				type="checkbox"
				id="useShipAddress"
				class="regular-checkbox large"
				data-ng-true-value="1"
				data-ng-false-value="0"
				data-ng-change="handleChkChanged()"
				data-ng-model="useShipAddr"
				name="useShipAddress">

			<label for="useShipAddress" class="cursor">
				<span class="icon icon_checkmark-v5"></span>
			</label>

			<div class="description large" data-ng-bind="i18n.BillingView.addressSameAsShipping"></div>
		</div>
	</div>
	<div class="panel">
		<div class="panel-heading" data-ng-bind="i18n.BillingView.billingHeading"></div>
		<div class="row no-side-padding">
			<div class="row">
				<div class="col-xs-12">
					<div class="form-group">
						<input
							class="form-control text-capitalized"
							clear-input-field
							type="text"
							placeholder="{{i18n.FormLabels.firstName}}"
							name="firstName"
							data-ng-model="billing.firstName"
							maxlength="32"
							required>
					</div>
				</div>
			</div>
			<div class="row">

				<div class="col-xs-12">
					<div class="form-group">
						<input
							class="form-control text-capitalized"
							clear-input-field
							type="text"
							placeholder="{{i18n.FormLabels.lastName}}"
							name="lastName"
							data-ng-model="billing.lastName"
							maxlength="32"
							required>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="form-group">
						<input
							class="form-control text-capitalized"
							clear-input-field
							type="text"
							placeholder="{{i18n.FormLabels.streetAddress}}"
							name="address"
							data-ng-model="billing.address"
							maxlength="30"
							required>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="form-group">
						<input
							class="form-control text-capitalized"
							clear-input-field
							type="text"
							placeholder="{{i18n.FormLabels.streetAddress2}}"
							name="address2"
							data-ng-model="billing.address2"
							maxlength="30">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="form-group">
						<div class="dropdown-item">
							<select
								id="country-select"
								class="form-control"
								name="country"
								data-ng-model="billing.country"
								data-ng-options="country.code as country.name for country in countries"
								required
								data-ng-change="setTelephone(billing.country)">
								<option value="" data-ng-bind="i18n.FormLabels.country"></option>
							</select>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="form-group ">
						<input
							class="form-control"
							clear-input-field
							type="{{zipType}}"
							placeholder="{{i18n.FormLabels.zip}}"
							name="zip"
							autofill-my-location
							data-ng-model="billing.zip"
							maxlength="10"
							data-ng-minlength="5"
							required>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-7">
					<div class="form-group">
						<input
							class="form-control text-capitalized"
							clear-input-field
							type="text"
							placeholder="{{i18n.FormLabels.city}}"
							name="inputCity"
							id="inputCity"
							data-ng-model="billing.city"
							maxlength="30"
							required>
					</div>
				</div>
				<div class="col-xs-5">
					<div class="form-group">
						<div class="dropdown-item">

							<select
								id="state-select"
								class="form-control"
								name="state"
								data-ng-model="billing.state"
								data-ng-options="region.code as region.name for region in regions[billing.country]"
								data-ng-required="regions[billing.country].length">
								<option value="" data-ng-bind="i18n.FormLabels.state"></option>
							</select>
						</div>
					</div>
				</div>

			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="form-group">
						<input
							class="form-control"
							clear-input-field
							type="tel"
							placeholder="{{i18n.FormLabels.phone}}"
							name="phone"
							data-ng-model="billing.phone"
							maxlength="15"
							data-ng-minlength="10"
							data-ng-pattern="/^[0-9]+$/"
							required>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="form-group">
						<input
							class="form-control"
							clear-input-field
							type="email"
							placeholder="{{i18n.FormLabels.email}}"
							name="email"
							data-ng-model="billing.email"
							maxlength="50"
							required>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>

<!--------------------------------------------
PAYMENT METHODS
---------------------------------------------->

<div class="col-xs-12 col-sm-6 pull-right">
	<div class="panel">
		<div class="panel-heading" data-ng-bind="i18n.PaymentView.paymentHeading"></div>
		<div class="row no-side-padding">
			<div class="row">
				<div class="col-xs-12">
					<div class="form-group">
						<input
							class="form-control"
							type="tel"
							name="creditCard"
							data-ng-model="payment.credicard"
							required
							data-credit-card-type
							data-ng-pattern="/^[0-9]+$/"
							data-ng-minlength="{{ccMin}}"
							data-ng-class="{'focus':billingForm.creditCard.$error.required}"
							maxlength="{{ccMax}}"
							placeholder="{{i18n.FormLabels.cardNumber}}"/>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="form-group cvc-group">
						<input
							class="form-control"
							type="tel"
							name="securityCode"
							data-ng-model="payment.securityCode"
							required
							maxlength="4"
							data-ng-class="{'focus':billingForm.securityCode.$error.required}"

							data-ng-pattern="/^[0-9]+$/"
							data-ng-minlength="3"
							placeholder="{{i18n.FormLabels.securityCode}}"/>

						<div class="security-btn pull-right">
							<div class="btn btn-primary" data-ng-click="showSecurityCode()">
								<span class="icon-question"></span>
							</div>
						</div>

					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6">
					<div class="form-group">
						<div class="form-group">
							<div class="dropdown-item">
								<select
									class="form-control"
									data-ng-model="payment.month"
									data-ng-options="month.value as month.text for month in months"
									name="month"
									data-expiration-month
									data-ng-class="{'focus':billingForm.month.$error.required}"
									required>
									<option value="" data-ng-bind="i18n.FormLabels.expMonth"></option>
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="form-group ">
						<div class="form-group">
							<div class="dropdown-item">

								<select
									id="year-select"
									class="form-control"
									data-ng-model="payment.year"
									data-ng-options="year.value as year.text for year in years"
									name="year"
									data-ng-class="{'focus':billingForm.year.$error.required}"
									data-expiration-year
									required>
									<option value="" data-ng-bind="i18n.FormLabels.expYear"></option>
								</select>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-md-6 pull-right" data-ng-show="optins.length">
					<!--------------------------------------------
					OPT-INS
					---------------------------------------------->
					<div class="panel package-items font-semi-bold">
						<div class="panel-heading" data-ng-bind="i18n.ShippingView.optinLabel"></div>
						<ul class="list-group">
							<li class="list-group-item clearfix cursor" data-ng-repeat="optin in optins">
								<div class="checkbox-group">
									<input
										type="checkbox"
										id="checkbox-{{$index}}"
										class="regular-checkbox large"
										data-ng-model="optin.checked"
										data-ng-checked="optin.checked"
										name="{{optin.target}}">
									<label for="checkbox-{{$index}}" class="cursor">
										<span class="icon icon_checkmark-v5"></span>
									</label>

									<div class="description large" data-ng-bind="i18n.BillingView[optin.target]"></div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</form>
</div>
</div>
</div>
<div class="row">
	<div class="col-xs-12 col-sm-12 pull-right">
		<div class="row btn-row">
			<div class="col-sm-6"></div>
			<div class="col-xs-12 col-sm-6 pull-right">
				<div>
					<button
						on-tap
						type="button" class="btn btn-primary btn-block"
						data-ng-click="save(billing)"
						data-ng-bind="i18n.CartView.orderReviewHeading">
					</button>
				</div>
			</div>
		</div>
	</div>
</div>


