<div class="application-body-container footer-buttons" id="cart-view" data-ng-class="{'secondary-footer-buttons':showPayPalCheckout && !pageView.Order}">
	<div class="body-container" data-ng-class="{'body-container-no-padding':pageView.Order}">


		<div class="row topbar-placement" data-ng-show="pageView.Order">
			<div class="col-xs-12">
				<div class="btn-group btn-group-justified">
					<a class="btn btn-default process-success" data-ng-show="shipping.shippingAvailable"><span class="icon-ok-sign"></span>
						<span data-ng-bind="i18n.PaymentProcess.shippingLabel"></span></a>
					<a class="btn btn-default process-success"><span class="icon-ok-sign"></span> <span data-ng-bind="i18n.PaymentProcess.billingLabel"></span></a>
					<a class="btn btn-default arrow-up"><span class="icon-circle"><span class="steps" data-ng-bind="arrowPositioning + 1"></span></span>
						<span data-ng-bind="i18n.PaymentProcess.reviewLabel"></span>
					</a>
				</div>
			</div>
		</div>

		<div class="row" data-ng-class="{'side-padding':pageView.Order}" data-animate>
			<div class="col-xs-12 col-md-12" data-ng-hide="cartObject.cartItems.length">
				<span class="empty-cart-message" data-ng-bind="i18n.Alert.cartEmptyMsg"></span>

			</div>
			<div class="col-xs-12 col-md-12" data-ng-hide="cartObject.cartItems.length == 0">

				<!--------------------------------------------
				PAYPAL METHOD HEADING
				---------------------------------------------->

				<div class="panel package-items font-semi-bold" data-ng-show="pageView.Order && showPayPalPaymentMethod">
					<div class="panel-heading" data-ng-bind="i18n.CartView.paymentMethodHeading"></div>
					<ul class="list-group">
						<li class="list-group-item">
							<div class="pgk package-name customer-type cart-package-name">
								<div class="cell2">
									<span class="cartItem-package-name" data-ng-bind="i18n.CartView.paypalAccountLabel"></span>
									<span class="limit" data-ng-bind="showBilling.email | truncate:30"></span>
								</div>
							</div>
							<div class="pgk right-container">
								<span class="sprite payment_type_paypal"></span>

							</div>
						</li>
					</ul>
				</div>


				<!--------------------------------------------
				CART ITEMS
				---------------------------------------------->
				<div class="panel package-items cart-items">
					<div class="panel-heading cart-heading">
						<div data-ng-bind="heading"></div>
						<div class="cart-string limit">(<span class="count" data-ng-bind="state.cart.totalQty"></span>
							<span class="cart-text" data-ng-bind-html-unsafe="i18n.Alert.cartHeaderString"></span>)
						</div>
						<div class="pull-right" data-ng-hide="( pageView.Order || pageView.Receipt )  || !displayChangeQtyOptions">
							<button type="button" class="btn btn-primary btn-xs" data-ng-show="!changeQty" data-ng-bind="i18n.CartView.changeQuantityLabel"
							        data-ng-click="updateQTY()"></button>
							<button type="button" class="btn btn-success btn-xs" data-ng-show="changeQty" data-ng-click="commitUpdateQTY()"
							        data-ng-bind="i18n.ButtonLabels.update"></button>
							<button type="button" class="btn btn-default btn-xs" data-ng-show="changeQty" data-ng-click="cancelUpdate()"
							        data-ng-bind="i18n.ButtonLabels.cancel"></button>

						</div>
					</div>
					<ul class="list-group">
						<li class="list-group-item" data-ng-repeat="cartItem in cartObject.cartItems" id="cart-item-{{$index}}">
							<div class="pgk package-name customer-type cart-package-name">
								<div class="cell1 cart-remove-icon icon-remove-sign cursor" data-ng-click="removeCartItem(cartItem)" data-ng-hide="( pageView.Order || pageView.Receipt )"></div>
								<div class="cell2">
									<span class="cartItem-package-name" data-ng-bind="cartItem.package_name"></span>
									<span class="limit" data-ng-bind="cartItem.customer_type_name"></span>
								<span class="date" data-ng-show="cartItem.CHARACS[0].start_date">
									<span ng-bind="i18n.CartView.date"></span> <span class="limit quantity-value-label" ng-bind="cartItem.CHARACS[0].start_date | date:'MM/dd/yyyy'"></span>
								</span>
								<span class="time" data-ng-show="cartItem.CHARACS[0].start_time">
									<span ng-bind="i18n.CartView.time"></span> <span class="limit quantity-value-label" ng-bind="cartItem.CHARACS[0].start_time"></span>
								</span>
								<span class="validFrom" data-ng-show="cartItem.CHARACS[0].valid_from">
									<span ng-bind="i18n.TicketView.eventLabel"></span> <span class="limit quantity-value-label" ng-bind="cartItem.CHARACS[0].valid_from | date:'MM/dd/yyyy'"></span>
								</span>
								</div>
							</div>
							<div class="pgk right-container">
								<div class="pgk cart-qty-label" data-ng-hide="changeQty"><span class="qty-label" ng-bind="i18n.CartView.qtyLabel"></span>&nbsp;<span class="limit"
								                                                                                                                                     ng-bind="cartItem.qty"></span>
								</div>
								<div class="pgk cart-view-price font-semi-bold"
								     data-ng-hide="changeQty" data-ng-bind="cartItem.retail_price * cartItem.qty | currencyFormatter : $root.currencyCode"></div>
								<div class="pgk cart-button-stepper" data-ng-show="changeQty">
									<button type="button" disabled class="btn btn-danger btn-xs pull-right" data-ng-show="changeQty && !cartItem.showChangeBtns"
									        data-ng-bind="i18n.CartView.notEditable"></button>
									<div class="input-group button-stepper pull-right" data-ng-show="changeQty && cartItem.showChangeBtns">
								<span class="input-group-btn">
									<button class="btn btn-default"
									        on-tap
									        type="button"
									        data-ng-disabled="cartItem.qty == 0"
									        data-ng-click="decrementQty(cartItem)">
										<span class="glyphicon glyphicon-minus"></span>
									</button>
								</span>
										<input class="form-control"
										       type="tel"
										       data-ng-model="cartItem.qty"
										       size="3"
										       numbers-only
										       data-ng-change="onQtyChange(cartItem)"
										       maxlength="3"/>
								<span class="input-group-btn">
									<button class="btn btn-default"
									        on-tap
									        type="button"
									        data-ng-disabled="cartItem.qty == cartItem.max_quantity"
									        data-ng-click="incrementQty(cartItem)">
										<span class="glyphicon glyphicon-plus"></span>
									</button>
								</span>
									</div>
								</div>
							</div>
						</li>
					</ul>
					<div class="panel-footer cart-footer">
						<div class="subtotal-display-name" data-ng-bind="i18n.CartView.subtotal"></div>
						<div class="subtotal-total pull-right" data-ng-bind="cartObject.subTotal | currencyFormatter : $root.currencyCode"></div>
					</div>
				</div>
				<!--------------------------------------------
				DISCOUNTS
				---------------------------------------------->
				<div class="panel package-items font-semi-bold discount-items"
				     data-ng-show="( pageView.Order || pageView.Receipt ) && cartObject.showDiscounts">
					<ul class="list-group">
						<li class="list-group-item smaller-list-item">
							<div class="pgk package-name customer-type limit long-text" data-ng-bind="i18n.CartView.discountLabel"></div>
							<div class="pgk package-price cart-view-price pull-right" data-ng-bind="cartObject.discountTotal | currencyFormatter : $root.currencyCode"></div>
						</li>
						<li class="list-group-item smaller-list-item" data-ng-repeat="discount in cartObject.discountSource">
							<div class="pgk package-name customer-type" data-ng-bind="discount.label"></div>
							<div class="pgk package-price cart-view-price pull-right" data-ng-bind="discount.amount | currencyFormatter : $root.currencyCode"></div>
						</li>
					</ul>
				</div>
				<!--------------------------------------------
				TAXES
				---------------------------------------------->
				<div class="panel package-items font-semi-bold taxes-items">
					<ul class="list-group">
						<li class="list-group-item smaller-list-item" data-ng-repeat="feeSource in cartObject.feeSource">
							<div class="pgk package-name customer-type long-text" data-ng-bind="feeSource.label"></div>
							<div class="pgk package-price cart-view-price pull-right" data-ng-bind="feeSource.amount | currencyFormatter : $root.currencyCode"></div>
						</li>
					</ul>
					<div class="panel-footer cart-footer">
						<div class="subtotal-display-name" data-ng-bind="i18n.CartView.totalLabel"></div>
						<div class="subtotal-total pull-right" data-ng-bind="cartObject.total | currencyFormatter : $root.currencyCode"></div>
					</div>
				</div>

				<!--------------------------------------------
				TERMS AND CONDITIONS
				---------------------------------------------->
				<div
					data-ng-show="showTerms"
					class="panel package-items font-semi-bold terms-conditions">
					<ul class="list-group">
						<li class="list-group-item">
							<div class="checkbox-group">
								<input
									type="checkbox"
									id="termsChk"
									class="regular-checkbox large"
									data-ng-checked="termsChk"
									data-ng-true-value="1"
									data-ng-false-value="0"
									data-ng-model="termsChecked"
									name="termsChk">
								<label for="termsChk" class="cursor">
									<span class="icon icon_checkmark-v5"></span>
								</label>

								<div class="description large" interactive-locale="terms"></div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xs-12 col-sm-12 pull-right">
		<div class="row btn-row">
			<div class="col-sm-3" data-ng-class="{'col-sm-6':!showPayPalCheckout}"></div>

			<div class="row" data-ng-hide="pageView.Order">
				<div class="col-xs-6 col-sm-3">
					<div class="button-spacers">
						<button
							on-tap
							type="button" class="btn btn-primary btn-block"
							data-ng-click="continueShopping()"
							data-ng-bind="i18n.ButtonLabels.continueShopping">
						</button>
					</div>
				</div>
				<div class="col-xs-6 col-sm-3">
					<div class="button-spacers small-device">
						<button
							on-tap
							type="button" class="btn btn-success btn-block"
							data-ng-click="checkOut()"
							data-ng-bind="i18n.ButtonLabels.checkout">
						</button>
					</div>
				</div>
			</div>


			<!--------------------------------------------
			DISPLAY THESE BUTTON ON ORDER REVIEW
			---------------------------------------------->
			<div class="row" data-ng-show="pageView.Order">
				<div class="col-xs-4 col-sm-3">
					<div class="button-spacers">
						<button
							on-tap
							type="button" class="btn btn-default btn-block"
							data-ng-click="$root.routeTo(routes.BILLING)"
							data-ng-bind="i18n.ButtonLabels.backButton">
						</button>
					</div>
				</div>
				<div class="col-xs-8 col-sm-3">
					<div class="button-spacers small-device">
						<button
							on-tap
							type="button" class="btn btn-success btn-block"
							data-ng-click="completeOrder()"
							data-ng-show="cartObject.cartItems.length"
							data-ng-bind="i18n.ButtonLabels.purchase">
						</button>
					</div>
				</div>
			</div>


			<!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@  -->
			<!-- START :: PAYPAL RELATED MODIFICATIONS -->
			<!-- ################################################################### -->
			<div class="row">
				<div class="col-xs-12 col-sm-3" data-ng-show="showPayPalCheckout && !pageView.Order">
					<div class="button-spacers paypal-button">
						<button
							on-tap
							type="button" class="btn btn-paypal btn-block"
							data-ng-click="gotoPayPalCheckout()">
							<span class="sprite paypal_clean"></span>
						</button>
					</div>
				</div>
			</div>
			<!-- ################################################################### -->
			<!-- END :: PAYPAL RELATED MODIFICATIONS -->
			<!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@  -->
		</div>
	</div>
</div>

