<div class="application-body-container footer-buttons" id="cross-sales">
	<div class="body-container">

		<div class="row">
			<div class="col-xs-12">
				<div class="panel cross-sales-heading">
					<span data-ng-bind="i18n.CrossSells.heading"></span>
				</div>
			</div>
		</div>
		<div class="row"  data-ng-hide="cartObject.cartItems.length == 0">
			<div class="col-xs-12 col-sm-6"  data-ng-repeat="keyword in keywords" data-ng-click="handleItemClick(keyword)">
				<div class="panel cross-sales-keywords cursor">
					<img
						class="cross-sale-img"
						data-ng-show="showParkLogo"
						data-verify-image-src="{{assetPath}}/{{keyword.image}}"/>
					<div class="panel-body">
							<span
								data-ng-bind-html-unsafe="keyword.desc"
								class="no-formatting clearfix cross-sales-description">
							</span>
					</div>
					<div class="panel-footer clearfix cursor" data-ng-click="handleItemClick(keyword)">
						<div class="cross-sales-price-list">
							<span class="starting-at" data-ng-bind="i18n.PackageList.startingLabel"></span>
						<span
							class="retail-amount limit"
							data-ng-bind="keyword.min_retail_amount | currencyFormatter : $root.currencyCode">
						</span>
						</div>

						<button class="btn btn-success btn-item-goto pull-right">
							<span class="icon-arrow-right"></span>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xs-12 col-sm-12 pull-right">
		<div class="row btn-row">
			<div class="col-xs-12 col-sm-6 pull-right">
				<div class="button-spacers">
					<button
						on-tap
						type="button" class="btn btn-default btn-block"
						data-ng-click="routeTo('cartView')"
						data-ng-bind="i18n.ButtonLabels.continueCart">
					</button>
				</div>
			</div>
		</div>
	</div>
</div>

