<div id="debug-toggle" class="ng-cloak" ng-show="develop" ng-click="state.debugMenu=!state.debugMenu"></div>
<div id="debug" class="ng-cloak" ng-show="state.debugMenu" ng-init="debugView=logs">
	<nav>
		<a class="cursor" on-tap ng-click="debugView=logs" ng-class="{selected: debugView==logs}">Logging</a>
		<a class="cursor" on-tap ng-click="debugView=clientInfo" ng-class="{selected: debugView==clientInfo}">Client Info</a>
		<a class="cursor" on-tap ng-click="debugView=storage" ng-class="{selected: debugView==storage}">Storage</a>
		<a class="cursor" on-tap ng-click="resetApp()" ng-class="{selected: debugView==reset}">Reset</a>
	</nav>
	<div ng-show="debugView==storage">
		<ul>
			<li ng-repeat="(key,value) in appData track by $id($index)">
				<pre><span data-ng-bind="key"></span> | <span data-ng-bind="value"></span></pre>
			</li>
		</ul>
	</div>
	<div ng-show="debugView==clientInfo">
		<ul>
			<li ng-repeat="(key,value) in clientInfo track by $id($index)">
				<pre><span data-ng-bind="key"></span> | <span data-ng-bind="value"></span></pre>
			</li>
		</ul>
	</div>
	<div ng-show="debugView==logs">
		<ul>
			<li ng-repeat="log in logs track by $id($index)" class="log.type" autoscroll>
				<pre data-ng-bind="log.message"></pre>
			</li>
		</ul>
	</div>
</div>