

	<div class="app-header developer-menu">
		<span class="header-desc">Develop Menu -- <span data-ng-bind="merchant"></span> -- <span data-ng-bind="routeParams.merchant"></span></span>
	</div>
	<!--Demo of normal list styles for navbuttons-->
	<div class="app-header">
		<span class="header-desc">Static Navbuttons</span>
	</div>
	<ul class="list-group navigation-menu nostyle">
		<li class="list-group-item active">
			<a>
				<span class="menu-list-item icon-daily-tickets"></span>
				<span class="menu-list-item">Daily Tickets</span>
				<span class="pull-right">
						<span class="icon-chevron-down"></span>
				</span>
			</a>


			<!-- Submenu items -->
			<ul class="list-group navigation-menu nostyle sub-menu">
				<li class="list-group-item">
					<a>
						<span class="menu-list-item">Sub Menu</span>
					</a>
				</li>
				<li class="list-group-item active">
					<a>
						<span class="menu-list-item">Sub Menu</span>
					</a>
				</li>
				<li class="list-group-item">
					<a>
						<span class="menu-list-item">Sub Menu</span>
					</a>
				</li>
			</ul>
			<!-- Submenu items -->
		</li>
	</ul>
	<!-- /Demo of normal list styles for navbuttons-->
	<ul class="list-group navigation-menu nostyle">
		<li class="list-group-item list-group-item main-menu-item cursor"><a  data-ng-click="routeTo('packageList', true)"> Home</a></li>
		<li class="list-group-item main-menu-item cursor"><a data-ng-click="routeTo('packageList', true)"> Package List</a></li>
		<li class="list-group-item main-menu-item cursor"><a data-ng-click="routeTo('packageDetails', true)"> Package Details</a></li>
		<li class="list-group-item main-menu-item cursor"><a data-ng-click="routeTo('cartView', true)"> Cart </a></li>
		<li class="list-group-item main-menu-item cursor"><a data-ng-click="routeTo('billingView', true)"> Billing </a></li>
		<li class="list-group-item main-menu-item cursor"><a data-ng-click="routeTo('paymentView', true)"> Payment </a></li>
		<li class="list-group-item main-menu-item cursor"><a data-ng-click="routeTo('orderReview', true)"> Order Review </a></li>
		<li class="list-group-item main-menu-item cursor"><a data-ng-click="routeTo('ticketView', true)"> Tickets </a></li>
		<li class="list-group-item main-menu-item cursor"><a data-ng-click="routeTo('cartView', true)"> Receipts </a></li>
		<li class="list-group-item main-menu-item cursor"><a data-ng-click="routeTo('flashPass', true)"> The Flash Pass </a></li>
		<li class="list-group-item main-menu-item cursor"><a data-ng-click="routeTo('orderLookupSearch', true)"> Order Lookup (Search)</a></li>
		<li class="list-group-item main-menu-item cursor"><a data-ng-click="routeTo('orderLookupResults', true)"> Order Lookup (Results) </a></li>
		<li class="list-group-item main-menu-item cursor"><a data-ng-click="routeTo('knowledgeBaseView', true)">FAQs</a></li>
		<li class="list-group-item main-menu-item cursor"><a data-ng-click="routeTo('error/1000', true)"> Error - Unsupported Browser (1000)</a></li>
		<li class="list-group-item main-menu-item cursor"><a data-ng-click="routeTo('error/1001', true)"> Error - Failed to Start (1001)</a></li>
		<li class="list-group-item main-menu-item cursor"><a data-ng-click="routeTo('error/1002', true)"> Error - Missing Merchant String (1002)</a></li>
		<li class="list-group-item main-menu-item cursor"><a data-ng-click="routeTo('error/1003', true)"> Error - Unknown Merchant String (1003)</a></li>
		<li class="list-group-item main-menu-item cursor"><a data-ng-click="routeTo('error/1004', true)"> Error - Unknown Page(1004)</a></li>
	</ul>

