<div class="application-body-container" data-ng-class="{'footer-buttons':showBackToStoreLink}">
	<div class="body-container">
		<div class="row">
			<div class="col-xs-12">
				<div class="panel panel-default error-view-panel">
					<div class="panel-heading">Error Code: <span data-ng-bind="errorCode"></span></div>
					<div class="panel-body">
						<div class="row error-view-image">
							<img src="/img/accessologo.png"/>
						</div>
						<p data-ng-bind="errorMsg"></p>

						<p style="display:none;" data-ng-bind="errorData | JSONtoString"></p>

						<div ng-show="errorCode=='1000'">
							<!--  for desktop users  -->
							<div ng-show="clientInfoService.deviceType=='desktop'">
								<p align="center" style="padding:10px;">
									<b>For Windows Users:</b>
									<a href="www.google.com/chrome">Chrome</a>
									| <a href="www.getfirefox.com">Firefox</a>
								</p>

								<p align="center" style="padding:10px;">
									<b>For Mac Users:</b>
									<a href="http://appstore.com/chrome">Chrome</a>
									| <a href="https://itunes.apple.com/us/app/opera-mini-web-browser/id363729560?mt=8&uo=4">Opera</a>
								</p>
							</div>
							<!-- end :: <div ng-show="clientInfoService.deviceType=='desktop'"> -->

							<!--  for mobile and tablet users  -->
							<div ng-show="clientInfoService.deviceType!='desktop'">
								<p align="center" style="padding:10px;">
									<u>For iPhone, iPad and iPod devices:</u><br/>
									<b>iTunes Store</b>:
									<a href="http://appstore.com/chrome">Chrome</a>
									| <a href="https://itunes.apple.com/us/app/opera-mini-web-browser/id363729560?mt=8&uo=4">Opera</a>
								</p>

								<!--
								For the Google Android Store.
									From a web site:
										http://play.google.com/store/apps/details?id=<package_name>
									From an Android App:
										market://details?id=<package_name>
								 -->
								<p align="center" style="padding:10px;">

									<u>For Android phones and devices:</u>

									<br/>
									<b>Google Play Store</b>:
									<a href="market://details?id=org.mozilla.firefox">Firefox</a>
									| <a href="market://details?id=com.android.chrome">Chrome</a>
									| <a href="market://details?id=com.opera.browser">Opera</a>

									<br/>
									<b>Amazon App Store</b>:
									<a href="amzn://apps/android?s=org.mozilla.firefox">Firefox</a>
									| <a href="amzn://apps/android?s=com.android.chrome">Chrome</a>
									| <a href="amzn://apps/android?s=com.opera.browser">Opera</a>
								</p>
								<!--
								For the Amazon App Store:
									From a website:
										http://www.amazon.com/gp/mas/dl/android? (Uses Amazon Full Website Store)
									From an Android App:
										amzn://apps/android? (Uses Amazon Appstore)
										<li><a href="https://play.google.com/store/apps/details?id=org.mozilla.firefox">Firefox</a></li>
										<li><a href="https://play.google.com/store/apps/details?id=com.android.chrome">Chrome</a></li>
										<li><a href="https://play.google.com/store/apps/details?id=com.opera.browser">Opera</a></li>
								 -->
							</div>
							<!-- end :: <div ng-show="clientInfoService.deviceType!='desktop'"> -->
						</div>
						<!--  end :: <div ng-show="errorCode!='1000'"> -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row" data-ng-show="showBackToStoreLink">
	<div class="col-xs-12 col-sm-12 pull-right">
		<div class="row btn-row">
			<div class="col-xs-12 col-sm-6 pull-right">
				<div class="button-spacers">
					<button
						on-tap
						type="button" class="btn btn-success btn-block"
						ng-click="$root.routeTo()"
						data-ng-bind="i18n.ButtonLabels.continueShopping">
					</button>
				</div>
			</div>
		</div>
	</div>
</div>

