<div class="row no-side-padding">
	<form name="orderLookupForm" novalidate data-ng-class="{submitted:orderLookupForm.submitted}">
		<div class="col-xs-12">
			<div class="form-group">
				<input
					class="form-control"
					clear-input-field
					type="text"
					placeholder="{{i18n.KnowledgeBase.filterInputPlaceHolder}}"
					name="filterKb"
					data-ng-model="filterKb"
					required>
			</div>
		</div>
		<div class="col-xs-12 no-padding">
			<ul class="list-group knowledege-base">
				<li class="list-group-item cursor"  data-ng-repeat="article in faqObject.articles | filter:filterKb"
				    ng-click="incrementReadCount( $event, $index, article.id )">
					<div class="article-heading">
						<i class="icon-plus-sign" data-ng-class="{'icon-minus-sign':articleIndexStatus[$index]}"></i>
						<span data-ng-bind="article.faq_link"></span>
					</div>
					<p class="knowlegebase-article-content" data-ng-show="articleIndexStatus[$index]" data-ng-bind-html-unsafe="article.faq_text"></p>
				</li>
			</ul>
		</div>
	</form>
</div>