<div class="application-body-container" id="knowledgeBase">
	<div class="body-container">
		<div class="row" id="knowledgeBaseListView">
			<div class="col-xs-12 order-lookup">
				<div class="panel">
					<div class="panel-heading nav-heading">
						<ul class="navigation-tabs">
							<li class="cursor" data-ng-class="{'active':tabSelection == 'FAQs'}" data-ng-bind="i18n.KnowledgeBase.pageHeading" data-ng-click="tabSelection = 'FAQs'"></li>
							<li class="cursor" data-ng-class="{'active':tabSelection == 'ORDERS'}" data-ng-bind="i18n.OrderLookup.searchHeading" data-ng-click="tabSelection = 'ORDERS'"></li>
						</ul>
					</div>
					<div class="row no-side-padding" ng-switch on="tabSelection">
						<div ng-switch-when="FAQs" class="row no-side-padding" data-ng-include src="'/views/FAQs.html'"></div>
						<div ng-switch-when="ORDERS" class="row" data-ng-include src="'/views/search-orders.html'"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


