<div class="application-body-container" id="knowledgeBase">
	<div class="body-container">
		<div class="row" id="knowledgeBaseListView">
			<div class="col-xs-12 order-lookup">
				<div class="panel">
					<div class="panel-heading" data-ng-bind="i18n.KnowledgeBase.pageHeading"></div>
					<div class="row no-side-padding" data-ng-include src="'/views/FAQs.html'"></div>
				</div>
			</div>
		</div>
	</div>
</div>


