<!-- REMOVE THE CLASS HIDE TO SHOW MODAL -->
<div id="modal-view-container" class="access-modal clearfix hide ng-cloak" data-ng-class="{'show':modal.show}">
	<div class="modal-backdrop"></div>
	<div class="modal fade" id="myModal">
		<div class="modal-dialog">
			<div class="panel panel-default panel-{{ modal.headerFlag }}">
				<div class="panel-heading">
					<h3 class="panel-title" data-ng-show="modal.title" data-ng-bind-html-unsafe="modal.title"></h3>
					<span class="icon-remove-sign icon-modal-close pull-right cursor"
					      data-ng-click="modalService.hideModal(buttonFlags.CLOSE)"></span>
				</div>
				<div class="panel-body model-content">
					<!-- @TODO: Used for Advanced Tickets. Figure out how to implement dynamically. -->
					<p class="subheading tagline center">
						<span data-ng-bind-html-unsafe="modal.tagLine"></span>
					</p>

					<p class="subheading center">
						<span id="modal-description-container" data-ng-bind-html-unsafe="modal.description"></span>
					</p>
					<div class="center">
						<!-- THE FOLLOWING BUTTONS WILL APPEAR ON THE LEFT OF THE SCREEN -->
						<button
							on-tap
							class="btn btn-default large"
							data-ng-show="modal.flags[buttonFlags.NO]"
							data-ng-click="modalService.hideModal(buttonFlags.NO)"
							data-ng-bind="i18n.ButtonLabels.no">
						</button>
						<button
							on-tap
							class="btn btn-default large"
							data-ng-show="modal.flags[buttonFlags.CANCEL]"
							data-ng-click="modalService.hideModal(buttonFlags.CANCEL)"
							data-ng-bind="i18n.ButtonLabels.cancel">
						</button>

						<!-- THE FOLLOWING BUTTONS WILL APPEAR ON THE RIGHT OF THE SCREEN -->

						<button
							on-tap
							class="btn btn-success large"
							data-ng-show="modal.flags[buttonFlags.YES]"
							data-ng-click="modalService.hideModal(buttonFlags.YES)"
							data-ng-bind="i18n.ButtonLabels.yes">
						</button>
						<button
							on-tap
							class="btn btn-success large"
							data-ng-show="modal.flags[buttonFlags.OK]"
							data-ng-click="modalService.hideModal(buttonFlags.OK)"
							data-ng-bind="i18n.ButtonLabels.ok">
						</button>
						<button
							on-tap
							class="btn btn-success large"
							data-ng-show="modal.flags[buttonFlags.VERIFY]"
							data-ng-click="modalService.hideModal(buttonFlags.VERIFY)"
							data-ng-bind="i18n.ButtonLabels.verify">
						</button>

					</div>

					<!-- THE FOLLOWING BUTTONS HAVE THEIR OWN ROWS TO TAKE UP THE WIDTH OF THE MODAL -->
					<button
						on-tap
						data-ng-show="modal.flags[buttonFlags.CONTINUE_SHOPPING]"
						type="button" class="btn btn-primary btn-block"
						data-ng-click="modalService.hideModal(buttonFlags.CONTINUE_SHOPPING)"
						data-ng-bind="i18n.ButtonLabels.continueShopping">
					</button>
					<button
						on-tap
						data-ng-show="modal.flags[buttonFlags.PROCEED_TO_CHECKOUT]"
						type="button" class="btn btn-success btn-block"
						data-ng-click="modalService.hideModal(buttonFlags.PROCEED_TO_CHECKOUT)"
						data-ng-bind="i18n.ButtonLabels.proceedToCheckout">
					</button>
				</div>
				<div class="panel-footer"></div>
			</div>
		</div>
		<!-- /.modal-dialog -->
	</div>
</div>