<div class="nav-content app-content">
	<div class="nav-header-content">
		<span class="menu-btn"></span>

		<div class="nav-branding">
			<form name="promoForm" id="pr" ng-submit="submitPromo()" novalidate>
				<div class="promotion">
					<input type="text"
					       clear-input-field
					       id="promobox"
					       type="text"
					       promotion-box
					       class="form-control"
					       placeholder="{{i18n.Menu.promoPlaceholder}}"
					       data-ng-model="promoCode"
					       data-ng-disabled="!state.showMainMenu"
					       required/>
				</div>
			</form>
		</div>
	</div>
	<div class="app-header">
		<span class="header-desc" data-ng-bind="i18n.Menu.keywordHeading"></span>
	</div>

	<ul class="list-group navigation-menu nostyle">
		<li data-ng-click="onMenuItemClick($event, this)" data-ng-class="{'active': menuItem.selected==true}" data-ng-show="menuItem.isactive" data-ng-repeat="menuItem in menuItems"
		    data-ng-class="{padBottom: menuItem.MENUITEM==undefined || !menuItem.showSubMenu, selected: menuItem.selected==true}"
		    class="list-group-item">
			<a>
				<span class="menu-list-item" data-menu-list-icon="menuItem.icon" data-menu-list-keywords="menuItem.keywords" data-ng-bind="menuItem.label"></span>
										<span class="pull-right">
											<span class="icon-chevron-down" data-ng-class="{hidden: !menuItem.showSubMenu}"></span>
											<span class="icon-chevron-up" data-ng-class="{hidden: menuItem.MENUITEM==undefined || menuItem.showSubMenu==true}"></span>
										</span>
			</a>
			<!-- Submenu items -->
			<ul class="list-group navigation-menu nostyle sub-menu" data-ng-class="{hidden: !menuItem.showSubMenu}">
				<li class="list-group-item" data-ng-click="onSubMenuItemClicked($event, this)" data-ng-repeat="subMenuItem in menuItem.MENUITEM" data-ng-show="subMenuItem.isactive"
				    data-ng-class="{'active': subMenuItem.selected==true}">
					<a>
						<span class="menu-list-item" data-ng-bind="subMenuItem.label"></span>
					</a>
				</li>
			</ul>
			<!-- Submenu items -->
		</li>
	</ul>

	<div class="app-header" data-ng-show="menuLinks.length >= 1">
		<span class="header-desc" data-ng-bind="i18n.Menu.linkHeading"></span>
	</div>
	<ul class="list-group navigation-menu nostyle" data-ng-show="menuLinks.length >= 1">
		<li data-ng-repeat="menuLink in menuLinks" class="list-group-item"  data-ng-class="{'active': menuLink.selected==true}">
			<a data-ng-click="routeURL('{{menuLink.url}}')">
				<span class="menu-list-icon icon-external-link"></span>
				<span class="menu-list-item" data-ng-bind="menuLink.label"></span>
			</a>
		</li>
	</ul>
	<div data-ng-show="{{developMenu}}" data-ng-include src="'/views/developer-menu.html'"></div>
	<!-- Settings Menu -->
	<div class="app-header">
		<span class="header-desc" data-ng-bind="i18n.Menu.settingHeading"></span>
	</div>
	<ul class="list-group navigation-menu nostyle setting-navigation">
		<li class="list-group-item main-menu-item cursor">
			<a data-ng-click="routeTo('orderLookup', true)">
				<span class="menu-list-icon icon-search"></span>
				<span class="menu-list-item" data-ng-bind="i18n.Menu.orderLookup"></span>
			</a>
		</li>

		<li class="list-group-item main-menu-item cursor" data-ng-show="displayKnowledgeBase">
			<a data-ng-click="routeTo('knowledgeBaseView', true)">
				<span class="menu-list-icon icon-question-sign"></span>
				<span class="menu-list-item" data-ng-bind="i18n.Menu.help"></span>
			</a>
		</li>
		<li class="list-group-item main-menu-item cursor">
			<a data-ng-click="showSSLModal()">
				<span class="menu-list-icon icon-lock"></span>
				<span class="menu-list-item" data-ng-bind="securityProvider.title"></span>
				<span class="sprite {{securityProvider.provider}} pull-right"></span>
			</a>
		</li>
	</ul>
</div>