<div class="application-body-container footer-buttons" id="order-history">
	<div class="body-container">
		<div class="app-header semi-bold">
			<span class="sprite shoppingbag"></span>
			<span class="header-desc">{{i18n.OrderLookup.resultHeading}}</span>
		</div>
		<ul>
			<li
					data-ng-repeat="order in orders"
					data-ng-click="viewOrderTickets">
				<a data-ng-click="$root.routeTo(routes.ORDER_VIEW + '/' + {{lastFourDigits}} + '/' + {{phoneNumber}} + '/' + {{order.order_id}})">
					<div class="column1">
						<span class="order-number" data-ng-bind="order.order_id"></span>
						<span class="order-date" data-ng-bind="order.order_date"></span>
					</div>
					<div class="column2">
						<span class="sprite menuchevronup pull-right"></span>
					</div>
				</a>
			</li>
		</ul>
	</div>
</div>
<div class="btn-row clearfix" data-accesso-footer>
	<a href="/{{routeParams.merchant}}/orderLookup/">
		<button
				on-tap
				class="button-secondary large"
				data-ng-bind="i18n.ButtonLabels.backButton">
		</button>
	</a>
</div>
