<!--  bryan's stuff in here.
https://test03.ceiris.com/mobile/src/router.php?link=orderhistorydetails&m=CF-CA&orderID=51547911
 -->

<div ng-show="ticketObject.fromOrderLookup">
	<button
		on-tap
		class="large button-secondary"
		data-ng-click="gotoOrderResults();"
		data-ng-bind="i18n.ButtonLabels.backButton">
	</button>
	</div>
</div>
<!--
href="/{{routeParams.merchant}}/orderLookupResults/{{selectedOrderL4}}/{{selectedOrderPN}}/{{selectedOrderID}}">
href="/{{routeParams.merchant}}/orderLookupSearch"
 -->