<div class="row" data-ng-show="packageImage">
	<div class="col-xs-12" data-ng-click="test()">
		<div class="panel package-details-header">
			<img class="hide package-image img-rounded" verify-image-src="{{packageImage}}"/>

			<h3 class="package-headline" data-ng-bind="headline"></h3>
		</div>
	</div>
</div>

<div class="row package-details-buttons">
	<div class="col-xs-12">
		<div class="btn-group btn-group-justified">
			<a on-tap type="button" class="btn btn-default btn-rates" data-ng-class="{'selected':!btnInfo}" data-ng-click="btnInfo = false"
			   data-ng-bind="i18n.ButtonLabels.rates"></a>
			<a on-tap type="button" class="btn btn-default btn-info" data-ng-class="{'selected':btnInfo}" data-ng-click="btnInfo = true"
			   data-ng-bind="i18n.ButtonLabels.info"></a>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xs-12 col-sm-6 package-details v5-hide" data-ng-class="{'v5-show':btnInfo}">
		<div class="panel">
			<div class="panel-heading" data-ng-bind="i18n.PackageDetails.packageDetailHeading"></div>
			<div class="panel-body">
				<h3 data-ng-bind="packageDetails.name"></h3>
				<h5 data-ng-bind="packageDetails.headline"></h5>

				<p ng-bind-html-unsafe="packageDetails.desc" class="no-formatting"></p>

				<p ng-bind-html-unsafe="packageDetails.more_info"></p>
				<span class="spacer"></span>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-6 pull-right package-rates v5-hide" data-ng-class="{'v5-show':!btnInfo}">
		<div class="panel package-items">
			<div class="panel-heading" data-ng-bind="i18n.PackageDetails.rateTypeHeading"></div>
			<ul class="list-group">
				<li class="list-group-item" ng-repeat="customerType in customerTypes">
					<div class="pgk package-name customer-type" data-ng-bind="customerType.cusTypeName"></div>
					<div class="pgk package-price customer-type-retail" data-ng-bind="customerType.cusTypeRetail | currencyFormatter : $root.currencyCode"></div>
					<div class="pgk input-group button-stepper pull-right">
								<span class="input-group-btn">
									<button class="btn btn-default"
									        data-ng-class="{'active':customerType.qty > customerType.min_quantity}"
									        on-tap
									        type="button"
									        data-ng-disabled="customerType.qty == 0"
									        data-ng-click="decrementQty(customerType)">
										<span class="glyphicon glyphicon-minus"></span>
									</button>
								</span>
						<input class="form-control"
						       type="tel"
						       data-ng-model="customerType.qty"
						       size="3"
						       numbers-only
						       data-ng-change="onQtyChange(customerType)"
						       maxlength="3"/>
								<span class="input-group-btn">
									<button class="btn btn-default"
									        data-ng-class="{'active':customerType.qty < customerType.max_quantity}"
									        on-tap
									        type="button"
									        data-ng-disabled="customerType.qty == customerType.max_quantity"
									        data-ng-click="incrementQty(customerType)">
										<span class="glyphicon glyphicon-plus"></span>
									</button>
								</span>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>


<div class="row">
	<div class="col-xs-12 col-sm-6 pull-right">
		<div class="row btn-row">
			<div class="col-xs-6 col-sm-6">
				<div class="button-spacers">
					<button
						on-tap
						type="button" class="btn btn-default btn-block"
						data-ng-click="routeToPackageList()"
						data-ng-bind="i18n.ButtonLabels.backButton">
					</button>
				</div>
			</div>
			<div class="col-xs-6 col-sm-6">
				<div class="button-spacers">
					<button
						on-tap
						type="button" class="btn btn-success btn-block"
						data-ng-click="onAddToCart()"
						data-ng-bind="i18n.ButtonLabels.addToCart">
					</button>
				</div>
			</div>
		</div>
	</div>
</div>

