<div data-ng-include src="'/views/sub-navigation.table.html'"></div>
<div class="row padding-top">
	<div class="no-packages hide" data-ng-show="showNoPkgMsg" data-ng-hide="cartObject.cartItems.length">
		<img class="warning-image" ng-src="/img/warning-place-holder.png"/>
		<span data-ng-bind="i18n.PackageList.noPackagesInKeyword"></span>
	</div>
	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3  cursor package-list-item" data-ng-show="!showNoPkgMsg" data-ng-repeat="package in packageList"
	     data-ng-click="routeTo(routes.DETAILS+'/'+package.id)">
		<div class="panel panel-default package-item">
			<div class="panel-heading"><h3 data-ng-bind="package.name"></h3></div>
			<div class="panel-body clearfix">
				<img class="shop-image-v4 hide" verify-image-src="{{assetsPath + package.shop_image_v4}}"/>

				<div class="more_info"></div>
			</div>
			<div class="panel-footer clearfix">
				<div class="retail-desc">
					<span class="retail-title" data-ng-show="package.CT.length > 1" data-ng-bind="i18n.PackageList.startingLabel"></span>
								<span
									class="retail-amount"
									data-ng-class="{'one-rate':package.CT.length <= 1}"
									data-ng-bind="package.startRate | currencyFormatter : $root.currencyCode">
								</span>
				</div>

				<button class="btn btn-success btn-item-goto pull-right">
					<span class="icon-chevron-sign-right"></span>
				</button>
			</div>

		</div>
	</div>
</div>

