<form name="paymentForm" novalidate data-ng-class="{submitted:paymentForm.submitted}">
<div class="application-body-container footer-buttons" id="payment-view">
	<div class="body-container">
		<div
			id="paymentView"
			class="app-body-content">
			
			<div
				class="app-row clearfix"
				data-ng-show="shippingAddressAvailable">
				<div class="app-header semi-bold"><span class="sprite user"></span> <span class="header-desc" data-ng-bind="i18n.ShippingView.shippingHeading"></span></div>
				<div class="app-details padding clearfix">
					<p>
						<span ng-bind="shipping.firstName"></span>
						<span ng-bind="shipping.lastName"></span><br>
						<span ng-bind="shipping.address"></span><br ng-show="shipping.address">
						<span ng-bind="shipping.address2"></span><br ng-show="shipping.address2">
						<span ng-bind="shipping.city"></span>, <span ng-bind="shipping.state"></span> <span ng-bind="shipping.zip"></span><br>
					</p>
					<button
						class="button-secondary pull-right-top small-button"
						data-ng-click="$root.routeTo(routes.SHIPPING)"
						data-ng-bind="i18n.ButtonLabels.edit"
						type="button">
					</button>
				</div>
			</div>
			
			<div class="app-row clearfix">
				<div class="app-header semi-bold"><span class="sprite user"></span> <span class="header-desc" data-ng-bind="i18n.BillingView.billingHeading"></span></div>
				<div id="billing-information" class="app-details padding clearfix">
					<p>
						<span ng-bind="billing.firstName"></span>
						<span ng-bind="billing.lastName"></span><br>
						<span ng-bind="billing.address"></span><br ng-show="billing.address">
						<span ng-bind="billing.address2"></span><br ng-show="billing.address2">
						<span ng-bind="billing.city"></span>, <span ng-bind="billing.state"></span> <span ng-bind="billing.zip"></span><br>
						<span ng-bind="billing.phone | telephoneNumber"></span><br ng-show="billing.phone">
						<span ng-bind="billing.mobile | telephoneNumber"></span><br ng-show="billing.mobile">
						<span ng-bind="billing.email"></span>
					</p>
					<button
						class="button-secondary pull-right-top small-button"
						data-ng-click="$root.routeTo(routes.BILLING)"
						data-ng-bind="i18n.ButtonLabels.edit"
						type="button">
					</button>
				</div>
			</div>
			
			<div class="app-row clearfix">
				<div class="app-header semi-bold"><span class="sprite card"></span> <span class="header-desc" data-ng-bind="i18n.PaymentView.paymentHeading"></span></div>
				<div class="app-details padding">
					<div class="inline ccType">
						<div class="control-group ccType">
							<div class="controls">
								<select
									class="input-block-level"
									id="ccType"
									name="ccType"
									data-ng-model="payment.ccType"
									required
									data-ng-class="{'focus':paymentForm.ccType.$error.required}"

									data-ng-options="cardType for cardType in cardTypes"
									data-ng-change="setCardType(payment.ccType)">
									<option value="" data-ng-bind="i18n.FormLabels.paymentType"></option>
								</select>
							</div>
						</div>
					</div>
					<div class="inline error-inline"
					     ng-show="paymentForm.ccType.$error && paymentForm.ccType.$dirty && paymentForm.ccType.$invalid || paymentForm.submitted && paymentForm.ccType.$invalid">

						<ul ng-show="paymentForm.ccType.$invalid">
							<li ng-show="paymentForm.ccType.$error.required" data-ng-bind="i18n.FormValidation.paymentTypeRequiredError"></li>
						</ul>
					</div>
					<div class="inline">
						<div class="inline">
							<div class="inline cc-group">
								<div class="control-group credit-card"
								     data-ng-class="{'error':paymentForm.submitted && !paymentForm.$valid}">
									<div class="controls">
										<!--
										<input
											type="tel"
											name="creditCard"
											data-ng-model="payment.number"
											required
											data-credit-card-type
											data-ng-pattern="/^[0-9]+$/"
											data-ng-minlength="15"
											data-numbers-only
											maxlength="19"
											placeholder="{{i18n.FormLabels.cardNumber}}"/>
										-->
										<input
											type="tel"
											name="creditCard"
											data-ng-model="payment.number"
											required
											data-credit-card-type
											data-ng-pattern="/^[0-9]+$/"
											data-ng-minlength="{{ccMin}}"
											data-ng-class="{'focus':paymentForm.creditCard.$error.required}"

											maxlength="{{ccMax}}"
											placeholder="{{i18n.FormLabels.cardNumber}}"/>
									</div>
								</div>
							</div>
							<div class="inline cvc-group">
								<div class="control-group security-code" data-ng-class="{'error':paymentForm.submitted && !paymentForm.$valid || paymentForm.submitted}">
									<div class="controls">
										<!--
										<input
											type="tel"
											name="securityCode"
											data-ng-model="payment.securityCode"
											required
											maxlength="4"
											data-numbers-only
											data-ng-pattern="/^[0-9]+$/"
											data-ng-minlength="3"
											placeholder="{{i18n.FormLabels.securityCode}}"/>
										-->
										<input
											type="tel"
											name="securityCode"
											data-ng-model="payment.securityCode"
											required
											maxlength="4"
											data-ng-class="{'focus':paymentForm.securityCode.$error.required}"

											data-ng-pattern="/^[0-9]+$/"
											data-ng-minlength="3"
											placeholder="{{i18n.FormLabels.securityCode}}"/>
									</div>
								</div>
								<span class="spacer"></span>
								<button on-tap class="button-secondary button-round" data-ng-click="showSecurityCode()" data-ng-bind="i18n.ButtonLabels.question" type="button"></button>
							</div>
						</div>
					</div>
					<div class="inline error-inline"
					     ng-show="(paymentForm.creditCard.$error && paymentForm.creditCard.$dirty && paymentForm.creditCard.$invalid && paymentForm.submitted)
					     || (paymentForm.securityCode.$error && paymentForm.securityCode.$dirty && paymentForm.securityCode.$invalid && paymentForm.submitted)
					     || paymentForm.submitted && (paymentForm.securityCode.$invalid || paymentForm.creditCard.$invalid)">
						<ul ng-show="paymentForm.creditCard.$error && paymentForm.creditCard.$dirty && paymentForm.creditCard.$invalid || paymentForm.submitted ">
							<li ng-show="paymentForm.creditCard.$invalid && paymentForm.creditCard.$error.minlength" data-ng-bind="i18n.FormValidation.ccMinMaxLengthError"></li>
							<li ng-show="paymentForm.creditCard.$invalid && paymentForm.creditCard.$error" data-ng-bind="validCardTypes"></li>
							<li ng-show="paymentForm.submitted && paymentForm.ccType.$error.required" data-ng-bind="i18n.FormValidation.ccRequiredError"></li>
						</ul>
						<ul ng-show="paymentForm.securityCode.$error && paymentForm.securityCode.$dirty && paymentForm.securityCode.$invalid || paymentForm.submitted">
							<li ng-show="paymentForm.securityCode.$error && paymentForm.securityCode.$invalid &&  paymentForm.securityCode.$error.minlength"
							    data-ng-bind="i18n.FormValidation.cvvMinMaxError"></li>
							<li ng-show="paymentForm.submitted && paymentForm.securityCode.$error.required"
							    data-ng-bind="i18n.FormValidation.cvvRequiredError"></li>
						</ul>
					</div>
					<div class="inline">
						<div class="inline cc-month-year-group">
							<div class="inline cc-month-group">
								<div class="inline cc-month">
									<div class="control-group" data-ng-class="{'error':paymentForm.submitted && !paymentForm.$valid}">
										<div class="controls">
											<!-- TODO: Expiration Month value should be listed as 2 digits (ie padding 0 is required for 1-9) -->
											<select
												class="input-block-level"
												data-ng-model="payment.month"
												data-ng-options="month.value as month.text for month in months"
												name="month"
												data-expiration-month
												data-ng-class="{'focus':paymentForm.month.$error.required}"

												required>
												<option value="" data-ng-bind="i18n.FormLabels.expMonth"></option>
												<!--<option ng-repeat="month in months" value="{{$index+1 | leadingZeros:2}}"> {{$index+1}} - {{month}}</option>-->
											</select>
										</div>
									</div>
								</div>
							</div>
							<div class="inline cc-year-group">
								<div class="inline cc-year">
									<div class="control-group" data-ng-class="{'error':paymentForm.submitted && !paymentForm.$valid}">
										<div class="controls">
											<!-- TODO: Expiration Year value should be listed as 2 digits -->
											<select
												class="input-block-level"
												data-ng-model="payment.year"
												data-ng-options="year.value as year.text for year in years"
												name="year"
												data-ng-class="{'focus':paymentForm.year.$error.required}"

												data-expiration-year
												required>
												<option value="" data-ng-bind="i18n.FormLabels.expYear"></option>
												<!--<option ng-repeat="year in [] | range:currentYear:currentYear+13" value="{{year | rightSubstring:2}}"> {{year}}</option>-->
											</select>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="inline error-inline"
					     ng-show="
					     (paymentForm.month.$error && paymentForm.month.$dirty && paymentForm.month.$invalid)
					     || (paymentForm.year.$error && paymentForm.year.$dirty && paymentForm.year.$invalid) 
					     || paymentForm.submitted  
					     && (paymentForm.month.$invalid || paymentForm.year.$invalid)">
						<ul ng-show="paymentForm.month.$error">
							<li ng-show="paymentForm.month.$error.required" data-ng-bind="i18n.FormValidation.expMonthRequiredError"></li>
							<li ng-show="paymentForm.month.$error.invalid" data-ng-bind="i18n.FormValidation.invalidExpDateError"></li>
						</ul>
						<ul ng-show="paymentForm.year.$error">
							<li ng-show="paymentForm.year.$error.required" data-ng-bind="i18n.FormValidation.expYearRequiredError"></li>
						</ul>
					</div>	
					
				</div>
			</div>
		</div>
	</div>
</div>


<div class="inline btn-row clearfix">
	<button
		on-tap
		class="button-secondary sidebyside large"
		data-ng-click="$root.routeTo(routes.BILLING)" data-ng-bind="i18n.ButtonLabels.backButton"
		type="button">
	</button>
	<button
		on-tap
		class="button-primary sidebyside large"
		data-ng-click="save(payment)"
		data-ng-bind="i18n.ButtonLabels.next"
		type="submit">
	</button>
	<!--ng-disabled="paymentForm.$invalid"-->
</div>
</form>
