<div class="application-body-container " id="package-details">
	<div class="body-container-no-padding">

		<div class="row topbar-placement">
			<div class="col-12">
				<div class="btn-group btn-group-justified">
					<a class="btn btn-default arrow-up"><span class="icon-circle"><span class="steps">1</span></span> Billing</a>
					<a class="btn btn-default"><span class="icon-circle"><span class="steps">2</span></span> Review</a>
				</div>
			</div>
		</div>


		<div class="row side-padding animate-start" id="payment-method">
			<div class="col-12 col-sm-6 billing-info">
				<div class="panel">
					<div class="panel-heading" data-ng-bind="i18n.PaymentMethodView.selectPaymentMethodHeading"></div>
					<button
						on-tap
						type="button" class="btn btn-paypal btn-block paypal-large"
						data-ng-click="gotoPayPalCheckout()">
						<span class="sprite paypal_clean"></span>
					</button>
					<p class="center" data-ng-bind-html-unsafe="i18n.PaymentMethodView.payWithPayPal"></p>
					<div class="panel">
						<div class="panel-heading cursor"  data-ng-click="gotoBilling()">
							<ul class="nostyle creditcard-list"d>
								<li ng-repeat="cardType in cardTypes">
									<span class="sprite {{cardType | camelCase}}"></span>
								</li>
							</ul>

						</div>
					</div>
					<p class="center"  data-ng-bind-html-unsafe="i18n.PaymentMethodView.payWithCC"></p>
				</div>
			</div>
		</div>
	</div>
</div>


