<!--------------------------------------------
PAYPAL METHOD HEADING
---------------------------------------------->
<div class="panel package-items font-semi-bold" data-ng-show="showPayPalPaymentMethod">
	<div class="panel-heading" data-ng-bind="i18n.CartView.paymentMethodHeading"></div>
	<ul class="list-group">
		<li class="list-group-item">
			<div class="pgk package-name customer-type cart-package-name">
				<div class="cell2">
					<span class="cartItem-package-name" data-ng-bind="i18n.CartView.paypalAccountLabel"></span>
					<span class="limit" data-ng-bind="showBilling.email | truncate:30"></span>
				</div>
			</div>
			<div class="pgk right-container">
				<span class="sprite payment_type_paypal"></span>

			</div>
		</li>
	</ul>
</div>

<!--------------------------------------------
CART ITEMS
---------------------------------------------->
<div class="panel package-items cart-items">
	<div class="panel-heading center cart-heading">
		<span data-ng-bind="i18n.TicketView.orderLabel"></span>
		<span data-ng-bind="orderId" class="limit"></span>
	</div>
	<ul class="list-group">
		<li class="list-group-item" data-ng-repeat="cartItem in cartObject.cartItems" id="cart-item-{{$index}}">
			<div class="pgk package-name customer-type cart-package-name">
				<div class="cell2">
					<span class="cartItem-package-name" data-ng-bind="cartItem.package_name"></span>
					<span class="limit" data-ng-bind="cartItem.customer_type_name"></span>
								<span class="date" data-ng-show="cartItem.CHARACS[0].start_date">
									<span ng-bind="i18n.CartView.date"></span> <span class="limit quantity-value-label" ng-bind="cartItem.CHARACS[0].start_date | date:'MM/dd/yyyy'"></span>
								</span>
								<span class="time" data-ng-show="cartItem.CHARACS[0].start_time">
									<span ng-bind="i18n.CartView.time"></span> <span class="limit quantity-value-label" ng-bind="cartItem.CHARACS[0].start_time"></span>
								</span>
								<span class="validFrom" data-ng-show="cartItem.CHARACS[0].valid_from">
									<span ng-bind="i18n.TicketView.eventLabel"></span> <span class="limit quantity-value-label" ng-bind="cartItem.CHARACS[0].valid_from | date:'MM/dd/yyyy'"></span>
								</span>
				</div>
			</div>
			<div class="pgk right-container">
				<div class="pgk cart-qty-label" data-ng-hide="changeQty"><span class="qty-label" ng-bind="i18n.CartView.qtyLabel"></span>&nbsp;<span class="limit" ng-bind="cartItem.qty"></span>
				</div>
				<div class="pgk cart-view-price font-semi-bold"
				     data-ng-hide="changeQty" data-ng-bind="cartItem.retail_price * cartItem.qty | currencyFormatter : $root.currencyCode"></div>
			</div>
		</li>
	</ul>
	<div class="panel-footer cart-footer">
		<div class="subtotal-display-name" data-ng-bind="i18n.CartView.subtotal"></div>
		<div class="subtotal-total pull-right" data-ng-bind="cartObject.subTotal | currencyFormatter : $root.currencyCode"></div>
	</div>
</div>
<!--------------------------------------------
DISCOUNTS
---------------------------------------------->
<div class="panel package-items font-semi-bold discount-items"
     data-ng-show="cartObject.showDiscounts">
	<ul class="list-group">
		<li class="list-group-item">
			<div class="pgk package-name customer-type limit" data-ng-bind="i18n.CartView.discountLabel"></div>
			<div class="pgk package-price cart-view-price pull-right" data-ng-bind="cartObject.discountTotal | currencyFormatter : $root.currencyCode"></div>
		</li>
		<li class="list-group-item" data-ng-repeat="discount in cartObject.discountSource">
			<div class="pgk package-name customer-type" data-ng-bind="discount.label"></div>
			<div class="pgk package-price cart-view-price pull-right" data-ng-bind="discount.amount | currencyFormatter : $root.currencyCode"></div>
		</li>
	</ul>
</div>
<!--------------------------------------------
TAXES
---------------------------------------------->
<div class="panel package-items font-semi-bold">
	<ul class="list-group">
		<li class="list-group-item" data-ng-repeat="feeItem in cartObject.feeItems">
			<div class="pgk package-name customer-type" data-ng-bind="feeItem.label"></div>
			<div class="pgk package-price cart-view-price pull-right" data-ng-bind="feeItem.amount | currencyFormatter : $root.currencyCode"></div>
		</li>
	</ul>
	<div class="panel-footer cart-footer">
		<div class="subtotal-display-name" data-ng-bind="i18n.CartView.totalLabel"></div>
		<div class="subtotal-total pull-right" data-ng-bind="cartObject.total | currencyFormatter : $root.currencyCode"></div>
	</div>
</div>
<div class="page-break"></div>