<div class="row"  data-ng-controller="OrderLookupController">
	<div class="col-xs-12 col-sm-6 order-lookup">
		<div class="panel">
			<div class="panel-heading" data-ng-bind="i18n.OrderLookup.searchHeading"></div>
			<div class="row no-side-padding">
				<form name="orderLookupForm" novalidate data-ng-class="{submitted:orderLookupForm.submitted}">

					<div class="col-xs-12">
						<div class="form-group">
							<input
								class="form-control"
								clear-input-field
								name="emailAddress"
								type="email"
								maxlength="64"
								placeholder="{{i18n.FormLabels.email}}"
								autocomplete="on"
								required
								data-ng-model="orderLookup.emailAddress"/>
						</div>
					</div>
					<div class="col-xs-12">
						<div class="form-group">
							<input
								class="form-control"
								clear-input-field
								name="phoneNumber"
								type="tel"
								data-ng-minlength="10"
								maxlength="15"
								placeholder="{{i18n.FormLabels.phone}}"
								required
								data-ng-model="orderLookup.phoneNumber"/>
						</div>
					</div>

					<div class="col-xs-12">
						<div class="form-group">
							<button on-tap="" type="button" class="btn btn-primary btn-block no-margin"
							        data-ng-click="process(orderLookup,'/orderHistory')" data-ng-bind="i18n.ButtonLabels.searchButton"></button>
						</div>
					</div>
				</form>

			</div>

		</div>
	</div>
	<div class="col-xs-12 col-sm-6 pull-right" data-ng-show="orders">
		<div class="panel">
			<div class="panel-heading" data-ng-bind="i18n.OrderLookup.resultHeading"></div>
			<ul class="list-group order-history">
				<li class="list-group-item cursor" data-ng-repeat="order in orders" data-ng-click="viewOrderTickets">
					<div data-ng-click="$root.routeTo(order.order_link)">
						<span class="order-number" data-ng-bind="order.order_id"></span>
						<span class="order-date" data-ng-bind="order.order_date | date:'medium'"></span>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
