<div class="application-body-container footer-buttons" id="package-details">
	<div class="body-container-no-padding">
		<form
			name="dataForm"
			novalidate
			data-ng-class="{submitted:dataForm.submitted}"
			data-ng-show="formInited">
			<div class="row topbar-placement">
				<div class="col-xs-12">
					<div class="btn-group btn-group-justified">
						<a class="btn btn-default arrow-up limit"><span class="icon-circle"><span class="steps">1</span></span>
							<span data-ng-bind="i18n.PaymentProcess.shippingLabel"></span>
						</a>
						<a class="btn btn-default disabled"><span class="icon-circle"><span class="steps">2</span></span>
							<span data-ng-bind="i18n.PaymentProcess.billingLabel"></span>
						</a>
						<a class="btn btn-default disabled"><span class="icon-circle"><span class="steps">3</span></span>
							<span data-ng-bind="i18n.PaymentProcess.reviewLabel"></span>
						</a>
					</div>
				</div>
			</div>
			<div class="row side-padding" data-animate>
				<!--------------------------------------------
				SHIPPING METHODS
				---------------------------------------------->
				<div class="col-xs-12 col-sm-6 billing-info">

					<div class="panel panel-default cursor" data-ng-repeat="deliveryMethod in deliveryMethods" data-ng-class="{selected:deliveryMethod.selected}" data-ng-click="checkItem($index)">
						<div class="panel-body">
							<div class="checkbox-group shipping-groups">
								<input
									type="radio"
									id="method-{{$index}}"
									name="shippingMethod"
									class="regular-radio checkbox-styled"
									data-ng-value="true"
									data-ng-checked="deliveryMethod.selected"
									data-ng-click="checkItem($index)"
									/>

								<label for="method-{{$index}}">
									<span class="icon icon_checkmark-v5"></span>
								</label>

								<div class="description shipping-description">
									<div class="shipping-heading">
										<h2 class="" ng-bind-html-unsafe="deliveryMethod.desc"></h2>
										<span class="limit" data-ng-bind="priceLabel"></span>
									</div>
									<div class="shipping-long-desc" ng-bind-html-unsafe="deliveryMethod.long_desc"></div>
									<!--<span class="shipping-avatar" data-ng-class="deliveryMethod.icon"></span>-->
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--------------------------------------------
				SHIPPING INFO
				---------------------------------------------->
				<div class="col-xs-12 col-sm-6 billing-info" data-ng-show="dataFormEnabled">
					<div class="panel">
						<div class="panel-heading" data-ng-bind="i18n.ShippingView.shippingHeading"></div>
						<div class="row no-side-padding">
							<div class="row">
								<div class="col-xs-12">
									<div class="form-group">
										<input
											class="form-control text-capitalized"
											clear-input-field
											type="text"
											placeholder="{{i18n.FormLabels.firstName}}"
											name="firstName"
											data-ng-model="shipping.firstName"
											maxlength="32"
											data-ng-class="{'focus':dataForm.firstName.$error.required}"
											data-ng-required="dataFormEnabled">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12">
									<div class="form-group">
										<input
											class="form-control text-capitalized"
											clear-input-field
											type="text"
											placeholder="{{i18n.FormLabels.lastName}}"
											name="lastName"
											data-ng-model="shipping.lastName"
											maxlength="32"
											data-ng-class="{'focus':dataForm.lastName.$error.required}"
											data-ng-required="dataFormEnabled">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12">
									<div class="form-group">
										<input
											class="form-control text-capitalized"
											clear-input-field
											type="text"
											placeholder="{{i18n.FormLabels.streetAddress}}"
											name="address"
											maxlength="30"
											data-ng-model="shipping.address"
											data-ng-class="{'focus':dataForm.address.$error.required}"
											data-ng-required="dataFormEnabled">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12">
									<div class="form-group">
										<input
											class="form-control"
											clear-input-field
											type="text"
											placeholder="{{i18n.FormLabels.streetAddress2}}"
											name="address2"
											data-ng-model="shipping.address2"
											data-ng-class="{'focus':dataForm.address2.$error.required}"
											maxlength="30">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12">
									<div class="form-group">
										<input
											clear-input-field
											class="form-control"
											type="{{zipType}}"
											placeholder="{{i18n.FormLabels.zip}}"
											name="zip"
											id="zip"
											data-ng-model="shipping.zip"
											autofill-my-location
											maxlength="10"
											data-ng-minlength="5"
											data-ng-class="{'focus':dataForm.zip.$error.required}"
											data-ng-required="dataFormEnabled">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12">
									<div class="form-group">
										<div class="dropdown-item">
											<select
												class="form-control"
												name="country"
												data-ng-model="shipping.country"
												data-ng-options="country.code as country.name for country in countries"
												data-ng-required="dataFormEnabled"
												data-ng-class="{'focus':dataForm.country.$error.required}"
												data-ng-change="setTelephone(shipping.country); handleCountriesChanged()">
												<option value="" data-ng-bind="i18n.FormLabels.country"></option>
											</select>

										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-6">
									<div class="form-group">
										<input
											class="form-control text-capitalized"
											clear-input-field
											type="text"
											placeholder="{{i18n.FormLabels.city}}"
											name="inputCity"
											id="inputCity"
											maxlength="30"
											data-ng-model="shipping.city"
											data-ng-class="{'focus':dataForm.inputCity.$error.required}"
											data-ng-required="dataFormEnabled">
									</div>
								</div>
								<div class="col-xs-6">
									<div class="form-group">
										<div class="dropdown-item">
											<!--
											If states/provinces/regions are not available for selected country, hide the dropdown,
											make it not required and at the same time, show the state/province input field and make that required.
											-->
											<select
												class="form-control"
												name="state"
												data-ng-show="regions[shipping.country].length"
												data-ng-model="shipping.state"
												data-ng-options="region.code as region.name for region in regions[shipping.country]"
												data-ng-class="{'focus':dataForm.state.$error.required}"
												data-ng-required="regions[shipping.country].length && dataFormEnabled">
												<option value="" data-ng-bind="i18n.FormLabels.state"></option>
											</select>


											<input
												clear-input-field
												data-ng-hide="regions[shipping.country].length"
												class="form-control"
												type="text"
												maxlength="32"
												placeholder="{{i18n.FormLabels.state}}"
												name="provinceState"
												data-ng-model="shipping.provinceState"
												data-ng-class="{'focus':dataForm.provinceState.$error.required}"
												data-ng-required="!regions[shipping.country].length && dataFormEnabled">

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--------------------------------------------
				OPT-INS
				---------------------------------------------->
				<div class="col-xs-12 col-sm-6 pull-right" data-ng-show="optins.length">
					<!--------------------------------------------
					OPT-INS
					---------------------------------------------->
					<div class="panel package-items font-semi-bold">
						<div class="panel-heading" data-ng-bind="i18n.ShippingView.optinLabel"></div>
						<ul class="list-group">
							<li class="list-group-item clearfix cursor" data-ng-repeat="optin in optins">
								<div class="checkbox-group">
									<input
										type="checkbox"
										id="checkbox-{{$index}}"
										class="regular-checkbox large"
										data-ng-model="optin.checked"
										data-ng-checked="optin.checked"
										name="{{optin.target}}">
									<label for="checkbox-{{$index}}" class="cursor">
										<span class="icon icon_checkmark-v5"></span>
									</label>

									<div class="description large" data-ng-bind="i18n.ShippingView[optin.target]"></div>
								</div>
							</li>
						</ul>
					</div>

				</div>
			</div>
		</form>
	</div>
</div>

<div class="row">
	<div class="col-xs-12 col-sm-12 pull-right">
		<div class="row btn-row">
			<div class="col-sm-6"></div>
			<div class="col-xs-12 col-sm-6 pull-right">
				<div>
					<button
						on-tap
						type="button" class="btn btn-primary btn-block"
						data-ng-click="save(shipping)"
						data-ng-bind="i18n.ButtonLabels.continueButton">
					</button>
				</div>
			</div>
		</div>
	</div>
</div>


