<div class="row keywords" data-ng-show="showAllItems">
	<ul class="nostyle sub-keywords">
		<li
			data-ng-repeat="subItem in subMenuItems"
			data-ng-class="{selected: subItem.selected}"
			data-ng-click="onKeywordMenuItemClick($event, this)">
			<span data-ng-bind="subItem.label"></span>
		</li>
	</ul>
</div>