<div class="application-body-container footer-buttons" id="">
	<div class="body-container">

		<div class="row package-details-buttons">
			<div class="col-xs-12">
				<div class="btn-group btn-group-justified">
					<a on-tap type="button" class="btn btn-default btn-rates" data-ng-class="{'selected':ticketObject.switchPage == 'receipt'}" data-ng-click="ticketObject.switchPage = 'receipt'"
						ng-bind-html-unsafe="i18n.TicketView.receiptLabel"></a>
					<a on-tap type="button" class="btn btn-default btn-info" data-ng-class="{'selected':ticketObject.switchPage == 'tickets'}" data-ng-click="ticketObject.switchPage = 'tickets'"
					   ng-bind-html-unsafe="i18n.TicketView.ticketLabel"></a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-6 receipt-view" data-ng-class="{show:ticketObject.switchPage == 'receipt'}">
				<div ng-include="'/views/receiptView.html'"></div>
			</div>
			<div class="page-break"></div>
			<div class="col-xs-12 col-sm-6 pull-right tickets-view" data-ng-show="ticketObject.switchPage == 'tickets'">
				<div ng-include="'/views/ticketView.html'"></div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xs-12 col-sm-6 pull-right">
		<div class="row btn-row">
			<div class="col-xs-12">
				<div class="button-spacers">
					<button
						on-tap
						ng-show="ticketObject.fromOrderLookup"
						type="button" class="btn btn-default btn-block"
						data-ng-click="gotoOrderResults()"
						data-ng-bind="i18n.ButtonLabels.backButton">
					</button>
					<button
						on-tap
						ng-hide="ticketObject.fromOrderLookup"
						type="button" class="btn btn-success btn-block"
						data-ng-click="continueShopping()"
						data-ng-bind="i18n.ButtonLabels.placeNewOrder">
					</button>
				</div>
			</div>
		</div>
	</div>
</div>

