<div class="panel">
	<div class="panel-heading center cart-heading">
		<span data-ng-bind="i18n.TicketView.orderLabel"></span>
		<span data-ng-bind="orderId" class="limit"></span>
	</div>
	<ul class="list-group">
		<li class="list-group-item cursor smaller-list-item ticket-view-item" data-ng-repeat="ticket in tickets" data-ng-class="{'ticket-name-view-display':!ticket.ticket_view}">
			<div class="ticket-heading" data-ng-click="toggleTicketDisplay($index)" data-ng-class="{'selected': ticketDisplayIndex.display[$index]}">
				<span class="package-name limit" data-ng-bind="ticket.package_name"></span>
				<span class="ticket-customer-name pull-right" data-ng-bind="ticket.CHARACS.ticket_customer_name" data-ng-hide="ticketDisplayIndex.display[$index]"></span>

				<div class="pull-right" data-ng-show="ticketDisplayIndex.display[$index] && !isSpecialDelivery && ticket.ticket_view">
					<button type="button" on-tap class="btn btn-success btn-xs" data-ng-bind="i18n.ButtonLabels.passbook"
					        data-ng-show="tickets[currentTicket-1].use_passbook == 1"
					        data-ng-click="routeURL('{{merchant.passbook}}/?o={{orderId}}&i={{merchant.island}}&b={{tickets[currentTicket-1].barcode}}&u={{merchant.userId}}&e={{merchant.environment}}')"></button>
					<button type="button" class="btn btn-primary btn-xs" data-ng-click="flip($index)" data-ng-class="{'btn-success':ticketDisplayIndex.back[$index]}">
						<span class="icon-info" data-ng-show="ticketDisplayIndex.front[$index]"></span>
						<span class="icon-chevron-left" data-ng-show="ticketDisplayIndex.back[$index]"></span>
					</button>
				</div>
			</div>
			<div class="the-ticket-view" data-ng-show="ticketDisplayIndex.display[$index]">
				<div class="will-call-section" data-ng-show="isSpecialDelivery">
					<h2 data-ng-bind="i18n.TicketView.willCallOrderMessageTitle"></h2>

					<p ng-bind-html-unsafe="i18n.TicketView.willCallOrderMessage"></p>

					<p>
						<span data-ng-bind="i18n.TicketView.confirmationNumber"></span>:
						<span class="confirmation" data-ng-bind="confirmationNumber"></span>
					</p>
				</div>

				<div class="the-ticket" data-ng-show="!isSpecialDelivery && ticket.ticket_view || ticket.isValid == 0">
					<div class="ticket-view ticket-front" id="ticketFront-{{ $index }}" data-ng-show="ticketDisplayIndex.front[$index] && ticket.ticket_view">
						<div class="ticket-information">
							<div class="customer-name" data-ng-bind="ticket.CHARACS.ticket_customer_name"></div>
							<div class="package-name" data-ng-bind="ticket.package_name"></div>
							<div class="rate-type limit" data-ng-bind="ticket.customer_type_name"></div>
						</div>

						<div
							class="start-date"
							data-ng-show="ticket.showAdvancedTicket">
							<span data-ng-bind="i18n.TicketView.eventLabel"></span>
							<span class="limit" data-ng-bind="ticket.CHARACS.valid_from | date:'MM/dd/yyyy'"></span><!-- N Day Advance/Date & Time -->

						</div>
						<label class="ticket-package-name" for="{{ticket.customer_name}}_{{$index}}" class="package-name">
							<p>
								<!-- Date/Time -->
								<br data-ng-show="ticket.showDateTime"/>
						<span data-ng-show="ticket.showDateTime">
						<span class="bold" data-ng-show="ticket.EVENT.start_date" data-ng-bind="i18n.CartView.date"></span> <span
							data-ng-show="ticket.EVENT.start_date" data-ng-bind="ticket.EVENT.start_date | date:'MM/dd/yyyy'"></span>
						</span>
						<span data-ng-show="ticket.EVENT">
							<span class="bold" data-ng-show="ticket.EVENT.start_time" data-ng-bind="i18n.CartView.time"></span> <span data-ng-show="ticket.EVENT.start_time"
							                                                                                                          data-ng-bind="ticket.EVENT.start_time"></span>
						</span>
							</p>
						</label>

						<div class="barcode" data-ng-show="{{ticket.isValid==1}}">
							<canvas data-barcode id="canvas{{ $index }}" class="canvas"></canvas>
							<div class="barcode-text">
								<span data-ng-bind="i18n.TicketView.barcodeLabel"></span> <span class="barcode-number" data-ng-show="ticket.isValid==1" data-ng-bind="ticket.barcode"></span>
							</div>
						</div>
						<span class="sprite void-stamp" data-ng-show="ticket.isValid==0"></span>
					</div>
					<div class="ticket-back" data-ng-show="ticketDisplayIndex.back[$index]" id="ticketBack-{{ $index }}">
						<div class="back-content">
							<div class="ticket-information">
								<div class="ticket-back-header">
									<p data-ng-bind-html-unsafe="ticket.mobile_header"></p>

									<p data-ng-bind-html-unsafe="ticket.mobile_footer"></p>
									<hr/>
								</div>
								<div data-ng-show="ticket.ticket_instructions">
									<p data-ng-bind="i18n.TicketView.instructions"></p>

									<p data-ng-bind-html-unsafe="ticket.ticket_instructions"></p>
									<hr/>

								</div>
								<div data-ng-show="ticket.ticket_more_info">
									<p data-ng-bind="i18n.TicketView.moreInfo"></p>

									<p data-ng-bind-html-unsafe="ticket.ticket_more_info"></p>
									<hr/>
								</div>
								<div data-ng-show="ticket.ticket_additional_info">
									<p data-ng-bind="i18n.TicketView.additionalInfo"></p>

									<p data-ng-bind-html-unsafe="ticket.ticket_additional_info"></p>
									<hr/>
								</div>
								<div data-ng-show="ticket.ticket_terms_of_use">
									<p data-ng-bind="i18n.TicketView.terms"></p>

									<p data-ng-bind-html-unsafe="ticket.ticket_terms_of_use"></p>
									<hr/>
								</div>
								<div data-ng-show="ticket.ticket_disclaimer">
									<p data-ng-bind="i18n.TicketView.disclaimer"></p>

									<p data-ng-bind-html-unsafe="ticket.ticket_disclaimer"></p>
									<hr/>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="the-ticket-name" data-ng-show="!ticket.ticket_view && !isSpecialDelivery">
					<form
						novalidate>
						<div class="col-xs-12">
							<div class="form-group">
								<input
									clear-input-field
									data-no-next
									class="form-control text-capitalized"
									id="ticket-fname-{{$index}}"
									type="text"
									required
									name="input"
									maxlength="35"
									data-ng-model="ticket.customerFirstName"
									placeholder="{{i18n.TicketView.customerFirstName}}"
									/>
							</div>
						</div>
						<div class="col-xs-12">
							<div class="form-group">
								<input
									clear-input-field
									data-no-next
									class="form-control text-capitalized"
									type="text"
									required
									id="ticket-lname-{{$index}}"
									name="input"
									maxlength="35"
									data-ng-model="ticket.customerLastName"
									placeholder="{{i18n.TicketView.customerLastName}}"
									/>
							</div>
						</div>

						<div class="col-xs-12" data-ng-show="$index == 0">
							<div class="checkbox-group copy-last-name-check">
								<input
									type="checkbox"
									id="checkbox-{{$index}}"
									class="regular-checkbox large"
									data-ng-model="optin.checked"
									data-ng-checked="optin.checked"
									name="{{optin.target}}">
								<label for="checkbox-{{$index}}" class="cursor" data-ng-click="copyLastName(ticket.customerLastName)">
									<span class="icon icon_checkmark-v5"></span>
								</label>

								<div class="description large" data-ng-bind="i18n.TicketView.ticketNameCopy"></div>
							</div>
						</div>

						<div class="col-xs-12">
							<button
								on-tap
								type="button" class="btn btn-primary btn-block"
								data-ng-click="nameSubmit(ticket)"
								data-ng-bind="i18n.TicketView.ticketNameSubmit">
							</button>
						</div>
					</form>
				</div>
			</div>
			<div class="page-break"></div>
		</li>
	</ul>
</div>
<!-- close id="ticket-view"-->
</div>
