<div class="tablet-navigation-menu">
	<ul class="nostyle">
		<li data-ng-click="topNavItemClick($event, topMenu)" data-ng-repeat="topMenu in menuItems" data-ng-class="{'selected': topMenu.selected==true}" data-ng-bind="topMenu.label"></li>
	</ul>
</div>

<div class="help-container cursor"  data-ng-click="routeTo('help', true)">
	<span class="icon-check-empty">
		<span class="icon-question"></span>
	</span>
	<span class="string">Help</span>
</div>
<div class="cart-container pull-right cursor" data-ng-click="routeTo('cartView')" data-ng-show="showCartBtn">
	<span class="icon icon_cart-v5"></span>
	<span class="string"><span class="count" data-ng-bind="state.cart.totalQty"></span> <span class="cart-text" data-ng-bind-html-unsafe="i18n.Alert.cartHeaderString"></span></span>
</div>

