<div class="application-body-container footer-buttons" id="date-time">
	<div class="body-container">
		<div class="row">

			<div class="col-xs-12 col-sm-6 package-details v5-hide">
				<div class="panel">
					<div class="panel-heading" data-ng-bind="i18n.PackageDetails.packageDetailHeading"></div>
					<div class="panel-body">
						<h3 data-ng-bind="packageDetails.name"></h3>
						<h5 data-ng-bind="packageDetails.headline"></h5>

						<p ng-bind-html-unsafe="packageDetails.desc" class="no-formatting"></p>

						<p ng-bind-html-unsafe="packageDetails.more_info"></p>
						<span class="spacer"></span>
					</div>
				</div>
			</div>

			<div class="col-xs-12 col-sm-6 pull-right">
				<div class="panel">
					<div class="panel-heading"><span class="header-desc" data-ng-bind="heading"></span></div>

					<div
						id="datePickerCtrl"
						calendar-directive
						callbacks="callbacks"
						cal-options="calOptions"
						selected-date="selectedDate"
						min-capacity="minCapacity"
						customer-type-list="customerTypeList"
						class="calendar-container">

					</div>
					<div class="calendar-container">
					<form name="timeForm" novalidate>
						<div class="form-group">
							<div class="dropdown-item">
								<select
									id="time-select"
									class="form-control"
									name="time"
									ng-model="timeSelection"
									ng-options="c.time for c in timeList"
									required>
									<option value="" ng-bind="i18n.FormLabels.selectTime"></option>
								</select>
								<div class="error-inline"
								 data-ng-class="{hide:timeForm.time.$error && !submitted || timeForm.time.$valid}"
								 data-ng-bind="i18n.FormValidation.dateRequired"></div>
							</div>
						</div>
					</form>
					</div>

					<div class="panel-footer datetime-display" data-ng-show="dt">
						<em data-ng-bind="dt | date:'fullDate'"></em>
						<br data-ng-show="showTimeList"/>
						<em data-ng-show="timeSelection && showTimeList">
							<span data-ng-bind="i18n.FormLabels.at" data-ng-show="showTimeList"></span>
							<span data-ng-bind="timeSelection.time" data-ng-show="showTimeList"></span>
						</em>
					</div>
				</div>
				<span data-ng-show="enableTimeLimit" data-ng-bind="i18n.DateTime.timeLimitMessage"></span>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xs-12 col-sm-6 pull-right">
		<div class="row btn-row">
			<div class="col-xs-6 col-md-6">
				<div class="button-spacers">
					<button
						on-tap
						type="button" class="btn btn-default btn-block"
						data-ng-click="cancel()"
						data-ng-bind="i18n.ButtonLabels.cancel">
					</button>
				</div>
			</div>
			<div class="col-xs-6 col-md-6">
				<div class="button-spacers">
					<button
						on-tap
						type="button" class="btn btn-success btn-block"
						data-ng-click="save()"
						data-ng-bind="i18n.ButtonLabels.next">
					</button>
				</div>
			</div>
		</div>
	</div>
</div>

