<div class="application-body-container" id="date-time">
	<div class="body-container">

		<div class="app-header semi-bold">
			<span class="sprite calendar"></span>
			<span class="header-desc" data-ng-bind="heading"></span>
		</div>

		<div class="app-details border-bottom calendar-ui">
			<div
				class="term-and-conditions checkbox-list list-items"
				data-ng-show="reservations.length > 1">
				<ul>
					<li>
						<input
							type="checkbox"
							id="sameLastNameChk"
							class="regular-checkbox"
							data-ng-checked="sameLastNameChk"
							data-ng-true-value="1"
							data-ng-false-value="0"
							data-ng-model="smLastName"
							data-ng-change="handleChkChanged()"
							name="sameLastNameChk">
						<label for="sameLastNameChk"></label>
					</li>
					<li data-ng-bind="i18n.Reservations.sameLastName"></li>
				</ul>
			</div>

			<div class="app-details border-bottom calendar-ui">
				<div class="control-group">
					<div class="controls">

						<form name="theForm" novalidate data-ng-class="{submitted:theForm.submitted}">
							<div data-ng-repeat="reservation in reservations">
								<h2 class="align-left" data-ng-bind="reservation.customerTypeName"></h2>
								<br/>

								<div class="control-group">
									<div class="controls">
										<input
											clear-input-field
											type="text"
											placeholder="{{i18n.FormLabels.firstName}} {{$index}}"
											name="firstName"
											data-ng-model="reservation.firstName"
											maxlength="32"
											data-ng-minlength="1"
											data-ng-class="{'focus':theForm.firstName.$error.required}"

											data-ng-required="true">
										<ul class="error-inline" data-ng-show="theForm.firstName.$error && !reservation.firstName && theForm.submitted">
											<li data-ng-bind="i18n.FormValidation.firstNameRequiredError"></li>
										</ul>

										<ul class="error-inline hide" data-ng-class="{'show':ticket.submit_attempt && !ticket.customerLastName}">
											<li data-ng-bind="i18n.FormValidation.nameRequiredError"></li>
										</ul>
									</div>
									<div
										class="controls"
										data-ng-hide="smLastName == '1' && $index > 0">
										<input
											clear-input-field
											type="text"
											placeholder="{{i18n.FormLabels.lastName}}"
											name="lastName"
											data-ng-model="reservation.lastName"
											maxlength="32"
											data-ng-minlength="1"
											data-ng-class="{'focus':theForm.lastName.$error.required}"

											data-ng-required="true"
											data-ng-change="handleTxtChanged($index)"
											data-ng-hide="smLastName == '1' && $index > 0">
										<ul class="error-inline" data-ng-show="theForm.lastName.$error && !reservation.lastName && theForm.submitted">
											<li data-ng-bind="i18n.FormValidation.lastNameRequiredEerror"></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="btn-row clearfix" data-accesso-footer>
	<button
		on-tap
		class="button-secondary large"
		data-ng-click="cancel()"
		data-ng-bind="i18n.ButtonLabels.cancel">
	</button>

	<button
		on-tap
		class="button-primary large"
		data-ng-click="save()"
		data-ng-bind="i18n.ButtonLabels.next">
	</button>
</div>
